---
# •••••••••••••••••••••••••••••
# Page Options
# •••••••••••••••••••••••••••••

title: "A Focus on Design – UX Brighton Conference 2019"

description: "Design has many meanings. This conference will cover a broad range of them. From visual design to organisational design maturity, from data visualisation to design thinking."

fullurl: "https://uxbri.org/2019/"
slug: "conference-2019"

# Page style
layout: conference-2019
masthead-color: dark
hero-image: ""

# Social media cards
image: "https://uxbrighton.org.uk/images/cards/2019.jpg"


# •••••••••••••••••••••••••••••
# Displayed in upcoming sections
# •••••••••••••••••••••••••••••

upcoming-image: ""
upcoming-text: ""
upcoming-button-text: ""


# •••••••••••••••••••••••••••••
# Conference Switches
# •••••••••••••••••••••••••••••

# TICKETS

ticket-button: hide # Can be: show, hide. 
ticket-button-text: "Buy now — £170 + vat"
ticket-button-url: "https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets"
ticket-button-extra-text: "Cash only tickets will be available on the door for £230 (incl vat)."

# PAGE SECTIONS

# Hero section contents search for 🦸

event-promo-top-of-page:        show # Can be: show, hide. 
event-promo-footer:             show # Can be: show, hide. 

# Pre and during conference
travel-and-accommodation-blurb: show # Can be: show, hide. 
pre-party:                      show # Can be: show, hide. 
speakers:                       show # Can be: show, hide. Edit speaker content in: conf-page-partials/speakers.html
sponsors:                       show # Can be: show, hide. 
highlights:                     show # Can be: show, hide. 
workshops:                      show # Can be: show, hide. 

# SPEAKERS, TALKS and SCHEDULE
talk-times:                     show # Can be: show, hide. (times for registration, talk times, party etc)
registration:                   hide # Can be: show, hide. 
after-party:                    hide # Can be: show, hide. 

# Post conference
talk-slides:                    show # Can be: show, hide. 
talk-videos:                    show # Can be: show, hide. 


---


  



  <!-- Add this code to event page: -->
  <main class="">

    <section id="hero" class="overlay__outer pa0" style="background: url('/2019/images/header-1.jpg') center center no-repeat #000; background-size: cover;">
      <div class="overlay__inner overflow-hidden">
        <div class="upcoming-events-outer">
          {% if page.event-promo-top-of-page == "show" %}
            {% include 2019-upcoming-mini.html %}
          {% endif %}
        </div>
        <div class="container color-white">
          <!-- 🦸 Chnge the URL beloe to change Hero Content -->
          {% comment %}

            {% include_relative conf-page-partials/hero-pre-conference-main.html %}

            {% include_relative conf-page-partials/hero-buy-on-the-door.html %}

            {% include_relative conf-page-partials/hero-its-a-wrap.html %}

          {% endcomment %}

            {% include_relative conf-page-partials/hero-its-a-wrap.html %}

        </div>
      </div>
    </section>


    {% include_relative conf-page-partials/in-page-nav.html %}


    <section id="overview" class="relative">
      <div class="container" style="position: static;">
        <div class="row gutters__container ">
          <div class="u2of3-over-l left-over-l  gutters if-cta-is-stuck__adjacent-content">
            <h2 class="mb2">Why Design? Why now?</h2>
            <p class="standfirst">Join us for our 9th annual one-day conference.</p>
            <div class="if-cta-is-stuck__adjacent-content__text">
              <p>At this year's conference, we want to focus on the craft of design: on expanding our understanding and the skills we need to build fluid and rewarding experiences. We want to stimulate discussion and enrich design knowledge, elevating the importance of design in the UX process. We want to help widen the understanding of design, so that everyone who builds UX outcomes can speak the same language.</p>
              <p>You'll find UXers of all levels – from those just starting out to senior managers – all looking to embrace the latest thinking. So <a href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets">join us</a> for the day. Gather skills and insights that will bring solid benefits for you, your colleagues and your clients. </p>
              <p class="mb0"><a href="/2019/convince-your-boss">Convince your boss</a> to invest in your development.</p>
            </div>
          </div><!-- u2of3-over-l -->
          <!-- sticky cta area -->
          <div class="u1of3-over-l right-over-l gutters gutter-top-under-m if-cta-is-stuck__cta">
            {% if page.ticket-button == "show" %}
            <div class="if-cta-is-stuck__tickets">
              <h2 class="mb2">Get tickets</h2>
              <a onclick='ga("send", "event", "conference", "click", "buynow");' href="{{ page.ticket-button-text }}" class="button button--large button--green bold standfirst">{{ page.ticket-button-text }}</a>
              {% if page.ticket-button-extra-text %}
                <p>{{ page.ticket-button-extra-text }}</p>
              {% endif %}
            </div>
            {% endif %}
            <h2 class="mb2 mt4">Stay updated</h2>
            <p>Join our newsletter for announcements and information about our evening talks.</p>
            {% include mail-list-signup-form.html id=4 green_signup=false email_border=true %}
          </div><!-- u1of3-over-l -->
        </div><!-- row -->
        <div class="testimonial">
          <div class="row pv5 border-top border-bottom mt0">
            <blockquote class="standfirst">
              <div class="quote">
                <p>Fantastic conference - a fresh mix of new ideas, provocative speakers, and a highly engaged audience. Well worth the trip. </p>
              </div>
              <div class="quotee">Alex Wright, Director of User Experience at the New York Times</div>
            </blockquote>
          </div>
        </div><!-- testimonial -->
        {% if page.travel-and-accommodation-blurb == "show" %}
          {% include_relative conf-page-partials/travel-and-accommodation.html %}
        {% endif %}
        {% if page.pre-party == "show" %}
          {% include_relative conf-page-partials/pre-party.html %}
        {% endif %}
      </div>
    </section>


    {% if page.speakers == "show" %}
      {% include_relative conf-page-partials/speakers.html %}
    {% endif %}


    {% if page.sponsors == "show" %}
      {% include_relative conf-page-partials/sponsors.html %}
    {% endif %}


    {% if page.highlights == "show" %}
      {% include_relative conf-page-partials/highlights.html %}
    {% endif %}


    {% if page.workshops == "show" %}
      {% include_relative conf-page-partials/workshop.html %}
    {% endif %}


  </main>



  
