---
layout: conference-2019
title: A Focus on Design – UX Brighton Conference 2019

redirect_from:
  - /

description: "Design has many meanings. This conference will cover a broad range of them. From visual design to organisational design maturity, from data visualisation to design thinking."

image: "https://uxbrighton.org.uk/images/cards/2019-early.jpg"
slug: "conference-2019"
fullurl: "https://uxbrighton.org.uk/2019/"

body-classes: "is-pre-conference"

display-speakers: true
early-bird-tickets: true

# new switches to be plumbed-in
display-travel-accomodation: false
display-talk-times: false
display-slides: false
display-videos: false


masthead-color: dark
hero-image: ""

upcoming-image: ""
upcoming-text: ""
upcoming-button-text: ""


---


<style>
  .masthead {
    background:#1a272c;
  }
  .masthead__links .masthead__link {
    color: #fff;
    border-color: #000 !important;
  }
  .masthead__link__unfocused {
    color: #000;
    border-color: #000 !important;
  }
  .masthead__link svg {
    fill: white;
  }
  #promotions hr {
    visibility: hidden;
  }
  @media (max-width: 500px ){
    .banner-sponsor-logo {
      width: 130px;
    }
  }
  .video-box {
    max-width: 380px;
    padding-bottom: 32px;
  }
  .video-box img {
    width: 100%;
  }
  .video-box a {
    display: block;
    overflow: hidden;
    border-radius: 1rem;
    background: #000;
  }
  .video-box a:hover img {
    opacity: 0.8;
    /*transform: scale(1.1);*/
  }
  .video-box:nth-child(1) {
    padding-right: 16px !important;
  }
  .video-box:nth-child(2) {
    padding-left: 16px !important;
  }

  /* under l */
  @media (max-width: 950px ){
  }

  /* under m */
  @media (max-width: 730px ){
    .video-box:nth-child(1) { padding-right: 8px !important; }
    .video-box:nth-child(2) { padding-left: 8px !important; }
    .video-box { padding-bottom: 16px; }
  }

  /* under s */
  @media (max-width: 450px ){
    .video-box:nth-child(1) { padding-right: 0px !important; }
    .video-box:nth-child(2) { padding-left: 0px !important; }
    .video-box { padding-bottom: 16px; }
    .pt3-under-s {
      padding-top: 24px;
    }
  }
  @media (min-width: 730px ){
    .bba {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    .bba2 {
      flex-direction: column;
      align-content: right;
    }
  }
  @media (min-width: 730px ){
    .nav-item--tickets {

    }
  }
  @media only screen and (max-width: 450px) {
    #top .nav-item--tickets a {
      padding: 20px 0 0 !important;
      height: auto;
    }
    #top .nav-item--tickets a:hover {
      box-shadow: initial;
    }
  }
  .nav-item--tickets {
    display: none;
  }
  .nav--in-page-is-stuck .nav-item--tickets {
    display: inline-block;
  }
  a.button.button--large.button--green.bold.standfirst {
    width: 100%;
    max-width: 355px;
  }
  .upcoming-events-outer {
    position: absolute;
    top: 7rem;
    left: calc(50% + 15rem);
    width: 22.2rem;
  }
  .main-text-padding {
    padding-top: 25%;
  }
  @media only screen and (max-width: 1260px) {
    .upcoming-events-outer {
      left: unset;
      right: 3.5rem;
    }
    .main-text-padding {
      padding-top: 20rem;
    }
  }
  @media only screen and (max-width: 599px) {
    .upcoming-events-outer {
      display: none;
    }
    .main-text-padding {
      padding-top: 25%;
    }
  }
</style>


  <!-- Add this code to event page: -->
  <main class="">

    <section id="intro" class="overlay__outer pa0" style="background: url('/2019/images/header-1.jpg') center center no-repeat #000; background-size: cover;">
      <div class="upcoming-events-outer">
        {% include 2019-upcoming-mini.html %}
      </div>
      <div class="color-white main-text-padding">
        <div style="background: rgba(1,15,21,0.5);">
          <div class="container bba">
            <div class="-u2of3-over-m pt3 bba1" style="margin-bottom: 20px;">
              <h1 itemprop="name" class="fs-xxxl leading-solid">
                <span class="fs-l block track-normal weight-400 mb1" >UX Brighton 2019</span>
                A Focus on Design
              </h1>
              <p class="mt0 fs-l regular track-normal mb0">Friday 1 November, Brighton Dome</p>
            </div><!-- u2of3-over-m -->
            <!--
            <div class="u1of3-over-m mv3  bba2">
              <div class="inline-block right-over-m">
                <div class="pt0-under-m ">Sponsored by</div>
                <a href="https://madgex.com" title="Visit madgex.com"><img alt="Madgex" src="/2018/images/sponsor-logos/madgex-white.svg" width="200" class="banner-sponsor-logo"></a>
                <div><a class="color-white underline" href="mailto:emmeline@uxbrighton.org.uk">Email us</a> for sponsorship opportunities</div>
              </div>
            </div>
            -->
          </div><!-- container -->
        </div><!-- row -->
      </div>
    </section>

    <div class="relative nav--in-page sticky drop bg-white  bold z-max top-0 " style="height: 51px; z-index: 200;">
      <div class="container ">
        <ul class="nav ph0">

          <li class="inline-block nav-item color-black">
            <!-- <div class="hidden-if--nav--in-page-is-stuck">
              In this page:
            </div> -->
            <a href="#overview" class="-show-if--nav--in-page-is-stuck masthead__link nav-link color-black">
              Intro<span class="hidden-under-m">duction</span>
            </a>
          </li>

          {% if page.display-speakers == true %}
            <li class="nav-item inline-block ">
              <a href="#talks" class="masthead__link nav-link color-black">Talks</a>
            </li>
          {% else %}
            <li class="nav-item inline-block ">
              <a href="#highlights" class="masthead__link nav-link color-black"><span class="hidden-under-m">Past highlights</span><span class="hidden-over-m">Highlights</span></a>
            </li>
          {% endif %}


          <li class="nav-item inline-block ">
            <a href="#sponsors" class="masthead__link nav-link color-black">Sponsors</a>
          </li>

          <li class="nav-item inline-block hidden-under-l">
            <a href="#promotions" class="masthead__link nav-link color-black">Other events</a>
          </li>

          <li class="nav-item inline-block nav-item--tickets">
            <a href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets" class="button button--green bold" style="padding:8px; vertical-align: baseline;"><span class="hidden-under-m">Buy </span>Tickets</a>
          </li>

        </ul>
      </div>
    </div>

    <section id="overview">

      <div class="container">


        <div class="row gutters__container">

          <div class="u2of3-over-l left-over-l  gutters">
            <h2 class="mb2">Why Design? Why now?</h2>
            <p class="standfirst">Join us for our 9th annual one-day conference.</p>
            <p>While the industry concentrates on research as the foundation for user experience, design chugs along in the background, not getting the attention it deserves. On many projects design just happens, but it should fit hand in glove with research: design should answer the challenges that research identifies.</p>

            <p>At this year's conference, we want to focus on the craft of design: on expanding our understanding and the skills we need to build fluid and rewarding experiences. We want to stimulate discussion and enrich design knowledge, elevating the importance of design in the UX process. We want to help widen the understanding of design, so that everyone who builds UX outcomes can speak the same language.</p>

            <p>You'll find UXers of all levels – from those just starting out to senior managers – all looking to embrace the latest thinking. So <a href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets">join us</a>: our goal is that everyone who attends will leave with a heightened awareness of design.</p>



            <!-- <h3 class=" ">Book now — ticket sales end 1st November</h3> -->
            <!-- <p>Join us for the day. Gather skills and insights that will bring solid benefits for you, your colleagues and your clients. </p>
            <p><a href="/convince-your-boss">Convince your boss</a> to invest in your development.</p>-->
          </div>


          <div class="u1of3-over-l right-over-l gutters gutter-top-under-m">

            {% if page.display-speakers == true %}

              {% if page.early-bird-tickets == true %}
                <h2 class="mb2">Early bird tickets</h2>
                <a onclick='ga("send", "event", "conference", "click", "buynow");' href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets" class="button button--large button--green bold standfirst">Buy now — £145 + vat</a>
              {% else %}
                <h2 class="mb2">Tickets</h2>
                <a onclick='ga("send", "event", "conference", "click", "buynow");' href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets" class="button button--large button--green bold standfirst">Buy now — £170 + vat</a>
              {% endif %}

            {% else %}

              <h2 class="mb2">Super early bird tickets</h2>
              <a onclick='ga("send", "event", "conference", "click", "buynow");' href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets" class="button button--large button--green bold standfirst">Buy now — 35% off</a>
              <p>A limited number of super early bird tickets are available at a 35% discount&thinsp;&mdash;&thinsp;until we start announcing speakers.</p>

            {% endif %}

            <h2 class="mb2 mt4">Stay updated</h2>
            <p>Join our newsletter for announcements and information about our evening talks.</p>
            {% include mail-list-signup-form.html id=4 green_signup=false email_border=true %}
          </div><!-- u1of2-over-m -->
        </div><!-- row -->

    </section>


    <section class="testimonial container">
      <div class="row border-top padding-top-row mt0">
        <blockquote class="standfirst">
          <div class="quote">
            <p>Hands-down the most helpful and practical UX conference I attended.</p>
          </div>
          <div class="quotee">Agnieszka Rzesniowiecka</div>
        </blockquote>
      </div>
    </section>
    <!-- 
    <style>
      .hover-grayscale img {
        filter: grayscale(1);
        opacity:0.4;
        transition: all 0.5s;
      }
      .hover-grayscale:hover img {
        filter: grayscale(0);
        opacity: 1;
        transition: all 0s;
      }

    </style>
    <section class="container">
      <div class="row border-top padding-top-row mt0 gutter-top-under-m gutters__container flex-over-m ">
        <div class="u1of2-over-m left-over-m gutters flex-over-m flex-column gutter-bottom-under-m">
          <h3 class="mt0">Conference Accomodation</h3>
          <a href="https://book.passkey.com/go/bdux2019" class="flex-grow hover-grayscale content-center">
            <img src="https://www.visitbrighton.com/dbimgs/logo(3).png" alt="Visit brighton logo" width="824" style="max-width:300px; width:100%;">
          </a>
          <p class="mt2">With attendees travelling from all over the world to attend UX Brighton we are delighted to offer <a href="https://book.passkey.com/go/bdux2019">specially negotiated accommodation rates for attendees.</a></p>
        </div>
        <div class="u1of2-over-m left-over-m gutters flex-over-m flex-column ">
          <h3 class="mt0">News: First sponsor announced</h3>
          <a href="#sponsors" class=" hover-grayscale flex-grow content-center">
            <img src="/2019/images/sponsor-logos/madgex.svg" alt="Madgex logo" width="824" height="201" style="max-width:300px; width:100%;">
          </a>
          <p class="mt2">Madgex have wasted no time in booking their sponsor slot for this years conference following the popularity of last years biggest ever UX Brighton conference. <a href="#sponsors">More about sponsorship.</a></p>
        </div>
      </div>
    </section> 
    -->



    <section id="highlights" class="bg-grey-5">
      <div class="container">
        <h2 class="mb2 gutter-top">Highlights from previous years</h2>
        <div class="row mt0">
          <div class="u2of3-over-l left-over-l  pr0-under-l">

            <div class="clearfix">
              <div class="video-box u1of2-over-s left-over-s ">
                <a href="https://youtu.be/rz7sy81Yg5E" title="Opens in YouTube">
                  <img src="/assets/video-thumbnails/researchops-kate-towsey-thumbnail@2x.png" alt="ResearchOps - Kate Towsey">
                </a>
              </div>
              <div class="video-box u1of2-over-s left-over-s">
               <a href="https://youtu.be/8A3SEmvx7uY" title="Opens in YouTube">
                  <img src="/assets/video-thumbnails/ux-and-forecasting-james-woudhuysen-thumbnail@2x.png" alt="UX and Forecasting - James Woudhuysen">
                </a>
              </div>
            </div><!-- row -->
            <div class="clearfix">
              <div class="video-box u1of2-over-s left-over-s">
                <a href="https://youtu.be/DjRR1MpBr1g" title="Opens in YouTube">
                  <img src="/assets/video-thumbnails/top-tasks-gerry-mcgovern-thumbnail@2x.png" alt="Top Tasks - Gerry McGovern">
                </a>
              </div>
              <div class="video-box u1of2-over-s left-over-s">
                <a href="https://youtu.be/h9s3DrImGXA" title="Opens in YouTube">
                  <img src="/assets/video-thumbnails/atomic-ux-daniel-pidcock-thumbnail@2x.png" alt="Atomic UX - Daniel Pidcock">
                </a>
              </div>
            </div><!-- row -->
          </div><!-- u1of2-over-m -->

          <div class="u1of3-over-l right-over-l gutter-left pb3 pt3-under-s pt1">
            <blockquote>
              <div class="quote">
                <p>UX Brighton is one of the premier UX events in Europe. In just one day, you’ll get access to some of the most cutting-edge presentations you can imagine. Well organized, fabulous location, packed with valuable content — go if you can: it’s worth the investment.</p>
              </div>
              <div class="quotee">Jim Kalbach, Past Speaker</div>
            </blockquote>
          </div><!-- u1of2-over-m -->
        </div><!-- row -->
      </div>
    </section>




    {% if page.display-speakers == true %}
      {% include_relative conf-page-partials/speakers.html %}
    {% endif %}






    <style>
      .sponsor__links {
        margin-left: -8px;
      }
      .sponsor__link {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 8px;
      }
      .sponsor__link:hover {
        color: #000;
      }
     .sponsor__links svg {
        width: 24px;
        height: 24px;
      }
      .sponsor__logo {
        align-items: center;
        justify-content: center;
      }
      .sponsor__logo--3-star {
        min-height: 130px !important;
      }
      .sponsor__logo--3-star img {
        width: 100%;
        height: auto;
        display: block;
      }
    </style>

    <section id="sponsors">
      <div class="overlay__outer" style="background-image: url('/2018/images/photos/sponsors-35.jpg');">
        <div class="overlay__inner" style="background: transparent;">
          <div class="container color-white" style="">
            <h2 class="fs-xxxl mb0">Sponsors</h2>
          </div>
        </div>
      </div>
      <div class="overlay__after container bg-white">



        <h3 class="fs-h2 mt5">Sponsor UX Brighton</h3>
        <p class="standfirst pb2">UX Brighton attracts an engaged crowd of designers, decision makers and influencers. If you’re interested in supporting UX Brighton have a look at the <a href="sponsorship" class="bold">sponsorship information page</a> for more details.</p>



        <!--
        <hr>
        <h3 class=" pt2 fs-h2 mb2">Premium Sponsors</h3>
        <div class="row pb5 eh-row">
          <div class=" u1of2-over-m  pr1 left eh-item">
            <div class="drop pa2 sponsor sponsor-3-star">
              <div class="sponsor__logo color-grey-40 pt2">
                <a href="https://mojdigital.blog.gov.uk/" class="block text-center" title="mojdigital.blog.gov.uk"><img src="images/sponsor-logos/moj.svg" alt="Ministry of Justice Digital" class="inline-block"></a>
              </div>
              <div class="sponsor__info">
                <p class="mb0 pt3">We design, build and support user-centred digital and technology services for the justice system: services that make a real difference to our staff, members of the public and their families who use them.</p>
              </div>
              <div class="sponsor__links icons-currentColor mt1">
                <a href="https://mojdigital.blog.gov.uk/" class="sponsor__link color-grey-30" title="mojdigital.blog.gov.uk">
                  <svg class="icon-web--small"><use xlink:href="/2018/images/icons/social-sprite.svg#icon-sphere"></use></svg>
                </a>
                <a href="https://twitter.com/Justice_Digital" class="sponsor__link color-grey-30" title="Twitter">
                  <svg class="icon-twitter--small"><use xlink:href="/2018/images/icons/social-sprite.svg#icon-twitter"></use></svg>
                </a>
              </div>

            </div>
          </div>
        </div>
        -->


        <hr>
        <h3 class=" pt2 fs-h2 mb2">Standard Sponsors</h3>

        <div class="row pb5 eh-row">

          <div class="u1of2-over-s  u1of3-over-m -u1of5-over-l pr1 left eh-item">
            <div class="drop pa2 sponsor sponsor-3-star">
              <div class="sponsor__logo color-grey-40 sponsor__logo--3-star">
                <a href="https://www.madgex.com/uk/" class="" title="madgex.com">
                  <img src="/2019/images/sponsor-logos/madgex.svg" alt="Madgex logo" width="824" height="201" style="padding-top: 4%;">
                </a>
              </div>
              <div class="sponsor__info">

                <p class="mb0">Madgex software allows users to operate outstanding career and development hubs that perfectly represent their brand and enables clients to engage and develop their professional audiences.</p>
              </div>
              <div class="sponsor__links icons-currentColor mt1">
                <a href="https://www.madgex.com/uk/" class="sponsor__link color-grey-30" title="madgex.com">
                  <svg class="icon-web--small"><use xlink:href="/2018/images/icons/social-sprite.svg#icon-sphere"></use></svg>
                </a>
                <a href="https://twitter.com/madgex" class="sponsor__link color-grey-30" title="Twitter">
                  <svg class="icon-twitter--small"><use xlink:href="/2018/images/icons/social-sprite.svg#icon-twitter"></use></svg>
                </a>
                <a href="https://www.facebook.com/MadgexLtd" class="sponsor__link color-grey-30" title="Facebook">
                  <svg class="icon-facebook--small"><use xlink:href="/2018/images/icons/social-sprite.svg#facebook"></use></svg>
                </a>
              </div>
            </div><!-- sponsor -->
          </div>

          <div class="u1of2-over-s  u1of3-over-m -u1of5-over-l pr1 left eh-item">
            <div class="drop pa2 sponsor sponsor-3-star">
              <div class="sponsor__logo color-grey-40 sponsor__logo--3-star">
                <a href="https://balsamiq.com/" class="" title="balsamiq.com"><img src="/2018/images/sponsor-logos/balsamiq-logo-noborder-screen.svg" alt="Balsamiq logo" width="239" height="59"></a>
              </div>
              <div class="sponsor__info">
                <p class="mb0">Balsamiq is a rapid wireframing tool that helps you Work Faster & Smarter. It reproduces the experience of sketching on a whiteboard, but using a computer.</p>
              </div>
              <div class="sponsor__links icons-currentColor mt1">
                <a href="https://balsamiq.com/" class="sponsor__link color-grey-30" title="balsamiq.com">
                  <svg class="icon-web--small"><use xlink:href="/2018/images/icons/social-sprite.svg#icon-sphere"></use></svg>
                </a>
                <a href="https://twitter.com/balsamiq" class="sponsor__link color-grey-30" title="Twitter">
                  <svg class="icon-twitter--small"><use xlink:href="/2018/images/icons/social-sprite.svg#icon-twitter"></use></svg>
                </a>
                <a href="https://www.facebook.com/balsamiq" class="sponsor__link color-grey-30" title="Facebook">
                  <svg class="icon-facebook--small"><use xlink:href="/2018/images/icons/social-sprite.svg#facebook"></use></svg>
                </a>
              </div>

            </div>
          </div>

          <div class="u1of2-over-s  u1of3-over-m -u1of5-over-l pr1 left eh-item">
            <div class="drop pa2 sponsor sponsor-3-star">
              <div class="sponsor__logo color-grey-40 sponsor__logo--3-star">
                <a href="https://youcanbook.me/" class="" title="https://youcanbook.me">
                  <img src="/2019/images/sponsor-logos/you-can-book-me.png" alt="youcanbook.me logo" width="4320" height="800" class="pt2">
                </a>
              </div>
              <div class="sponsor__info">
                <p class="mb0">YouCanBook.me simplifies scheduling, eliminating the usual back-and-forth when setting up meetings. Works with your Google or Microsoft calendar and seamlessly handles timezones, calendar invites and meeting reminders out of the box.</p>
              </div>
              <div class="sponsor__links icons-currentColor mt1">
                <a href="https://youcanbook.me/" class="sponsor__link color-grey-30" title="youcanbook.me/">
                  <svg class="icon-web--small"><use xlink:href="/2018/images/icons/social-sprite.svg#icon-sphere"></use></svg>
                </a>
                <a href="https://twitter.com/youcanbookme" class="sponsor__link color-grey-30" title="Twitter">
                  <svg class="icon-twitter--small"><use xlink:href="/2018/images/icons/social-sprite.svg#icon-twitter"></use></svg>
                </a>
                <a href="https://www.youtube.com/channel/UCUkips9yLLYF4hFUeNgkzeg" class="sponsor__link color-grey-30" title="Youtube">
                  <svg class="icon-youtube--small"><use xlink:href="/2018/images/icons/social-sprite.svg#youtube"></use></svg>
                </a>
              </div>

            </div>
          </div>

        </div><!-- row -->

      </div>
    </section><!-- sponsors -->

          <style>
            .centred-faint {
              color: #cccfd0;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 100%;
              text-align: center;
              right: 0;
            }
            @media (min-width: 731px) {
              .u1of3-over-m { width: 33%; }
            }

          </style>

          <!-- <div class="u1of2-over-s  u1of3-over-m -u1of5-over-l pr1 left eh-item">
            <a href="/2019/sponsorship" class="block drop pa2 sponsor sponsor-3-star relative" title="Sponsorship opportunities">
              <div class="centred-faint">Sponsorship Opportunity</div>
            </a>
          </div> -->




  </main>



  <aside>
    {% include upcoming.html %}
  </aside>
