          <h1 itemprop="name" class="fs-xxxl leading-solid mb3">
            <span class="fs-l mb1 block track-normal weight-400">UX Brighton 2019</span>
            A Focus <br>on Design 
          </h1>
          <h2 class="mt0 fs-l regular track-normal mb6">
            <span class="event-date" itemprop="startDate" content="2019-11-01T09:30">Friday 1 November</span>, Brighton Dome
          </h2>
          <div>
            {% if page.ticket-button == "show" %}
              <a onclick='ga("send", "event", "conference", "click", "buynow");' href="{{ page.ticket-button-url }}" class="button button--large button--green weight-900 fs-l">{{ page.ticket-button-text }}</a>
            {% endif %}
            {% if page.ticket-button-extra-text %}
              <p class="mb0 mt1 weight-400 fs-l" style="max-width: 31em;">{{ page.ticket-button-extra-text }}</p>
            {% endif %}
          </div>
<!-- 

          UX Brighton 2020
UX and Product Management
Friday 6 November, Brighton Dome -->