  <!-- <section id="styleguide"></section> -->
  <style>
    [type="checkbox"] {
      margin: 5px 5px 0 0;
    }
  </style>
  <div class="overlay-active-underlay full-screen-overlay hidden" onclick="$('body').attr('data-overlay-active','false'); $( '#js-newsletter-thanks' ).css('color', '');"></div>
  <footer class="bg-grey-90 color-grey-10 pv5">
    <div class="container pt1 pb3">
      <div class="row">
        <div class="u1of2-over-m left-over-m gutter-right mb5"  id="newletter-signup">
          <div class="inline-block center-under-m">
            <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Sign up for updates</h2>
            {% include mail-list-signup-form.html change-on-overlay=true %}
          </div>
        </div><!-- u1of2-over-s -->
        <div class="u1of2-over-m left-over-m gutter-left pb3">
          <div class="inline-block right-over-m center-under-m">
            <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Follow us</h2>
            <nav class="social-icons icons-currentColor pt1 clearfix">
              <a class="social-icons__link social-icons__link--slack" href="http://slack.uxbrighton.org.uk" onclick='ga("send", "event", "slack", "signup", "slackgroup");'>
                <span class="screen-reader-text">slack</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#slack"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--linkedin" href="https://www.linkedin.com/company/ux-brighton">
                <span class="screen-reader-text">linkedin</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#linkedin"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--youtube" href="https://www.youtube.com/channel/UC9hOYRFJn2NgV406gr9jajw">
                <span class="screen-reader-text">youtube</span>
                <svg viewBox="0 0 579 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#youtube"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--twitter" href="https://twitter.com/uxbri">
                <span class="screen-reader-text">twitter</span>
                <svg viewBox="0 0 493 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#twitter"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--facebook" href="https://www.facebook.com/uxbrighton/" style="width:30px;">
                <span class="screen-reader-text">facebook</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#icon-facebook2"></use>
                </svg>
              </a>
            </nav>
          </div>

        </div><!-- u1of2-over-s -->
      </div><!-- row -->

      <div class="row text-center pt3">
       <a class="bold inline-block" href="/2018/about">About UX Brighton</a>
       <span class="hide-footer-middot">&nbsp;&middot;&nbsp;</span>
       <br class="break-footer-links" />
       <a class="bold inline-block" href="http://dannyhope.co.uk/">A Danny Hope Production</a>
      </div>


      <form id="slack-signup" class="hidden form-inline bg-white z4 triangle-top-right mr2" action="https://slofile.com/slack/uxbri/invite" accept-charset="UTF-8" method="post" target="slackFrame">
        <div class="pa3">
          <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Your Email Address</h2>
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="authenticity_token" value="PWn79CzsqJB996ucMtB+K9FMPe+7eYsWJx9s8RI82qpKZdztqM46BM3PH7EiTiWVYgzuSOodP5eud36luQeT9Q==">
          <div class="input-group mt1 mb1">
            <label class="screen-reader-text" for="email">Email</label>
            <input type="email" name="email" id="email" value="" placeholder="Email Address" class="input-group__field border--none rounded-left">
            <input type="submit" name="commit" value="Join" class="button input-group__button button--green rounded-right">
          </div>
        </div>
      </form>

    </div><!-- container -->
  </footer>

  <script>
    if (navigator.serviceWorker !== undefined) {
      navigator.serviceWorker
        .register('/sw.js')
        .then(function() { console.log('Service Worker Registered'); });
    }
  </script>

<!-- <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script> -->
    <!-- uncompressed -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
 <!-- compressed -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
  <!-- slim & compressed  https://blog.jquery.com/2016/06/09/jquery-3-0-final-released/ -->
  <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/2.0.0/jquery.mobile-events.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>
    // pop the queue for dollar created in the header
    try { $.each(q,function(i,f){$(f)});} catch(e) {}

    $(function() {
      var options = { valueNames: [ 'post-excerpt'] };
      var userList = new List('js-archive-nav', options);
    });
  </script>
  <script src="/2018/javascripts/scripts-min.js?v=feb"></script>

  <script>
    $(function() {
      if (/[?&]open=newsletter/.test(location.search)) {
        displayNewsletter();
      }
      function displayNewsletter(){
        var _val = "newsletter",
            _currentVal = $('body').attr('data-overlay-active');
        if (_val == _currentVal) {
          $("body").attr('data-overlay-active','false');
        } else {
          $("body").attr('data-overlay-active',_val);
          if (_val == 'menu'){ $( '.archive-nav__search' ).focus(); }
          if (_val == 'slack'){ $( '#email' ).focus(); }
          if (_val == 'newsletter'){ $( '#fieldEmail' ).focus(); } 
        }              
      };
    });
  </script>
