<style>
  .flex-over-m .block-link,
  .flex-over-m .block-link:hover {
    display: flex;
    flex-direction: column;
  }
  
  .upcoming-teaser__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  .upcoming-teaser {
    max-width: 635px;
    text-align: left;
  }
  .upcoming-teaser__text {
    flex: 1 0 auto;
    min-height: 13em;
  }
  .upcoming-teaser__button-wrapper {

  }
  [type="checkbox"] {
    margin: 5px 5px 0 0;
  }
</style>


{% assign has_upcoming = false %}
{% assign postnum = 1 %}
{% for post in site.posts %}
  {% if post.upcoming == true && if post.published == true %}
    {% assign has_upcoming = true %}
  {% endif %}
{% endfor %}

{% if has_upcoming  %}
  {% if page.event-promo-footer == null or page.event-promo-footer != "hide" %}
    <aside>
      <section id="promotions">
        <hr>
        <div class="row text-center">
          <h3 class="fs-h2 mt0 gutter-bottom">
            {% if page.url contains "/2019/" or page.layout == "event-page" %}Other {% endif %}UX Brighton events
          </h3>

          <div class="flex-over-m upcoming-teaser__wrapper">
            {% assign varnum = 1 %}
            {% if page.url contains "/2019/" %}
            {% else %}
              <div class="upcoming-teaser gutters flex-over-m gutter-bottom">
                <a href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets" class="block-link fill tile pa3 rounded drop relative" style="background: url('/2018/images/photos/sponsors-35.jpg') center center no-repeat #000; background-size: cover;">
                  <div class="overlay-absolute" style="background: rgba(0, 0, 0, 0.5);"></div>
                  <div class="upcoming-teaser__text">
                    <h1 class="leading-solid mb2 color-white fs-xl relative">
                      <span class="fs-m mb1 block color-orange font-museo track-normal" style="font-weight: 500;">Conference 2019 · Friday 1 November, Brighton Dome</span>
                      A Focus on Design
                    </h1>
                    <div class="mt0 regular track-normal mb3 relative">
                      <div class="color-white "></div>
                      <div class="color-white ">At this year's conference, we want to focus on the craft of design: on expanding our understanding and the skills we need to build fluid and rewarding experiences.</div>
                    </div>                    
                  </div>
                  <div class="upcoming-teaser__button-wrapper">
                    <div class="button button--green bold standfirst mb0">Tickets and info</div>
                  </div>
                </a>
              </div>
              {% assign varnum = varnum | plus: 1 %}
            {% endif %}

            {% if has_upcoming %}
              {% for post in site.posts reversed limit:2 %}

                {% if post.upcoming == true && if post.published == true %}
                    {% if post.slug == page.slug %}
                    {% else %}
                      {% if page.url contains "/2019/" and post.slug == "voice-ui-workshop" %}
                      {% else %}
                        <div class="upcoming-teaser gutters flex-over-m gutter-bottom">
                          <a href="{{ site.url }}{{post.url}}" class="block-link fill tile pa3 rounded drop relative" style="background: url('{{post.upcoming-bg-image}}') center center no-repeat #1a272c; background-size: cover;">
                            <div class="overlay-absolute" style="background: rgba(0, 0, 0, 0.5);"></div>
                            <div class="upcoming-teaser__text">
                              <h1 class="leading-solid mb2 color-white fs-xl relative">
                                <span class="fs-m mb1 block color-orange font-museo track-normal" style="font-weight: 500;">{{post.date | date: "%-d %B %Y"}}{% if post.start %}<span class="event-time inline-block">, {{ post.start }}</span>{% endif %}</span>
                                {{ post.title }}
                              </h1>
                              <div class="mt0 regular track-normal mb3 relative">
                                <div class="color-white">
                                  {{ post.description }}
                                </div>
                              </div>
                            </div>
                            <div class="upcoming-teaser__button-wrapper">
                              <div href="{{ site.url }}{{post.url}}" class="button button--green bold standfirst mb0">Tickets and info</div>
                            </div>
                          </a>
                        </div>
                      {% endif %}
                    {% assign varnum = varnum | plus: 1 %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div><!-- gutters__container -->
        </div><!-- .row -->
      </section>  
    </aside>
  {% endif %}
{% endif %}


  <div class="overlay-active-underlay full-screen-overlay hidden" onclick="$('body').attr('data-overlay-active','false'); $( '#js-newsletter-thanks' ).css('color', '');"></div>
  <footer class="bg-grey-90 color-grey-10">
    <div class="container pt1">
      <div class="row">
        <div class="u1of2-over-m left-over-m gutter-right mb5"  id="newletter-signup">
          <div class="inline-block center-under-m">
            <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Sign up for updates</h2>
            {% include mail-list-signup-form.html change-on-overlay=true %}
          </div>
        </div><!-- u1of2-over-s -->
        <div class="u1of2-over-m left-over-m gutter-left pb3">
          <div class="inline-block right-over-m center-under-m">
            <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Follow us</h2>
            <nav class="social-icons icons-currentColor pt1 clearfix">
              <a class="social-icons__link social-icons__link--slack" href="http://slack.uxbrighton.org.uk" onclick='ga("send", "event", "slack", "signup", "slackgroup");'>
                <span class="screen-reader-text">slack</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#slack"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--linkedin" href="https://www.linkedin.com/company/ux-brighton">
                <span class="screen-reader-text">linkedin</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#linkedin"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--youtube" href="https://www.youtube.com/channel/UC9hOYRFJn2NgV406gr9jajw">
                <span class="screen-reader-text">youtube</span>
                <svg viewBox="0 0 579 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#youtube"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--twitter" href="https://twitter.com/uxbri">
                <span class="screen-reader-text">twitter</span>
                <svg viewBox="0 0 493 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#twitter"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--facebook" href="https://www.facebook.com/uxbrighton/" style="width:30px;">
                <span class="screen-reader-text">facebook</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#icon-facebook2"></use>
                </svg>
              </a>
            </nav>
          </div>

        </div><!-- u1of2-over-s -->
      </div><!-- row -->

      <div class="row text-center">
       <a class="bold inline-block" href="/2018/about">About UX Brighton</a>
       <span class="hide-footer-middot">&emsp;&middot;&emsp;</span>
       <br class="break-footer-links" />
       <a class="bold inline-block" href="http://dannyhope.co.uk/">A Danny Hope Production</a>
      </div>


      <form id="slack-signup" class="hidden form-inline bg-white z4 triangle-top-right mr2" action="https://slofile.com/slack/uxbri/invite" accept-charset="UTF-8" method="post" target="slackFrame">
        <div class="pa3">
          <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Your Email Address</h2>
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="authenticity_token" value="PWn79CzsqJB996ucMtB+K9FMPe+7eYsWJx9s8RI82qpKZdztqM46BM3PH7EiTiWVYgzuSOodP5eud36luQeT9Q==">
          <div class="input-group mt1 mb1">
            <label class="screen-reader-text" for="email">Email</label>
            <input type="email" name="email" id="email" value="" placeholder="Email Address" class="input-group__field border--none rounded-left">
            <input type="submit" name="commit" value="Join" class="button input-group__button button--green rounded-right">
          </div>
        </div>
      </form>

    </div><!-- container -->
  </footer>














  <script>
    // if browser has serviceWorkers remove service worker caches and registrations
    if ('serviceWorker' in navigator) {
      caches.keys().then(function(cacheNames) {
        cacheNames.forEach(function(cacheName) {
          caches.delete(cacheName);
        });
      });
      navigator.serviceWorker.getRegistrations().then(function(registrations) {
       for(let registration of registrations) {
        registration.unregister()
      } });
    }
  </script>



  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/2.0.0/jquery.mobile-events.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>try { $.each(q,function(i,f){$(f)});} catch(e) {}</script>
  <script src="/2018/javascripts/scripts-min.js?v=feb"></script>

  <script>
    $(function() {
      var options = { valueNames: [ 'post-excerpt'] };
      var userList = new List('js-archive-nav', options);
      function displayNewsletter(){
        var _val = "newsletter",
            _currentVal = $('body').attr('data-overlay-active');
        if (_val == _currentVal) {
          $("body").attr('data-overlay-active','false');
        } else {
          $("body").attr('data-overlay-active',_val);
          if (_val == 'menu'){ $( '.archive-nav__search' ).focus(); }
          if (_val == 'slack'){ $( '#email' ).focus(); }
          if (_val == 'newsletter'){ $( '#fieldEmail' ).focus(); }
        }
      };
      if (/[?&]open=newsletter/.test(location.search)) {
        displayNewsletter();
      }
    });
  </script>


  {% if page.url contains "/jobs/" %}
    <link rel="stylesheet" type="text/css" href="/js/tooltipster-master/dist/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" />
    <script type="text/javascript" src="/js/tooltipster-master/dist/js/tooltipster.bundle.min.js"></script>
    <script>
      $(function() {
        $('.tooltip').tooltipster({
          animation: 'fade',
          delay: 1,
          theme: 'tooltipster-shadow'
        });
      });
    </script>
  {% endif %}
