		{% include nav-sm.html %}		
		</section>
		<header class="site-header" role="banner">
			<div class="container">
				<div class="row">		
					<a href="{{ site.url }}/index.html" title="back to homepage" class="site-title">UX Brighton</a>
					<p class="site-subtitle">UX Brighton is a volunteer community group aiming to disseminate knowledge in all aspects of user experience (including various branches of psychology). We run monthly meet ups as well as an annual conference.</p>
				</div>		
			</div>	
		</header>
	