		<header class="site-header" role="banner">
			<div class="container">
				<div class="row">		
					<a href="{{ site.url }}/index.html" title="back to homepage" class="site-title"><img src="/css/UX-Brighton-logo.svg" alt="UX Brighton"></a>
				</div>		
			</div>	
		</header>
		<aside class="social-media">
			<a href="https://twitter.com/uxbri">Twitter</a>
			<a href="https://www.facebook.com/groups/39816847256/">Facebook</a>
			<a href="https://www.youtube.com/channel/UC9hOYRFJn2NgV406gr9jajw">YouTube channel</a>
		</aside>
	