{% capture id %}{% if include.id %}-{{include.id}}{% endif %}{% endcapture %}
<form action="https://sendy.uxbrighton.org.uk/msubscribe" method="POST" accept-charset="utf-8" class="newletter-signup" id="js-email-signup{{ id }}">
  <label class="screen-reader-text" for="fieldEmail{{ id }}">Email</label>
  <div class="input-group mt1 mb1">
    <input id="fieldEmail{{ id }}" name="email" type="email" required="" placeholder="Your email" class="input-group__field border--none rounded-left" onfocus="document.getElementById('newsletter-options{{ id }}').className = 'show'">
    <input
      onclick="newsletterAnalytics.call(this,event);"
      data-news-options="{% if include.job_notifications == true %}no-no-no-job{% else %}conference-newsletter-evening-no{% endif %}"
      type="submit"
      value="Sign up"
      name="subscribe"
      id="subscribe{{ id }}"
      class="button input-group__button rounded-right js-mailinglist-submit{% if include.green_signup != false %} button--green{% endif %}">
  </div><!-- input-group -->
  <div id="newsletter-options{{ id }}" class="hidden">
    <h3 class="bold pb0 block regular screen-reader-text">
      Which topics are of interest to you?
    </h3>
    <div class="js-email-no-choice hidden color-black mv1"><strong>👇 Please select at least one option</strong></div>
    <div style="padding-top: 4px;">
      <input id="conference-mailinglist{{ id }}" name="list[]" value="tE7kdODDq3zHNYJKOkdOAA" type="checkbox" {% if include.job_notifications != true %}checked{% endif %} class="left">
      <label class="table" for="conference-mailinglist{{ id }}" class="">Conference and workshop news</label>
    </div>
    <div style="padding-top: 4px;">
      <input id="newsletter-mailinglist{{ id }}" name="list[]" value="cbdLJAjiH5csEhKZFWEtJQ" type="checkbox" {% if include.job_notifications != true %}checked{% endif %} class="left">
      <label class="table" for="newsletter-mailinglist{{ id }}" class="">Link Digest: links picked by the UX Brighton team</label>
    </div>
    <div style="padding-top: 4px;">
      <input id="evening-events-mailinglist{{ id }}" name="list[]" value="G6t21K8OuZVMD429r6RZ0g" type="checkbox" {% if include.job_notifications != true %}checked{% endif %} class="left">
      <label class="table" for="evening-events-mailinglist{{ id }}" class="">Evening events</label>
    </div>
      <div style="padding-top: 4px;">
        <input id="job-updates-mailinglist{{ id }}" name="list[]" value="ibnrqcWYOJDQJDrV892b892RSg" type="checkbox" {% if include.job_notifications == true %}checked{% endif %} class="left">
        <label class="table" for="evening-events-mailinglist{{ id }}" class="">Job updates</label>
      </div>
  </div>
  <div style="display:none;">
    <label for="hp{{ id }}">HP</label><br/>
    <input type="text" name="hp" id="hp{{ id }}"/>
  </div>
</form>
<div id="js-newsletter-thanks{{ id }}" class="js-signup-confirmation" style="display: none;">
  <strong>Thanks!</strong> Please look out for the confirmation email that we&apos;ve just sent you.
</div>
<script>
  // Figure out a solution to the text being grey on white bg when clicking the email newsletter navbar drop down

  // function to write the current options into a data attribute which is in turn passed to analytics
  function newsOption(returnValue,returnOption) {

    var newsletterType = returnValue.split("-")[0];
    var currentOptions = $('[data-news-options]').first().attr('data-news-options');
    var replacementSubString;
    var revisedOptions;

    if (returnOption == "include") {
      replacementSubString = newsletterType;
      $('[type="checkbox"][id^='+newsletterType+']').prop('checked', true);
    } else {
      replacementSubString = "no";
      $('[type="checkbox"][id^='+newsletterType+']').prop('checked', false);
    }

    if (newsletterType == "conference") {
      revisedOptions = replacementSubString + "-" + currentOptions.split("-")[1] + "-" + currentOptions.split("-")[2];
    } else if (newsletterType == "newsletter")  {
      revisedOptions = currentOptions.split("-")[0] + "-" + replacementSubString + "-" + currentOptions.split("-")[2];
    } else {
      revisedOptions = currentOptions.split("-")[0] + "-" + currentOptions.split("-")[1] + "-" + replacementSubString;
    }

    $('[data-news-options]').attr('data-news-options', revisedOptions);
  }

  // send the current options to google analytics
  function newsletterAnalytics (event) {
    var newsletterOptions = $(this).attr('data-news-options');
    if (newsletterOptions == "no-no-no-no") {
      event.preventDefault();
      $('#js-email-signup{{ id }}').find('.js-email-no-choice').slideDown()
    }
    ga("send", "event", "newsletter", "signup", newsletterOptions);
  }

  $(function() {

    // click handler for newsOption function
    $('#js-email-signup{{ id }} input[type="checkbox"]').change(function() {
      var returnVal = $(this).attr('id');
      if(this.checked) {
        newsOption(returnVal,"include");
      } else {
        newsOption(returnVal,"exclude");
      }
    });

  }); // dom ready

</script>