<style>
	.archive-nav {
		display: none;
	}
	body[nav-active=true] {
		overflow: hidden;
	}
	body[nav-active=true] .archive-nav {
		display: block;
	}

	.archive-nav__body {
		overflow-x: hidden; 
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		max-height: calc(100vh - 50px);
	}
	@media (min-width: 730px){
  	body[nav-active=true] .full-screen-overlay__inner {
			margin: 50px auto;
			max-height: calc(100vh - 100px);
			max-width: 730px; 
			border-radius: 5px;
		} 
		.archive-nav__body {
			max-height: calc(100vh - 150px);
		}
	} 

	@media (max-width: 730px){
		.archive-nav__link,
		.archive-nav__heading {
			border-bottom: 1px solid #ddd;
		}
	}
	.archive-nav__heading {
		color: #777;
		font-size: 1rem !important;
		text-transform: uppercase !important;
		letter-spacing: 0.2rem !important;
		font-weight: 400 !important;
		margin-bottom: 0 !important;
	}
	@media (min-width: 730px){
		.archive-nav__heading {
			margin-top: 24px;
		}
	}
	.post-excerpt { 
	display:none; }

	.archive-nav__head {
		height: 50px;
    background: #f5f5f5;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid #ddd;
	}
	.archive-nav__search-wrapper {
		padding: 10px 0 0;
		margin: 0 auto;
		position: relative;
	}
	@media (max-width: 830px){
		.archive-nav__search-wrapper {
			padding: 10px 16px 0;
			margin-right: 50px;
		}
	}
	.archive-nav__search {
    border-radius: 16px;
    width: 100%;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    padding: 1px 10px 1px 36px;
	}
	.archive-nav__close {
		box-sizing: border-box;
		width: 50px;
		height: 50px;
		text-align: center;
		font-size: 36px;
		line-height: 35px;
		border: 0 none;
		color: white;
		padding: 0;
		background: #C9003A;
		cursor:pointer;
	}
	.archive-nav__close:hover svg {
		transform: scale(1.1);
		transition: 0.2s;
	}




	.archive-nav__search:focus {
	  outline: none;
	  box-shadow: 
	  	0px 0px 12px #4D90FE, 
	  	0px 0px 3px #4D90FE
	  ;
	}

	@media (min-width: 730px){
		.archive-nav .post-title {
			font-size: 21px;
		}
	}

</style>

<script>
	function noClose(e) { 
		e.stopImmediatePropagation();
	}
</script>


<nav role="navigation" id="js-archive-nav" class="archive-nav full-screen-overlay" onclick="$('body').attr('nav-active', 'false');return false;">

	<div class="full-screen-overlay__inner" onclick="noClose(event)">
		<div class="archive-nav__head">
			<button onclick="$('body').attr('nav-active', 'false');return false;" class="archive-nav__close right">
				<svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" style="width:30px;margin:10px;">
					<g id="Artboard" fill="#fff">
					  <polygon id="Shape" points="2.32258065 36 18.0829493 20.2396313 33.843318 36 36 33.843318 20.2396313 18.0829493 36 2.32258065 33.843318 0 18.0829493 15.7603687 2.32258065 0 0 2.32258065 15.7603687 18.0829493 0 33.843318"></polygon>
					</g>
				</svg>
			</button>
			<div class=" archive-nav__search-wrapper width-m" style="margin:0 70px 0 20px;">
				<div class="relative">
					<img src="/2018/images/icons/search.png" width="17" height="17" style="position: absolute;top: 7px;left: 12px;">
					<input class="search archive-nav__search" />				
				</div>

			</div>
		</div>

		<div class="archive-nav__body">
			<div class="width-m centre">
				{% assign has_upcoming = false %}
				{% for post in site.posts %}
					{% if post.upcoming == true %}
						{% assign has_upcoming = true %}
					{% endif %}
				{% endfor %}

				


				
				
				
			<ul class="list">
				<li>
					<h2 class="archive-nav__heading pv2 ph3">Upcoming Events</h2>
				</li>		
				
				{% if has_upcoming %}




					<li class="event-title-list-item event-upcoming {% if page.url == "https://uxbrighton.org.uk/2018/" %}current{% endif %}">
						<a class="block-link pv2 ph3 archive-nav__link" href="/2018/">
							<div class="post-title bold block-link__highlight">UX Brighton 2018: Advancing Research</div>
							<div class="post-date ">Friday 2 November</div>
							<div class="post-excerpt">UX Brighton 2018: Advancing Research Inspire your team with sharply focused insights. Research belongs at the heart of UX. It guides our work and shapes our decisions. That’s why Advancing Research is the theme of UX Brighton 2018.
							Katy Arnold
							As head of user research at the Home Office, Katy Arnold has a major role in shaping important digital services used by millions of people. She is committed to raising standards of user research, and is building a community of skilled practitioners within the UK Government.

							Katy fervently champions the building of digital inclusion into our society’s online landscape. She shares her knowledge and experience at events around Europe.

							@katyarnie

							Kate Towsey
							Kate believes that in order for research to be truly valuable, it must be done thoroughly, professionally, and securely. She creates labs, panels and archives that are carefully designed to meet demanding specifications, sometimes assembled with minimal resources, but never compromising quality.

							Working freelance, Kate refuses to fit neatly within job titles. Instead, she takes an entrepreneurial approach to her work with government, agencies, universities, broadcasters and others. The BBC and Co-Op are the current beneficiaries of Kate’s exacting approach.

							@katetowsey
							www.katetowsey.co.uk

							Georgia Rakusen
							Georgia Rakusen is an experienced UX researcher with a background in tech and start-up companies. She currently holds a senior research post with funky digital print mavericks MOO.

							Georgia’s particular specialism involves research into the UX of the digital experiences that take place between colleagues. Her research into ‘internal UX’ helps MOO improve the flow of communication and collaboration between the company’s designers, technologists, marketers and others.

							Internal UX is often overlooked within an industry that focuses its research on customer interactions. Georgia reminds us all that the observations and improvements we can make around internal experiences can be equally important to business success.

							@G_Rak

							James Woudhuysen
							Professor James Woudhuysen is a forecaster, a futurist and a big strategic thinker. With a background in technology, manufacturing and academia, he’s built a formidable reputation for looking ahead to identify the trends, risks and innovations with the potential to shape the way we live and work.

							While James is widely known for the vision and frankness within his own forecasting, he’s a great believer in enabling us all to develop useful, practical and sensible forecasting skills. He freely shares his advice on what researchers can do to get to grips with the future that awaits their customers, their industry and ways of working.

							@jameswoudhuysen
							www.woudhuysen.com

							Emma Boulton
							Emma is a passionate advocate for the role of research within design. Her 18 years of experience have made her a trusted and entertaining voice on all aspects of UX research. Emma’s solid background of work at the BBC, at Monotype, and in other agency and client-side roles, gives her valuable, insightful perspectives that she loves to share.

							Emma firmly believes in the need for high quality research, integrated within every aspect of the processes we create as teams of designers and other professionals.

							@emmaboulton
							www.collectivelyemmaboulton.com</div>
						</a>
					</li>

					<li class="event-title-list-item event-upcoming {% if page.url == "https://uxbrighton.org.uk/2018/top-tasks-workshop-with-gerry-mcgovern/" %}current{% endif %}">
						<a class="block-link pv2 ph3 archive-nav__link" href="/2018/top-tasks-workshop-with-gerry-mcgovern/">
							<div class="post-title bold block-link__highlight">Top Tasks Workshop with Gerry McGovern</div>
							<div class="post-date ">Thursday 1 November</div>
							<div class="post-excerpt">
								Measuring the Customer Experience with Top Tasks - a masterclass with Gerry McGovern

								We’re delighted to welcome Gerry McGovern back to Brighton after his very popular talk at last year’s UX Brighton conference. Gerry will be running a hands-on practical workshop on how to use the Top Tasks Identification method.

								Gerry McGovern’s Top Tasks methods have been used by organizations such as Cisco, Microsoft, IBM, Google, the European Union, Canadian Government, and hundreds of others.

								Places are limited to just 20 attendees in order to enable a highly interactive focussed workshop.

								What you’ll learn



								If you’re designing or managing a website or app, how do you know what really matters to your customers? How do you know what really doesn’t matter? Once you’ve identified what really matters, how do you ensure that these top tasks are easy to find? How do you ensure that they are easy to do? As you change your website or app, how do you know the customer experience is getting better? How do you develop customer experience metrics that can convince management you’re doing a good job?

								Gerry McGovern’s Top Tasks masterclass will answer these questions and a lot more. You will learn how to clinically and objectively observe customer behavior so as to derive management metrics. To truly understand what’s working and what isn’t—and how to make things better. Top Tasks gives you compelling evidence to present to management and peers to show that the work you are doing is improving the customer experience.

								Who should attend this workshop

								This workshop is particularly suitable for:


								  Digital Team Managers
								  User Experience &amp; Customer Experience professionals
								  Content Strategists
								  Entrepreneurs
								  Information Architects
								  Researchers
								  App designers


								Top Tasks Identification
								Top Tasks Identification helps you clearly identify the top tasks of your customers AND the tiny tasks. It is about developing clear evidence based on data about what is important—and what is not important—to your customers.

								Learn how to identify and professionally manage customer tasks. Top Tasks helps you to understand and empathize with your customers, and to deliver what they want.

								Customer Architecture
								How to take Top Tasks data and create a wonderfully intuitive and simple set of menus and links. Navigation design is so crucial to digital success, and yet is so often overlooked. This rigorous method gives you a navigation that your customers will love.

								Task Performance Indicator
								Learn how to measure the performance of top tasks using the Task Performance Indicator. You will be taught such techniques as:


								  How to measure, in a statistically reliable way, success rates and time-on-task for your customers’ top tasks.
								  How to develop task instructions—a particularly important skill to learn.
								  How to run remote observation sessions of customers attempting to perform the tasks. You will be walked through a step-by- step facilitator guide.
								  How to analyze and present results in a way that management can understand and act on.


								About Gerry
								Gerry helps large organizations deliver a better digital customer experience. He has written six books on the digital customer experience. His commercial clients include Microsoft, Dropbox, Cisco, NetApp, VMware, and IBM. He has also consulted with the US, UK, EU, Dutch, Canadian, Norwegian, and Irish governments.

								After his excellent talk at last year’s UX Brighton conference we’re happy to welcome Gerry back to sunny Brighton for our latest workshop.

								“Gerry McGovern is a truly amazing speaker. Passionate and profound, hilarious and enlightening. A golden-tongued orator whose every utterance merits quotation, and a lone rational voice in a wilderness of self-defeating, self-interest and inverse prioritization. He fights a never-ending battle to bring reason and utility to our websites by focusing relentlessly on your user’s most important tasks.”
								Jeffrey Zeldman - A List Apart, Happy Cog, A Book, An Event Apart

								“Gerry McGovern always delivers talks and workshops that our audiences love. He has given the best rated talk at Webdagene ever (in 2008) and he gave the best rated talk at Webdagene in 2015. Great content and great outcome.”
								Sesilie Halland - Manager Webdagene / conferences by Netlife Research

								What people have said about UX Brighton workshops
								“Great workshop - it exceeded all my expectations!”
								–Caroline Owen

								“The trainer was lovely, inspiring and very professional. The way she both shared us her insights and got us working together served the purpose perfectly.”
								–Heikki

								“Helped me understand and share experiences with other UXers.”
								–Paul Swain

								“Sound, focussed and practical advice about preparing for, facilitating and then following-up on workshops. Alison was a fun, enthusiastic and knowledgeable tutor. Recommended :-)”
								–Patrick Sansom

								“Really insightful workshop. It was useful to have practical examples rather than just an overview”
								–Tracy Godding

								Ticket price includes lunch, refreshments and materials.
							</div>
						</a>
					</li>

					<!--
					{% for post in site.posts %}
						{% if post.upcoming == true %}
							<li class="event-title-list-item event-upcoming {% if page.url == post.url %}current{% endif %}">
								<a class="block-link pa2 archive-nav__link" title="{{ post.title }}" href="{{ site.url }}{{post.url}}" {% if post.conference == true %}target="conference"{% endif %}>
									<div class="post-title fs-l bold block-link__highlight">{{ post.title }}</div>
									<div class="post-date ">{{post.date | date: "%-d %B"}}</div>
									<div class="post-excerpt">{{ post.content | strip_html }}</div>
								</a>
							</li>
						{% endif %}
					{% endfor %}
				{% endif %}
				-->
				
				<li>
					<h2 class="archive-nav__heading pv2 ph3">Archive: Previous Events</h2>
				</li>

				{% for post in site.posts %}
					{% if post.stub == null %}
						{% if post.upcoming == null or post.upcoming == false %}

							{% capture postyear %}{{post.date | date: "%Y"}}{% endcapture %}
							{% capture currentyear %}{{site.time | date: "%Y"}}{% endcapture %}
							<li class="event-title-list-item {% if page.url == post.url %}current{% endif %}{% if postyear == currentyear %} current-year{% endif %}">
								<a class="block-link pv2 ph3  archive-nav__link" title="{{ post.title }}" href="{{ site.url }}{{post.url}}" {% if post.conference == true %}target="conference"{% endif %}>
									<div class="post-title bold block-link__highlight">{{ post.title }} {% if post.noinfo == true %}<span class="stub">stub</span>{% endif %}</div>
									<div class="post-date">

									{% if postyear >= currentyear %}
										{{ post.date | date: "%-d %B" }}
										{% else %}
										{{ post.date | date: "%-d %B %Y" }}
							 		{% endif %}
									</div>
									<div class="post-excerpt">{{ post.content | strip_html }}</div>
								</a>
			          
							</li>

						{% endif %}
					{% endif %}
			  {% endfor %}	
				</ul>	
			</div><!-- width-m -->		
		</div>		
	</div>

	


</nav>
