
<nav class="nav-side" role="navigation">

{% assign has_upcoming = false %}
{% for post in site.posts %}
   {% if post.upcoming == true %}    
      {% assign has_upcoming = true %}
   {% endif %}
{% endfor %}

{% if has_upcoming %}
	<h2>Upcoming events:</h2>
	<ul class="event-title-list">
	{% for post in site.posts reversed %}
		{% if post.upcoming == true %}	
			{% if page.url == post.url %}
			<li class="event-title-list-item current">
				<a href="{{post.url}}">{{ post.title }}</a>
			</li>
			{% else %}
			<li class="event-title-list-item">
				<a href="{{ site.url }}{{post.url}}">{{ post.title }}</a>
			</li>	
			{% endif %}
		{% endif %}
	  {% endfor %}
	</ul>
{% endif %}	

	<h2>Past events:</h2>
	<ul class="event-title-list">
			{% for post in site.posts %}
			{% if post.noinfo == null %}
			{% if post.stub == null %}	
			{% if post.upcoming == null or post.upcoming == false %}
			{% if page.url == post.url %}
			<li class="event-title-list-item current">
				<a href="{{post.url}}">{{ post.title }}</a>
			</li>
			{% else %}
			<li class="event-title-list-item">
				<a href="{{ site.url }}{{post.url}}">{{ post.title }}</a>
			</li>	
			{% endif %}
		{% endif %}
		{% endif %}
		{% endif %}
	  {% endfor %}
	</ul>
	<a class="link-archive" href="/archive.html">View all events</a>	
</nav>