<style>
	.archive-nav {
		display: none;
	}
	body[data-overlay-active="menu"] {
		overflow: hidden;
	}
	body[data-overlay-active="menu"] .archive-nav {
		display: block;
	}




	.archive-nav__body {
		overflow-x: hidden; 
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		max-height: calc(100vh - 50px);
	}
	@media (min-width: 730px){
  	body[data-overlay-active="menu"] .full-screen-overlay__inner {
			margin: 50px auto;
			max-height: calc(100vh - 100px);
			max-width: 730px; 
			border-radius: 5px;
		} 
		.archive-nav__body {
			max-height: calc(100vh - 150px);
		}
	} 

	@media (max-width: 730px){
	/*		.archive-nav__link,
		.archive-nav__heading {
			border-bottom: 1px solid #ddd;
		}*/
	}
	.archive-nav__heading {
		color: #777;
		font-size: 1rem !important;
		text-transform: uppercase !important;
		letter-spacing: 0.2rem !important;
		font-weight: 400 !important;
		margin-bottom: 0 !important;
	}
	@media (min-width: 730px){
		.archive-nav__heading {
			margin-top: 24px;
		}
	}
	.post-excerpt { 
	display:none; }

	.archive-nav__head {
		height: 50px;
    background: #f5f5f5;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid #ddd;
	}
	.archive-nav__search-wrapper {
		padding: 10px 0 0;
		margin: 0 auto;
		position: relative;
	}
	@media (max-width: 830px){
		.archive-nav__search-wrapper {
			padding: 10px 16px 0;
			margin-right: 50px;
		}
	}
	.archive-nav__search {
    border-radius: 16px;
    width: 100%;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    padding: 1px 10px 1px 36px;
	}
	.archive-nav__close {
		box-sizing: border-box;
    width: 50px;
    height: 49px;
    text-align: center;
    font-size: 36px;
    line-height: 35px;
    border: 0 none;
    color: #343f44;
    padding: 0;
    background: #f5f5f5;
    cursor: pointer;
	}
	.archive-nav__close:hover svg {
		transform: scale(1.1);
		transition: 0.2s;
	}




	.archive-nav__search:focus {
	  outline: none;
	  box-shadow: 
	  	0px 0px 12px #4D90FE, 
	  	0px 0px 3px #4D90FE
	  ;
	}

	@media (min-width: 730px){
		.archive-nav .post-title {
			/*font-size: 21px;
			line-height: 1.25;*/
			letter-spacing: 0;
		}
	}
	.archive-nav__link {
		padding: 8px 32px;
	}
</style>

<script>
	function noClose(e) { 
		e.stopImmediatePropagation();
	}
</script>


<nav role="navigation" id="js-archive-nav" class="archive-nav full-screen-overlay" data-overlay-trigger="false">

	<div class="full-screen-overlay__inner" onclick="noClose(event)">
		<div class="archive-nav__head">
			<button onclick="$('body').attr('data-overlay-active', 'false');return false;" class="archive-nav__close right">
        <span class="screen-reader-text">Close</span>
				<svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" style="width:30px;margin:10px;">
					<g id="Artboard" fill="currentColor">
					  <polygon id="Shape" points="2.32258065 36 18.0829493 20.2396313 33.843318 36 36 33.843318 20.2396313 18.0829493 36 2.32258065 33.843318 0 18.0829493 15.7603687 2.32258065 0 0 2.32258065 15.7603687 18.0829493 0 33.843318"></polygon>
					</g>
				</svg>
			</button>
			<div class=" archive-nav__search-wrapper width-m" style="margin:0 70px 0 20px;">
				<div class="relative">
					<img src="/2018/images/icons/search.png" width="17" height="17" style="position: absolute;top: 7px;left: 12px;" alt="search icon">
					<label for="search_events" class="screen-reader-text">Search events</label>
					<input id="search_events" class="search archive-nav__search" />				
				</div>

			</div>
		</div>

		<div class="archive-nav__body">
			<div class="width-m centre">
				{% assign has_upcoming = false %}
				{% for post in site.posts %}
					{% if post.upcoming == true %}
						{% assign has_upcoming = true %}
					{% endif %}
				{% endfor %}

				


				
				
				
			<ul class="list pt4">
				<li>
					<h2 class="fs-s  track-loose uppercase regular pv1 ph4">Upcoming Events</h2>
				</li>		




				
				{% if has_upcoming %}
					{% for post in site.posts %}

						{% if post.upcoming == true && post.hide_in_nav != true %}
							{% if post.hide_in_nav == true %}
							{% else %}
								<li class="event-title-list-item event-upcoming {% if page.url == post.url %}current{% endif %}">
									<a class="block-link pv3 ph5  archive-nav__link" title="{{ post.title }}" href="{{ site.url }}{{post.url}}" {% if post.conference == true %}target="conference"{% endif %}>
										<div class="post-title weight-900 block-link__highlight">{{ post.title }}</div>
										<div class="post-date ">{{post.date | date: "%-d %B %Y"}}{% if post.start %}<span class="event-time inline-block">, {{post.start}}</span>{% endif %}</div>
										<div class="post-excerpt">{{ post.content | strip_html }}</div>
									</a>
								</li>							
							{% endif %}

						{% endif %}
					{% endfor %}
				{% endif %}


				
				<!-- <li class="event-title-list-item">
					<a class="block-link pv3 ph4 archive-nav__link" href="/2020">
						<div class="post-title weight-900 block-link__highlight">2020 Conference ★ UX and Product Management</div>
						<div class="post-date ">6 November 2019</div>
					</a>
				</li> -->

				
				<li>
					<hr style="margin: 1.5em 0 2em;">
					<h2 class="fs-s  track-loose uppercase regular pv1 ph4 ">Archive: Previous Events</h2>
				</li>
				

				{% for post in site.posts %}
					{% if post.stub == null %}
						{% if post.upcoming == null or post.upcoming == false %}

							{% capture postyear %}{{post.date | date: "%Y"}}{% endcapture %}
							{% capture currentyear %}{{site.time | date: "%Y"}}{% endcapture %}
							<li class="event-title-list-item event-previous {% if page.url == post.url %}current{% endif %}{% if postyear == currentyear %} current-year{% endif %}">
								<a class="block-link pv3 ph4   archive-nav__link" title="{{ post.title }}" href="{{ site.url }}{{post.url}}" {% if post.conference == true %}target="conference"{% endif %}>
									<div class="post-title weight-900 block-link__highlight">{{ post.title }} {% if post.noinfo == true %}<span class="stub">stub</span>{% endif %}</div>
									<div class="post-date">

									{% if postyear >= currentyear %}
										{{ post.date | date: "%-d %B" }}
										{% else %}
										{{ post.date | date: "%-d %B %Y" }}
							 		{% endif %}
									</div>
									<div class="post-excerpt">{{ post.content | strip_html }}</div>
								</a>
			          
							</li>

						{% endif %}
					{% endif %}
			  {% endfor %}	
				</ul>	
			</div><!-- width-m -->		
		</div>		
	</div>

	


</nav>
