<!-- Organisers -->
			{% if page.organisers %}
			<h2>Organisers</h2>
			<ul class="organisers-list">
			{% for organiser in page.organisers %} 
				{% if organiser == "Alex" %}
					<li><a href="http://www.twitter.com/alexandtheweb">Alex</a> | <a href="http://www.alexandtheweb.com">alexandtheweb.com</a></li>
				{% elsif organiser == "Danny" %}
					<li><a href="http://www.twitter.com/yandle">Danny</a> | <a href="http://dannyhope.co.uk/">dannyhope.co.uk</a></li>
				{% elsif organiser == "Patrick" %}
					<li><a href="https://twitter.com/Patrick_Sansom">Patrick</a> | <a href="http://www.linkedin.com/in/patricksansomdesigner">linkedin.com/in/patricksansomdesigner</a></li>
				{% elsif organiser == "Luke" %}
					<li><a href="http://www.twitter.com/hayluke">Luke</a> | <a href="http://www.lukehay.co.uk/">lukehay.co.uk</a></li>
				{% elsif organiser == "Tim" %}
					<li><a href="https://twitter.com/timminor">Tim</a> | <a href="http://www.t75.org/">t75.org</a></li>
				{% elsif organiser == "Tom" %}
					<li><a href="https://twitter.com/tomprior">Tom</a> | <a href="http://thomasprior.co.uk/">thomasprior.co.uk</a></li>
				{% else %}	
				{% endif %}									
			{% endfor %}		
			</ul>			
			{% endif %}	