{% comment %}
  ----------------------------------------------
  Service worker script
  ----------------------------------------------
{% endcomment %}
<script>
  // if browser has serviceWorkers remove service worker caches and registrations
  if ('serviceWorker' in navigator) {
    caches.keys().then(function(cacheNames) {
      cacheNames.forEach(function(cacheName) {
        caches.delete(cacheName);
      });
    });
    navigator.serviceWorker.getRegistrations().then(function(registrations) {
      for(let registration of registrations) {
      registration.unregister()
    } });
  }
</script>

{% comment %}
  ----------------------------------------------
  Vendor JavaScript scripts
  ----------------------------------------------
{% endcomment %}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/2.0.0/jquery.mobile-events.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>try { $.each(q,function(i,f){$(f)});} catch(e) {}</script>


{% comment %}
  ----------------------------------------------
  Custom JavaScript scripts
  ----------------------------------------------
{% endcomment %}
<script src="{{ '/scripts/bundle.js' | relative_url }}"></script>

{% comment %}
  ----------------------------------------------
  News letter email scripts
  ----------------------------------------------
{% endcomment %}
<script>
    $(function() {
      var options = { valueNames: [ 'post-excerpt'] };
      var userList = new List('js-archive-nav', options);
      function displayNewsletter(){
        var _val = "newsletter",
            _currentVal = $('body').attr('data-overlay-active');
        if (_val == _currentVal) {
          $("body").attr('data-overlay-active','false');
        } else {
          $("body").attr('data-overlay-active',_val);
          if (_val == 'menu'){ $( '.archive-nav__search' ).focus(); }
          if (_val == 'slack'){ $( '#email' ).focus(); }
          if (_val == 'newsletter'){ $( '#fieldEmail' ).focus(); }
        }
      };

      if (/[?&]open=newsletter/.test(location.search)) {
        displayNewsletter();
      }

      // getCookie(name)
      // setCookie(name, value, days)
      // deleteCookie(name)

    });


      $('[type="email"]').on('focus', function(){
        $(this).removeClass('is-invalid');
      });
      function newsletterAnalytics (event) {
        event.preventDefault();
        var newsletterOptions = $(this).closest('[data-news-options]').attr('class');
        newsletterOptions = newsletterOptions.trim().replace(/ /g, ' - ');
        if (newsletterOptions == "") {
          $(this).closest('form').find('.js-email-no-choice').slideDown();
        } else {
          var fieldToTest  = $(this).closest('form').find('[type="email"]')[0];
          var isValidEmail = fieldToTest.checkValidity();
          if ( isValidEmail ) {
            window.dataLayer = window.dataLayer || [];
            dataLayer.push({
              'event' : 'formSubmission',
              'formName' : 'contact us',
              'formFieldsSelected' : newsletterOptions
            });
            console.log('newsletterOptions',newsletterOptions);
            $(this).closest('form').submit();
          } else {
            $(this).closest('form').find('.js-email-no-email').slideDown();
          }
        }
      }

  </script>

{% comment %}
  ----------------------------------------------
  Jobs-specific JavaScript scripts
  ----------------------------------------------
{% endcomment %}
  {% if page.url contains "/jobs/" %}
    <link rel="stylesheet" type="text/css" href="/js/tooltipster-master/dist/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" />
    <script type="text/javascript" src="/js/tooltipster-master/dist/js/tooltipster.bundle.min.js"></script>
    <script>
      $(function() {
        $('.tooltip').tooltipster({
          animation: 'fade',
          delay: 1,
          theme: 'tooltipster-shadow'
        });
      });

      var jobs_stored  = [{% for job in site.data.jobs %}{% if job.publish == 'TRUE' %}'{{ job.job-id }}',{% endif %}{% endfor %}
      ];
      var json_str = JSON.stringify(jobs_stored);
      setCookie('jobs_stored', json_str);

    </script>
  {% else %}
    <script>
      // var jobs_stored  = ['peter','ko38r4h','invu9e','nviuo3','hh9e0nc','8uggvtd'];
      // var json_str = JSON.stringify(jobs_stored);
      // setCookie('jobs_stored', json_str);
    </script>
  {% endif %}


  <script>
    var jobs_current     = [
      {% for job in site.data.jobs %}{% if job.publish == 'TRUE' %}'{{ job.job-id }}',{% endif %}{% endfor %}
    ];
    var jobs_stored = getCookie('jobs_stored');
    jobs_stored = JSON.parse(jobs_stored);
    var jobs_diff  = $(jobs_current).not(jobs_stored).get().length;
    var unviewed_number = "unviewed--single";
    if (jobs_diff > 0) {
      if (jobs_diff > 9) { jobs_diff = "9+";unviewed_number = "unviewed--double"; }
      $('.masthead__link--jobs').addClass(unviewed_number).append('<span class="unviewed">'+jobs_diff+'</span>');
    };
  </script>

{% comment %}
  ----------------------------------------------
  Upcoming-specific JavaScript scripts
  ----------------------------------------------
{% endcomment %}
  <script>
    var upcoming_current  = [];
    {% assign has_upcoming = false %}
    {% for post in site.posts %}
      {% if post.upcoming == true && if post.published == true %}
        {% assign has_upcoming = true %}
      {% endif %}
    {% endfor %}
    {% if has_upcoming %}
    upcoming_current  = [ {% for post in site.posts %}{% if post.upcoming == true && if post.published == true %}'{% if post.conference-url %}{{ post.conference-url }}{% else %}{{ post.url }}{% endif %}',{% endif %}{% endfor %} ];
    {% endif %}
    //console.log('upcoming_current',upcoming_current);

    var upcoming_stored = getCookie('upcoming_stored');
    upcoming_stored = JSON.parse(upcoming_stored);
    if (upcoming_stored == null) {
      upcoming_stored = [];
    }

    //console.log('upcoming_stored',upcoming_stored);

    //If the current pathname is in the upcoming current, but not the upcoming stored, add the pathname to upcoming stored and re set cookie with update

    var this_path = window.location.pathname
    //console.log('this_path',this_path);
    if ((upcoming_current.indexOf(this_path) > -1)){
      if ((upcoming_stored.indexOf(this_path) == -1)){
        upcoming_stored.push(this_path);
        //console.log('upcoming_stored2',upcoming_stored);
      }
    }
    var json_str = JSON.stringify(upcoming_stored);
    setCookie('upcoming_stored', json_str);
    var upcoming_diff    = $(upcoming_current).not(upcoming_stored).get().length;
    var unviewed_number = "unviewed--single";
    if (upcoming_diff > 0) {
      if (upcoming_diff > 9) { jobs_diff = "9+";unviewed_number = "unviewed--double"; }
      $('.masthead__link--events').addClass(unviewed_number).append('<span class="unviewed">'+upcoming_diff+'</span>');
    };
  </script>
