<!-- Google Tag Manager -->
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TTCR2PB');
</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) ## NEW GA4 tag ## -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TSMSY0SC4H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('set', 'linker', {'domains': ['tickettailor.com']});
  gtag('config', 'G-TSMSY0SC4H');
</script>

<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
  (function() {
  window.__insp = window.__insp || [];
  __insp.push(['wid', 1334663886]);
  var ldinsp = function(){
  if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1334663886&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  setTimeout(ldinsp, 0);
  })();
</script>
<!-- End Inspectlet Asynchronous Code -->

{%- comment %}
  <!-- Google tag (gtag.js) ## OLD tag ## -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7759112-2"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-7759112-2');
  </script>
{% endcomment %}
