<section class="upcoming-events">
  <div class="event-card">
    <p class="when"><a href="/JTBD-Workshop/">11 July</a></p>
    <p class="what"><a href="/JTBD-Workshop/">Jobs To Be Done Workshop</a></p>
    <p class="ticket-link"><a href="https://www.eventbrite.co.uk/e/jobs-to-be-done-workshop-tickets-34417737379?&_eboga=2.71061136.1482645015.1494608585-647192239.1460285662">Tickets £300–400</a></p>
  </div>

  <div class="event-card" style="background-image: url(https://static1.squarespace.com/static/58471c371b631b042d8e1ec4/58471ca99de4bb2223aee06f/58471cb603596e15cd0d4b6c/1490560332419/15779753796_87cfc211ce_k.jpg)">
    <p class="when happened"><a href="/UXCampRedux/">Took place 9 May</a></p>
    <p class="what"><a href="/UXCampRedux/">UX Camp Redux</a></p>
  </div>

  <div class="event-card" style="background-image: url(../assets/2017-psychology-workshop/joe-leech-youtube.jpg)">
    <p class="when happened"><a href="/psychology-workshop/">Took place 9 May</a></p>
    <p class="what"><a href="/psychology-workshop/">Psychology for Design</a></p>
  </div>

  <div class="event-card last" style="background-image: url(../assets/2017-behavioural-research-for-design/dots.png)">
    <p class="when happened"><a href="/behavioural-research-for-design/">Took place 14 February</a></p>
    <p class="what"><a href="/behavioural-research-for-design/">Design Research - 2 new approaches</a></p>
  </div>

</section>
