        <style>

          @media (min-width: 860px) {
            .upcoming__container {
              width: 330px;
              float: right;
              padding: 18px 18px;
              margin-bottom: 24px !important;
              margin-top: -40px;
            }
            .upcoming__container__heading {
              margin-bottom: 12px;
            }
            .upcoming__teaser {
              padding-top: 12px;
              padding-bottom: 12px;
            }
          }
          @media (max-width: 859px) {
            #hero .overlay__inner {
              padding: 20px 0 0;
            }
            .upcoming__container {
              padding: 6px 12px;
              margin-bottom: 24px !important;
            }
            .upcoming__teaser,
            .upcoming__container__heading {
              padding-top: 6px;
              padding-bottom: 6px;
            }
            .upcoming__teaser__text,
            .upcoming__teaser__heading,
            .upcoming__teaser__button {
              font-size: 16px !important;
            }
          }
          .upcoming__teaser__heading {
            margin-bottom: 0;
          }
          .upcoming__teaser__button {
            margin-top: 6px; 
            margin-bottom: 6px;
          }
        </style>
      
        <div class="upcoming__container color-black bg-white rounded ">

          <h2 class="upcoming__container__heading fs-s track-loose uppercase  regular">Upcoming Events:</h2>
          
          <div class="upcoming__teaser border-top pt2">
            <h3 class="upcoming__teaser__heading mb0">
              UX Brighton Xmas Party
            </h3>
            <div class="upcoming__teaser__text">
              The Fountainhead, 14 December, from 4pm. Hope to see you there!
            </div>
            <a href="https://www.google.com/maps/place/Fountain+Head/@50.8255842,-0.1383567,19z/data=!4m13!1m7!3m6!1s0x4875857559733943:0xd34c1910f861bb80!2s101-102+North+Rd,+Brighton+BN1+1YE!3b1!8m2!3d50.8255842!4d-0.1378095!3m4!1s0x4875859fe2eb77db:0x5bdeb264727a570a!8m2!3d50.8255048!4d-0.1373277" class="upcoming__teaser__button button mt1 mb2 button--green">
              Location
            </a>
          </div>


          
          <div class="upcoming__teaser border-top">
            <h3 class="upcoming__teaser__heading ">
              February double bill
            </h3>
            <div class="upcoming__teaser__text">
              Tue 12 February 2019, 19:00
            </div>
            <a href="/February-double-bill/" class="upcoming__teaser__button button button--green ">
              Tickets and info
            </a>
          </div>
          
          <div class="upcoming__teaser border-top">
            <h3 class="upcoming__teaser__heading ">
              UX Brighton 2019
            </h3>
            <div class="upcoming__teaser__text">
              Ultra early-bird discount: 
              35% off, limited time only
            </div>
            <a href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets" class="upcoming__teaser__button button button--green">
              Buy Now — 35% off
            </a>
          </div>
        </div>