        <style>

          @media (min-width: 860px) {
            .upcoming__container {
              width: 330px;
              float: right;
              padding: 18px 18px;
              margin-bottom: 24px !important;
            }
            .upcoming__container__heading {
              margin-bottom: 12px;
            }
            .upcoming__teaser {
              padding-top: 12px;
              padding-bottom: 12px;
            }
          }
          @media (max-width: 859px) {
            #hero .overlay__inner {
              padding: 20px 0 0;
            }
            .upcoming__container {
              padding: 6px 12px;
              margin-bottom: 24px !important;
            }
            .upcoming__teaser,
            .upcoming__container__heading {
              padding-top: 6px;
              padding-bottom: 6px;
            }
            .upcoming__teaser__text,
            .upcoming__teaser__heading,
            .upcoming__teaser__button {
              font-size: 16px !important;
            }
          }
          .upcoming__teaser__heading {
            margin-bottom: 0;
          }
          .upcoming__teaser__button {
            margin-top: 6px; 
            margin-bottom: 6px;
          }
        </style>
      
        <div class="upcoming__container color-black bg-white rounded ">

          <h2 class="upcoming__container__heading fs-s track-loose uppercase regular">Upcoming Events</h2>
        
          
          <div class="upcoming__teaser border-top">
            <h3 class="upcoming__teaser__heading ">
              February triple bill
            </h3>
            <div class="upcoming__teaser__text">
              Tue 12 February 2019, 19:00
            </div>
            <a href="/February-double-bill/" class="upcoming__teaser__button button button--green ">
              Tickets and info
            </a>
          </div>
          
          <div class="upcoming__teaser border-top">
            <h3 class="upcoming__teaser__heading ">
              UX Brighton 2019
            </h3>
            <div class="upcoming__teaser__text">
              Ultra early-bird discount: 
              35% off, limited time only
            </div>
            <a href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets" class="upcoming__teaser__button button button--green">
              Buy Now — 35% off
            </a>
          </div>
        </div>