<section class="upcoming-events">

  <div class="event-card" style="background-image: url(../assets/conference-2016/16415170687_c4ed3d9c88_k.jpg)">
    <p class="when happened"><a href="/conference-2017/">3 November</a></p>
    <p class="what"><a href="/conference-2017/">Designing for Complexity</a></p>
  </div>

  <div class="event-card" style="background-image: url(../assets/2017-rapport-and-manipulation/genie.png)">
    <p class="when happened"><a href="/building-rapport/">Took place 11 July</a></p>
    <p class="what"><a href="/building-rapport/">Rapport & Manipulation</a></p>
  </div>

  <div class="event-card" style="background-image: url(../assets/2017-jtbdWorkshop/jillian-wells-adjusted-1362.jpg)">
    <p class="when happened"><a href="/JTBD-Workshop/">Took place 11 July</a></p>
    <p class="what"><a href="/JTBD-Workshop/">Jobs To Be Done Workshop</a></p>
  </div>

  <div class="event-card" style="background-image: url(https://static1.squarespace.com/static/58471c371b631b042d8e1ec4/58471ca99de4bb2223aee06f/58471cb603596e15cd0d4b6c/1490560332419/15779753796_87cfc211ce_k.jpg)">
    <p class="when happened"><a href="/UXCampRedux/">Took place 9 May</a></p>
    <p class="what"><a href="/UXCampRedux/">UX Camp Redux</a></p>
  </div>

</section>
