<!-- Venues -->
<style>
	.venue {
	  padding-top: 56.25%;
	  height: 0;
	  display: block;
	  position: relative;
	  margin-top: 16px;
	  margin-bottom: 32px;
	  border-radius: 4px;
	}
</style>
{% if page.venue == "The Skiff" %}
	<a class="venue" href="https://www.google.com/maps/place/30+Cheapside,+Brighton+BN1+4GD,+UK/@50.8293337,-0.1390193,19z/data=!3m1!4b1!4m5!3m4!1s0x4875859e03800c0b:0x9e1dc66912fdd215!8m2!3d50.8293337!4d-0.1384721" title="Map of The Skiff in Google Maps" style="background: url(/images/maps/theskiff.png) center center;background-size: cover;"><span class="screen-reader-text">Map</span><!-- <img src="/images/maps/theskiff.png" alt="Map of The Skiff, Cheapside"> --></a>

{% elsif page.venue == "Fabrica" %}
	<a class="venue" href="https://www.google.co.uk/maps/preview?ie=UTF-8&q=Fabrica&fb=1&gl=uk&hq=fabrica+brighton+map&cid=14449724007721988412&ei=TmssU5LZFsaK0AWOyICADQ&ved=0CJwBEPwSMBM" title="Fabrica in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/fabrica.png" alt="Map of Fabrica Gallery"></a>

{% elsif page.venue == "The Corn Exchange" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/Brighton+Dome/@50.8226911,-0.1403241,17z/data=!4m8!1m2!2m1!1sbrighton+corn+exchange!3m4!1s0x4875850a94b987c3:0x204845bd08377bb3!8m2!3d50.8237118!4d-0.1379563" title="The Corn Exchange in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/cornexchange.png" alt="Map of The Corn Exchange"></a>

{% elsif page.venue == "Lighthouse" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/Lighthouse+Arts/@50.825959,-0.1383446,17z/data=!3m1!4b1!4m2!3m1!1s0x48758575663032a1:0x1316760b33779607" title="Lighthouse in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/lighthouse.png" alt="Map of Lighthouse"></a>

{% elsif page.venue == "Hotel Du Vin" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/Hotel+Du+Vin,+Brighton,+Sussex+BN1+1AD/@50.820603,-0.1424011,17z/data=!3m1!4b1!4m2!3m1!1s0x4875850b9f6187ad:0x5c4a915062d2406a" title="Hotel Du Vin in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/hotelduvin.png" alt="Map of Hotel du Vin"></a>

{% elsif page.venue == "iCrossing" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/iCrossing/@50.82106,-0.141623,17z/data=!3m1!4b1!4m2!3m1!1s0x4875850bbc0bd8c3:0x9d4b95d0769fcb8b" title="iCrossing in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/icrossing.png" alt="Map of iCrossing"></a>

{% elsif page.venue == "Old Music Library" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/50%C2%B049'26.5%22N+0%C2%B008'18.0%22W/@50.830066,-0.134153,4853m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0" title="Old MUsic Library in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/oldmusiclibrary.png" alt="Map of Old Music Library"></a>

{% elsif page.venue == "The Werks" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/The+Werks/@50.827106,-0.16502,17z/data=!3m1!4b1!4m2!3m1!1s0x48758540def62345:0x584bd340cc4afe11" title="The Werks in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/thewerks.png" alt="Map of The Werks"></a>

{% elsif page.venue == "The Regency Town House" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/The+Regency+Town+House/@50.824431,-0.158382,17z/data=!3m1!4b1!4m2!3m1!1s0x487585152deae863:0x412527a3c5068be8" title="The Regency Town House in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/regencytownhouse.png" alt="Map of Regency Town House"></a>

{% elsif page.venue == "68 Middle Street" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/68+Middle+Street/@50.8213058,-0.1435,17.52z/data=!4m2!3m1!1s0x4875850b8bff80ab:0xe394c1b403d654b" title="68 Middle Street in Google Maps" class="where" style="background: url(/images/maps/68middlestreet.png) center center;background-size: cover;"><span class="screen-reader-text">Map</span></a>

{% elsif page.venue == "Hatch" %}
	<a class="venue" href="https://www.google.co.uk/maps/place/1+Preston+Rd,+Brighton,+The+City+of+Brighton+and+Hove+BN1/@50.8330585,-0.1407332,17z/data=!4m2!3m1!1s0x48758577bf971d2f:0x3188aa7d63223b88" title="1 Preston Road in Google Maps" class="where"><span class="screen-reader-text">Map</span><img src="/images/maps/hatch.png" alt="Map of Hatch, 1 Preston Rd"></a>

{% else %}
<a class="soon">The venue for this event will be announced soon.</a>
{% endif %}
