<!-- Venues -->

{% if page.venue == "Fabrica" %}
	<a href="https://www.google.co.uk/maps/preview?ie=UTF-8&q=Fabrica&fb=1&gl=uk&hq=fabrica+brighton+map&cid=14449724007721988412&ei=TmssU5LZFsaK0AWOyICADQ&ved=0CJwBEPwSMBM" title="Fabrics in Google Maps" class="where">Fabrica, 40 Duke Street, Brighton, BN1 1AG 
	</a>

{% elsif page.venue == "Lighthouse" %}
	<a href="https://www.google.co.uk/maps/place/Lighthouse+Arts/@50.825959,-0.1383446,17z/data=!3m1!4b1!4m2!3m1!1s0x48758575663032a1:0x1316760b33779607" title="Lighthouse in Google Maps" class="where">Lighthouse, 28 Kensington Street, Brighton, BN1 4AJ</a>

{% elsif page.venue == "Hotel Du Vin" %}
	<a href="https://www.google.co.uk/maps/place/Hotel+Du+Vin,+Brighton,+Sussex+BN1+1AD/@50.820603,-0.1424011,17z/data=!3m1!4b1!4m2!3m1!1s0x4875850b9f6187ad:0x5c4a915062d2406a" title="Hotel Du Vin in Goole Maps" class="where">Hotel Du Vin, 2-7 Ship Street, Brighton, BN1 1AD</a>

{% elsif page.venue == "iCrossing" %}
	<a href="https://www.google.co.uk/maps/place/iCrossing/@50.82106,-0.141623,17z/data=!3m1!4b1!4m2!3m1!1s0x4875850bbc0bd8c3:0x9d4b95d0769fcb8b" title="iCrossing in Goole Maps" class="where">icrossing, Moore House, 13 Black Lion Street, Brighton, UK, BN1 1ND</a>

{% elsif page.venue == "Old Music Library" %}
	<a href="https://www.google.co.uk/maps/place/50%C2%B049'26.5%22N+0%C2%B008'18.0%22W/@50.830066,-0.134153,4853m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0" title="iCrossing in Goole Maps" class="where">Old Music Library, 115-116 Church Street, Brighton, UK</a>

{% elsif page.venue == "The Werks" %}
	<a href="https://www.google.co.uk/maps/place/The+Werks/@50.827106,-0.16502,17z/data=!3m1!4b1!4m2!3m1!1s0x48758540def62345:0x584bd340cc4afe11" title="The Werks in Goole Maps" class="where">The Werks, 45 Church Rd, Brighton and Hove, Hove, East Sussex BN3 2BE, UK</a>




{% else %}
The venue for this event will be announced soon.
{% endif %}