<!-- Venues -->
{% if page.venue == "Fabrica" %}
Fabrica, 40 Duke Street, Brighton, East Sussex, BN1 1AG 
<a href="https://www.google.co.uk/maps/preview?ie=UTF-8&q=Fabrica&fb=1&gl=uk&hq=fabrica+brighton+map&cid=14449724007721988412&ei=TmssU5LZFsaK0AWOyICADQ&ved=0CJwBEPwSMBM">Map</a>
{% elsif page.venue == "Lighthouse" %}
Lighthouse, 28 Kensington Street, Brighton, BN1 4AJ 
<a href="https://www.google.co.uk/maps/place/Lighthouse+Arts/@50.825959,-0.1383446,17z/data=!3m1!4b1!4m2!3m1!1s0x48758575663032a1:0x1316760b33779607">Map</a>
{% else %}
The venue for this event will be announced soon.
{% endif %}