{% if homepage.hero.hero-state == "pre" %}
  <h1 itemprop="name" class="fs-xxxl leading-solid mb3 u2of3-over-m">
    <span class="fs-l mb1 block track-normal weight-400">{{ homepage.hero.global.conference }}</span>
    {{ homepage.hero.pre.title }}
  </h1>
{% endif %}

{% if homepage.hero.hero-state == "during" %}
  <h1 itemprop="name" class="fs-xxxl leading-solid mb3">
    <span class="fs-l mb1 block track-normal weight-400">{{ homepage.hero.global.conference }}</span>
    {{ homepage.hero.during.title }}
  </h1>
{% endif %}

{% if homepage.hero.hero-state == "post" %}
  <h1 itemprop="name" class="fs-xxxl leading-solid mb3">
    <span class="fs-l mb1 block track-normal weight-400">{{ homepage.hero.global.conference }}</span>
    {{ homepage.hero.post.title }}
  </h1>
{% endif %}

{% if (homepage.hero.hero-state == "pre") or (homepage.hero.hero-state == "during") %}
  <h2 class="mt0 fs-l regular track-normal mb6">
      <span class="event-date" itemprop="startDate" content="{{ homepage.hero.global.date-time }}">{{ homepage.hero.global.date }}</span>, {{ homepage.hero.global.venue }}
  </h2>
{% endif %}

{% if homepage.hero.hero-state == "post" %}
  <h2 class="mt0 fs-l regular track-normal mb6 u1of2-over-m">
    <div class="block">{{ homepage.hero.post.message }}</div>
  </h2>
{% endif %}

<div>
  {% if homepage.hero.hero-state == "pre" %}
    <a href="{{ homepage.hero.pre.button.url }}" class="button button--large button--green weight-900 fs-l" target="_blank" data-buy-ticket="conference-2022">{{ homepage.hero.pre.button.label }}</a>
    {% if homepage.hero.pre.button.extra-text %}
      <p class="mb0 mt1 weight-400 fs-l">{{ homepage.hero.pre.button.extra-text }}</p>
    {% endif %}
  {% endif %}

  {% if homepage.hero.hero-state == "during" %}
    <div class="clearfix">
      <div class="bg-red ph4 pv2 weight-900 fs-l inline-block">
        {{ homepage.hero.during.message }}
      </div>
    </div>
    <a href="{{ homepage.hero.during.button.url }}" class="button button--large button--green weight-900 mt6 fs-l" target="_blank" data-buy-ticket="conference-2023">{{ homepage.hero.during.button.label }}</a>
    {% if homepage.hero.during.button.extra-text %}
      <p class="mb0 mt1 weight-400 fs-l">{{ homepage.hero.during.button.extra-text }}</p>
    {% endif %}
  {% endif %}

  {% if homepage.hero.hero-state == "post" %}
    <a href="{{ homepage.hero.post.button.url }}" class="button button--large button--green weight-900 fs-l" target="_blank" data-buy-ticket="conference-2023">{{ homepage.hero.post.button.label }}</a>
    {% if homepage.hero.post.button.extra-text %}
      <p class="mb0 mt1 weight-400 fs-l">{{ homepage.hero.post.button.extra-text }}</p>
    {% endif %}
  {% endif %}
</div>
