{% if homepage.highlights.visibility == true and homepage.speakers.visibility != true  %}
<section id="highlights" class="bg-grey-5">
  <div class="container">
    <h2 class="mb2 gutter-top">{{ homepage.highlights.title }}</h2>
    <div class="row mt0">
      <div class="u2of3-over-l left-over-l  pr0-under-l">
        <div class="clearfix">
          {% for entry in homepage.highlights.video %}
            <div class="video-box u1of2-over-s left-over-s ">
              <a href="{{ entry.url }}">
                <img src="{{ entry.thumbnail }}" alt="{{ entry.alt }}.">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="u1of3-over-l right-over-l gutter-left pb3 pt3-under-s pt1">
        <blockquote>
          <div class="quote">
            <p>{{ homepage.highlights.testimonial.quote }}</p>
          </div>
          <div class="quotee">{{ homepage.highlights.testimonial.quotee }}</div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
{% endif %}