

    <div id="nav--in-page" class="relative nav--in-page sticky drop bg-white  bold z-max top-0 " style="height: 51px; z-index: 200;">
      <div class="container ">
        <ul class="nav ph0">
          <li class="inline-block nav-item color-black">
            <a href="#top" class="highlight-if--nav--in-page-is-stuck masthead__link nav-link color-black">
              Top
            </a>
          </li>
          {% if page.speakers == "show" %}
            <li class="nav-item inline-block ">
              <a href="#talks" class="masthead__link nav-link color-black">Talks</a>
            </li>
          {% else %}
            <li class="nav-item inline-block ">
              <a href="#highlights" class="masthead__link nav-link color-black"><span class="hidden-under-m">Past highlights</span><span class="hidden-over-m">Highlights</span></a>
            </li>
          {% endif %}
          <!-- <li class="nav-item inline-block nav-item--sponsors hidden-under-ms">
            <a href="#venue" class="masthead__link nav-link color-black">Venue</a>
          </li> -->
          {% if page.sponsors == "show" %}
            <li class="nav-item inline-block nav-item--sponsors hidden-under-s">
              <a href="#sponsors" class="masthead__link nav-link color-black">Sponsors</a>
            </li>
          {% endif %}
          {% if page.workshops == "show" %}
            <li class="nav-item inline-block nav-item--other-workshop">
              <a href="#workshop" class="masthead__link nav-link color-black">Workshop</a>
            </li>
          {% endif %}

          <!-- <li class="nav-item inline-block hidden-under-l nav-item--other-events">
            <a href="#promotions" class="masthead__link nav-link color-black">Other events</a>
          </li> -->

          {% if page.hero.button.ticket-button == "show" %}
            <li class="nav-item inline-block nav-item--tickets">
              <a href="https://www.tickettailor.com/events/uxbrighton/362453" class="button button--green bold" style="padding:8px; vertical-align: baseline;"><span class="hidden-under-m">Buy </span>Tickets</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
