{% if homepage.overview.visibility == true %}

  <!-- Pre-conference content -->
  {% if homepage.overview.overview-state == "pre" %}
  <div class="u2of3-over-l left-over-l gutters if-cta-is-stuck__adjacent-content">
    <h2 class="mb2 mt4">{{ homepage.overview.pre.title }}</h2>
    <div class="if-cta-is-stuck__adjacent-content__text">
      <div class="standfirst">
        {{ homepage.overview.pre.lede.body | markdownify }}
      </div>
      <div>
        {{ homepage.overview.pre.text.body | markdownify }}
      </div>
    </div>
  </div>
  {% endif %}

  <!-- During conference content -->
  {% if homepage.overview.overview-state == "during" %}
  <div class="u2of3-over-l left-over-l gutters if-cta-is-stuck__adjacent-content">
    <h2 class="mb2 mt4">{{ homepage.overview.during.title }}</h2>
    <div class="if-cta-is-stuck__adjacent-content__text">
      <div class="standfirst">
        {{ homepage.overview.during.lede.body | markdownify }}
      </div>
      <div>
        {{ homepage.overview.during.text.body | markdownify }}
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Post-conference content -->
  {% if homepage.overview.overview-state == "post" %}
  <div class="u2of3-over-l left-over-l gutters if-cta-is-stuck__adjacent-content">
    <h2 class="mb2 mt4">{{ homepage.overview.post.title }}</h2>
    <div class="if-cta-is-stuck__adjacent-content__text">
      <div class="standfirst">
        {{ homepage.overview.post.lede.body | markdownify }}
      </div>
      <div>
        {{ homepage.overview.post.text.body | markdownify }}
      </div>
    </div>
  </div>
  {% endif %}

{% endif %}
