<!-- Pre-conference content -->
{% if homepage.overview.overview-state == "pre" %}
<div class="testimonial clearfix">
  <div class="row padding-top-row border-top mt0">
    <blockquote class="standfirst">
      <div class="quote">
        <p>{{ homepage.overview.pre.testimonial.quote }}</p>
      </div>
      <div class="quotee">{{ homepage.overview.pre.testimonial.quotee }}</div>
    </blockquote>
  </div>
</div>
{% endif %}

<!-- During conference content -->
{% if homepage.overview.overview-state == "during" %}
<div class="testimonial clearfix">
  <div class="row padding-top-row border-top mt0">
    <blockquote class="standfirst">
      <div class="quote">
        <p>{{ homepage.overview.during.testimonial.quote }}</p>
      </div>
      <div class="quotee">{{ homepage.overview.during.testimonial.quotee }}</div>
    </blockquote>
  </div>
</div>
{% endif %}

<!-- Post-conference content -->
{% if homepage.overview.overview-state == "post" %}
<div class="testimonial clearfix">
  <div class="row padding-top-row border-top mt0">
    <blockquote class="standfirst">
      <div class="quote">
        <p>{{ homepage.overview.post.testimonial.quote }}</p>
      </div>
      <div class="quotee">{{ homepage.overview.post.testimonial.quotee }}</div>
    </blockquote>
  </div>
</div>
{% endif %}