{% if homepage.pre-and-during-conf.travel-and-accommodation-blurb.visibility == true %}
<div class="row">
  <h2 class="mt0 mb3">{{ homepage.pre-and-during-conf.travel-and-accommodation-blurb.title }}</h2>
  {{ homepage.pre-and-during-conf.travel-and-accommodation-blurb.body | markdownify }}

  <ul class="columnar-list gutter-bottom">
    {% for entry in homepage.pre-and-during-conf.travel-and-accommodation-blurb.info %}
      <li>{{ entry.item }}</li>
    {% endfor %}
  </ul>

  <a class="row mv0 attendee-info-icons" href="/2022/info">
    <img alt="Travel" class="attendee-info-icon" src="/2022/graphics/attendee-info-icons/Travel.svg"/>
    <img alt="Acommodation" class="attendee-info-icon" src="/2022/graphics/attendee-info-icons/Hotel.svg"/>
    <img alt="Accessibility" class="attendee-info-icon" src="/2022/graphics/attendee-info-icons/Accessibility.svg"/>
    <img alt="Refreshments" class="attendee-info-icon" src="/2022/graphics/attendee-info-icons/Coffee.svg"/>
    <img alt="Charge" class="attendee-info-icon" src="/2022/graphics/attendee-info-icons/Charge.svg"/>
    <img alt="Wifi" class="attendee-info-icon" src="/2022/graphics/attendee-info-icons/Wifi.svg"/>
    <img alt="After Party" class="attendee-info-icon" src="/2022/graphics/attendee-info-icons/Drinks.svg"/>
  </a>
</div>
{% endif %}