{% comment %} Custom form that posts responses to Google Sheets {% endcomment %}
<div class="email-subscription--jobs">
  <h2>Get weekly job alerts</h2>
  <p>Be the first to know about jobs in <strong>UX design</strong>, <strong>research</strong>, <strong>writing</strong>, <strong>strategy</strong> and <strong>management</strong>. One email, once a week.</p>
  <form method="post" autocomplete="off" name="google-sheet" id="form" class="flow">
    <div class="form-control visually-hidden">
      <input type="checkbox" id="field_0" name="Job alerts" class="form-control" checked>
      <label for="field_0">Job alerts</label>
    </div>
    <div class="form-cta">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="Email address" class="form-control" required>
      <input type="submit" name="submit" value="Subscribe" class="button button--green bold mb0">
    </div>

    {% comment %} Additional lists to subscribe to {% endcomment %}
    <div class="form-list-add flow" style="display: none;">
      <p>Also subscribe to:</p>
      <fieldset>
        <legend class="visually-hidden">Additional newsletters to subscribe to</legend>
        <ul class="no-list flow">
          <li class="form-control">
            <input type="checkbox" id="field_1" name="Conference & workshop news" class="form-control">
            <label for="field_1">Conference & workshop news</label>
          </li>
          <li class="form-control">
            <input type="checkbox" id="field_2" name="Evening event news" class="form-control">
            <label for="field_2">Evening event news</label>
          </li>
          <li class="form-control">
            <input type="checkbox" id="field_3" name="Interesting links" class="form-control">
            <label for="field_3">Interesting links picked by the UX Brighton team</label>
          </li>
        </ul>
      </fieldset>
    </div>
  </form>

  {% comment %} Completion message {% endcomment %}
  <div class="form-message" style="display: none;">
    <p>Thanks, you're subscribed. We’ll be in touch soon.</p>
  </div>

</div>
