{% comment %} Custom form that posts responses to Google Sheets {% endcomment %}
{% capture id %}-{{ "now" | date: "%s%S" }}{% endcapture %}
<div class="email-subscription--jobs">
  <p class="visually-hidden">Be the first to know about jobs in <strong>UX design</strong>, <strong>research</strong>, <strong>writing</strong>, <strong>strategy</strong> and <strong>management</strong>. One email, once a week.</p>
  <form method="post" autocomplete="off" name="google-sheet" id="form{{ id }}" class="flow">
    <div class="form-control visually-hidden">
      <input type="checkbox" id="field_0{{ id }}" name="Job alerts" class="form-control" checked>
      <label for="field_0{{ id }}">Job alerts</label>
      {% comment %} So we can capture where the email submission happened {% endcomment %}
      <input type="text" id="submitted_from{{ id }}" value="" name="Submitted from" class="form-control">
      <label for="submitted_from{{ id }}">Submitted from</label>
    </div>
    <div class="form-cta">
      <label for="email{{ id }}" class="visually-hidden">Email Address</label>
      <input type="email" id="email{{ id }}" name="Email address" class="form-control pa2" required>
      <input type="submit" name="submit" value="Subscribe" class="button button--green bold pa2 mb0" data-email-subscribe="jobs-page">
    </div>
    {% comment %} This message may not be relevant because the `job alerts` checkbox is automatically selected. Leaving in for now. {% endcomment %}
    <div class="form-message--prompt" style="display: none;">
      <p>Please select at least one option to subscribe to.</p>
    </div>

    {% comment %} Additional lists to subscribe to {% endcomment %}
    <div class="form-list-add flow" style="display: none;">
      <p>Also subscribe to:</p>
      <fieldset>
        <legend class="visually-hidden">Additional newsletters to subscribe to</legend>
        <ul class="no-list flow">
          <li class="form-control">
            <input type="checkbox" id="field_2{{ id }}" name="Conference & workshop news" class="form-control">
            <label for="field_2{{ id }}">Conference & workshop news</label>
          </li>
          <li class="form-control">
            <input type="checkbox" id="field_3{{ id }}" name="Evening event news" class="form-control">
            <label for="field_3{{ id }}">Evening event news</label>
          </li>
          <li class="form-control">
            <input type="checkbox" id="field_4{{ id }}" name="Interesting links" class="form-control">
            <label for="field_4{{ id }}">Interesting links picked by the UX Brighton team</label>
          </li>
        </ul>
      </fieldset>
    </div>
  </form>

  {% comment %} Completion messages -> (success or error) {% endcomment %}
  <div class="form-message--success" style="display: none;">
    <p>Thanks, you're subscribed. We’ll be in touch soon.</p>
  </div>
  <div class="form-message--error" style="display: none;">
    <p>Oops, looks like something went wrong. Please refresh your browser and try again.</p>
  </div>
</div>
