<aside class="u1of3-over-l right-over-l gutters gutter-top-under-m if-cta-is-stuck__cta">
  {% if homepage.hero.hero-state == "pre" %}
    <div class="if-cta-is-stuck__tickets mb4">
      <h2 class="mb2 mt2">Get tickets</h2>
      <a href="{{ homepage.hero.pre.button.url }}" class="button button--large button--green bold standfirst" target="_blank" data-buy-ticket="conference-2022">{{ homepage.hero.pre.button.label }}</a>
      {% if homepage.hero.pre.button.extra-text %}
        <p>{{ homepage.hero.pre.button.extra-text }}</p>
      {% endif %}
    </div>
  {% endif %}<!--
  <h2 class="mb2 mt4">Stay updated</h2>
  <p>Join our newsletter for announcements and information about future events.</p> -->
  {% assign id = 2022 %}
  <h2 class="mb2 mt4">Stay updated</h2>
  <script async src="https://eocampaign1.com/form/e28cb996-d6b9-11ec-9258-0241b9615763.js" data-form="e28cb996-d6b9-11ec-9258-0241b9615763"></script>
</aside>