---
# •••••••••••••••••••••••••••••
# Page Options
# •••••••••••••••••••••••••••••

title: "UX and Product Management – UX Brighton Conference 2020"

description: "_____🔥_____"

fullurl: "https://uxbri.org/2020/"
slug: "conference-2020"

# Page style
layout: conference-2020
masthead-color: dark
hero-image: "/2020/images/header-1.jpg"

# Social media cards
image: "/2020/images/cards/super-early-bird.jpg"



# •••••••••••••••••••••••••••••
# Displayed in upcoming sections
# •••••••••••••••••••••••••••••

upcoming-image: "/2020/images/upcoming-bg.jpg"
upcoming-text: "_____🔥_____"
upcoming-button-text: "Tickets and info"



# •••••••••••••••••••••••••••••
# Conference Switches
# •••••••••••••••••••••••••••••

# TICKETS

ticket-button: hide
ticket-button-text: "_____🔥_____" # "Buy now — £170 + vat"
ticket-button-url: "_____🔥_____" # "https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets"
ticket-button-extra-text: "" # "Group Discount - buy 4 get 1 free"

# PAGE SECTIONS

# Hero content: Search for 🦸

event-promo-top-of-page:        show # show / hide
event-promo-footer:             show # show / hide

# Pre and during conference
travel-and-accommodation-blurb: hide # show / hide
pre-party:                      hide # show / hide
speakers:                       hide # show / hide
sponsors:                       show # show / hide
highlights:                     show # show / hide
workshops:                      hide # show / hide

# SPEAKERS, TALKS and SCHEDULE
talk-times:                     hide # show / hide (times for registration, talk times, party etc)
registration:                   hide # show / hide
after-party:                    hide # show / hide

# Post conference
talk-slides:                    hide # show / hide
talk-videos:                    hide # show / hide



---


  



  <!-- Add this code to event page: -->
  <main class="">

    <section id="hero" class="overlay__outer pa0" style="background: url('{{ page.hero-image }}') center center no-repeat #000; background-size: cover;">
      <div class="overlay__inner overflow-hidden">
        <div class="upcoming-events-outer">
          {% if page.event-promo-top-of-page == "show" %}
            {% include 2019-upcoming-mini.html %}
          {% endif %}
        </div>
        <div class="container color-white">
          <!-- 🦸 Chnge the URL beloe to change Hero Content -->
          {% include_relative conf-page-partials/hero-pre-conference-main.html %}
        </div>
      </div>
    </section>


    {% include_relative conf-page-partials/in-page-nav.html %}


    <section id="overview" class="relative">
      <div class="container" style="position: static;">

            <h2 class="mb2 mt5">Sign up to be notified when details are announced 👇</h2>
        <div class="row gutters__container mt0">
          <div class="u1of2-over-l left-over-l  gutters if-cta-is-stuck__adjacent-content">
            <p class="standfirst">Join us for our 🎂 10th annual one-day conference! </p>
            <div class="if-cta-is-stuck__adjacent-content__text">

              <p>You'll find UXers of all levels – from those just starting out to senior managers – all looking to embrace the latest thinking. So join us for the day. Gather skills and insights that will bring solid benefits for you, your colleagues and your clients. </p>
              <p class="mb0"><a href="/2019/convince-your-boss">Convince your boss</a> to invest in your development.</p>
            </div>
          </div><!-- u2of3-over-l -->
          <!-- sticky cta area -->
          <div class="u1of2-over-l right-over-l gutters gutter-top-under-m">
            {% if page.ticket-button == "show" %}
            <div class="if-cta-is-stuck__tickets">
              <h2 class="mb2">Get tickets</h2>
              <a onclick='ga("send", "event", "conference", "click", "buynow");' href="{{ page.ticket-button-text }}" class="button button--large button--green bold standfirst">{{ page.ticket-button-text }}</a>
              {% if page.ticket-button-extra-text %}
                <p>{{ page.ticket-button-extra-text }}</p>
              {% endif %}
            </div>
            {% endif %}<!-- 
            <h2 class="mb2 mt4">Stay updated</h2>
            <p>Join our newsletter for announcements and information about our evening talks.</p> -->
            {% assign id = 2020 %}
              <form action="https://sendy.uxbrighton.org.uk/msubscribe" method="POST" accept-charset="utf-8" class="newletter-signup" id="signup">
                <label class="screen-reader-text" for="fieldEmail{{ id }}">Email</label>
                <div class="input-group mt1 mb1" style="max-width: 366px;">
                  <input
                    id="fieldEmail{{ id }}"
                    name="email"
                    type="email"
                    required
                    placeholder="Your email"
                    class="fill input-group__field rounded-left{% if include.email_border != true %} border--none{% endif %}"
                    onfocus="document.getElementById('newsletter-options{{ id }}').className = 'show'">
                  <input
                    onclick="newsletterAnalytics.call(this,event);"
                    data-news-options="{% if include.job_notifications == true %}no-no-no-job{% else %}conference-newsletter-evening-no{% endif %}"
                    type="submit"
                    value="Sign up"
                    name="subscribe"
                    id="subscribe{{ id }}"
                    class="button input-group__button rounded-right js-mailinglist-submit button--green{% if include.green_signup != false %}{% endif %}">
                </div><!-- input-group -->
                <div id="newsletter-options{{ id }}">
                  <div class="js-email-no-choice hidden color-black mv1"><strong>👇 Please select at least one option</strong></div>
                  <div class="mail-list-option">
                    <input id="conference-mailinglist{{ id }}" name="list[]" value="tE7kdODDq3zHNYJKOkdOAA" type="checkbox" {% if include.job_notifications != true %}checked{% endif %} class="left">
                    <label class="table" for="conference-mailinglist{{ id }}">Conference and workshop news</label>
                  </div>
                  <div class="mail-list-option">
                    <input id="evening-events-mailinglist{{ id }}" name="list[]" value="G6t21K8OuZVMD429r6RZ0g" type="checkbox" class="left">
                    <label class="table" for="evening-events-mailinglist{{ id }}">Evening event news</label>
                  </div>
                  <div class="jobs-element mail-list-option">
                    <input id="job-updates-mailinglist{{ id }}" name="list[]" value="ibnrqcWYOJDQJDrV892b892RSg" type="checkbox" class="left">
                    <label class="table" for="job-updates-mailinglist{{ id }}">Job alerts</label>
                  </div>
                  <div class="mail-list-option">
                    <input id="newsletter-mailinglist{{ id }}" name="list[]" value="cbdLJAjiH5csEhKZFWEtJQ" type="checkbox" class="left">
                    <label class="table" for="newsletter-mailinglist{{ id }}">Interesting links picked by the UX Brighton team</label>
                  </div>
                </div>
                <div style="display:none;">
                  <label for="hp{{ id }}">HP</label><br/>
                  <input type="text" name="hp" id="hp{{ id }}"/>
                </div>
              </form>

              <div id="js-newsletter-thanks{{ id }}" class="{% if include.change-on-overlay %}text-black-on-overlay {% endif %}js-signup-confirmation" style="display: none;">
                <strong>Thanks!</strong> Please look out for the confirmation email that we&apos;ve just sent you.
              </div>
            {% assign id = 1 %}
          </div><!-- u1of3-over-l -->
        </div><!-- row -->
        <div class="testimonial ">
          <div class="row padding-top-row border-top mt0">
            <blockquote class="standfirst">
              <div class="quote">
                <p>Some of the smartest, most insightful and entertaining people I've met. And that was just the audience. The speakers were great, too. </p>
              </div>
              <div class="quotee">Mike Kuniavsky, PARC</div>
            </blockquote>
          </div>
        </div>
        {% if page.travel-and-accommodation-blurb == "show" %}
          {% include_relative conf-page-partials/travel-and-accommodation.html %}
        {% endif %}
        {% if page.pre-party == "show" %}
          {% include_relative conf-page-partials/pre-party.html %}
        {% endif %}
      </div>
    </section>


    {% if page.speakers == "show" %}
      {% include_relative conf-page-partials/speakers.html %}
    {% endif %}


    {% if page.highlights == "show" %}
      {% include_relative conf-page-partials/highlights.html %}
    {% endif %}


    {% if page.sponsors == "show" %}
      {% include_relative conf-page-partials/sponsors.html %}
    {% endif %}



    {% if page.workshops == "show" %}
      {% include_relative conf-page-partials/workshop.html %}
    {% endif %}


  </main>



  
