---
# •••••••••••••••••••••••••••••
# Page Options
# •••••••••••••••••••••••••••••

title: "UX and Product Management – UX Brighton Conference 2020"

description: "_____🔥_____"

fullurl: "https://uxbri.org/2020/"
slug: "conference-2020"

# Page style
layout: conference-2020
masthead-color: dark
hero-image: "/2020/images/header-1.jpg"

# Social media cards
image: "/2020/images/cards/super-early-bird.jpg"



# •••••••••••••••••••••••••••••
# Displayed in upcoming sections
# •••••••••••••••••••••••••••••

upcoming-image: "/2020/images/upcoming-bg.jpg"
upcoming-text: "_____🔥_____"
upcoming-button-text: "Tickets and info"



# •••••••••••••••••••••••••••••
# Conference Switches
# •••••••••••••••••••••••••••••

# TICKETS

ticket-button: hide
ticket-button-text: "Buy now — £170 + vat"
ticket-button-url: "https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets"
ticket-button-extra-text: "" # "Group Discount - buy 4 get 1 free"

# PAGE SECTIONS

# Search for 🦸

event-promo-top-of-page:        show # show / hide
event-promo-footer:             show # show / hide

# Pre and during conference
travel-and-accommodation-blurb: hide # show / hide
pre-party:                      hide # show / hide
speakers:                       hide # show / hide
sponsors:                       show # show / hide
highlights:                     show # show / hide
workshops:                      hide # show / hide

# SPEAKERS, TALKS and SCHEDULE
talk-times:                     hide # show / hide (times for registration, talk times, party etc)
registration:                   hide # show / hide
after-party:                    hide # show / hide

# Post conference
talk-slides:                    hide # show / hide
talk-videos:                    hide # show / hide



---


  



  <!-- Add this code to event page: -->
  <main class="">

    <section id="hero" class="overlay__outer pa0" style="background: url('{{ page.hero-image }}') center center no-repeat #000; background-size: cover;">
      <div class="overlay__inner overflow-hidden">
        <div class="upcoming-events-outer">
          {% if page.event-promo-top-of-page == "show" %}
            {% include 2019-upcoming-mini.html %}
          {% endif %}
        </div>
        <div class="container color-white">
          <!-- 🦸 Chnge the URL beloe to change Hero Content -->
          {% include_relative conf-page-partials/hero-pre-conference-main.html %}
        </div>
      </div>
    </section>


    {% include_relative conf-page-partials/in-page-nav.html %}


    <section id="overview" class="relative">
      <div class="container" style="position: static;">
        <div class="row gutters__container ">
          <div class="u2of3-over-l left-over-l  gutters if-cta-is-stuck__adjacent-content">
            <h2 class="mb2">Why UX and Product Management</h2>
            <p class="standfirst">Join us for our 🎂 10th annual one-day conference! </p>
            <div class="if-cta-is-stuck__adjacent-content__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur veritatis laboriosam iure illo modi blanditiis temporibus nulla velit. Vitae laboriosam assumenda culpa ipsam, fuga aliquam, dolore earum sequi recusandae molestias.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur veritatis laboriosam iure illo modi blanditiis temporibus nulla velit. Vitae laboriosam assumenda culpa ipsam, fuga aliquam, dolore earum sequi recusandae molestias.</p>
              <p>You'll find UXers of all levels – from those just starting out to senior managers – all looking to embrace the latest thinking. So <a href="https://www.eventbrite.co.uk/e/ux-brighton-2019-tickets-51654305418#tickets">join us</a> for the day. Gather skills and insights that will bring solid benefits for you, your colleagues and your clients. </p>
              <p class="mb0"><a href="/2019/convince-your-boss">Convince your boss</a> to invest in your development.</p>
            </div>
          </div><!-- u2of3-over-l -->
          <!-- sticky cta area -->
          <div class="u1of3-over-l right-over-l gutters gutter-top-under-m if-cta-is-stuck__cta">
            {% if page.ticket-button == "show" %}
            <div class="if-cta-is-stuck__tickets">
              <h2 class="mb2">Get tickets</h2>
              <a onclick='ga("send", "event", "conference", "click", "buynow");' href="{{ page.ticket-button-text }}" class="button button--large button--green bold standfirst">{{ page.ticket-button-text }}</a>
              {% if page.ticket-button-extra-text %}
                <p>{{ page.ticket-button-extra-text }}</p>
              {% endif %}
            </div>
            {% endif %}
            <h2 class="mb2 mt4">Stay updated</h2>
            <p>Join our newsletter for announcements and information about our evening talks.</p>
            {% include mail-list-signup-form.html id=4 green_signup=false email_border=true %}
          </div><!-- u1of3-over-l -->
        </div><!-- row -->
        <div class="testimonial ">
          <div class="row padding-top-row border-top mt0">
            <blockquote class="standfirst">
              <div class="quote">
                <p>Some of the smartest, most insightful and entertaining people I've met. And that was just the audience. The speakers were great, too. </p>
              </div>
              <div class="quotee">Mike Kuniavsky, PARC</div>
            </blockquote>
          </div>
        </div>
        {% if page.travel-and-accommodation-blurb == "show" %}
          {% include_relative conf-page-partials/travel-and-accommodation.html %}
        {% endif %}
        {% if page.pre-party == "show" %}
          {% include_relative conf-page-partials/pre-party.html %}
        {% endif %}
      </div>
    </section>


    {% if page.speakers == "show" %}
      {% include_relative conf-page-partials/speakers.html %}
    {% endif %}


    {% if page.highlights == "show" %}
      {% include_relative conf-page-partials/highlights.html %}
    {% endif %}


    {% if page.sponsors == "show" %}
      {% include_relative conf-page-partials/sponsors.html %}
    {% endif %}



    {% if page.workshops == "show" %}
      {% include_relative conf-page-partials/workshop.html %}
    {% endif %}


  </main>



  
