
// float type stuff

  .center,
  // wordpress support
  .aligncenter {
    display: block;
    float:none; 
    margin-left: auto;
    margin-right: auto; 
  }
  .left { float: left; }
  .right { float: right; }

  @include under-s {
    .center-under-s { 
      float:none; 
      margin-left: auto;
      margin-right: auto; 
    }
  }
  @include over-s {
    .left-over-s  {  float: left; } 
    .right-over-s { float: right; }
    // .center-over-s { 
    //   float:none; 
    //   margin-left: auto;
    //   margin-right: auto; 
    // }
  }
  @include over-m {
    .left-over-m  { float: left; }
    .right-over-m { float: right; }
    // .center-over-m { 
    //   float:none; 
    //   margin-left: auto;
    //   margin-right: auto; 
    // }
  }
  @include over-l {
    .left-over-l  { float: left; }
    .right-over-l { float: right; }
    // .center-over-l { 
    //   float:none; 
    //   margin-left: auto;
    //   margin-right: auto; 
    // }
  }
  @include over-xl {
    .left-over-xl  { float: left; }
    .right-over-xl { float: right; }
    // .center-over-xl { 
    //   float:none; 
    //   margin-left: auto;
    //   margin-right: auto; 
    // }
  }


// clears

  .cf, 
  .clear,
  .clearfix
  .clear-fix   { @extend %clearfix-micro; }
  .clear-left  { clear: left; }
  .clear-right { clear: right; }
  .clear-both  { clear: both; }
  .clear-none  { clear: none; }


// text-align

  .text-left      { text-align: left; }
  .text-right     { text-align: right; }
  .text-center    { text-align: center; }

  @include over-s {
    .text-left-s      { text-align: left; }
    .text-right-s     { text-align: right; }
    .text-center-s    { text-align: center; }
  }
  @include over-m {
    .text-left-m      { text-align: left; }
    .text-right-m     { text-align: right; }
    .text-center-m    { text-align: center; }
  }
  @include over-l {
    .text-left-l      { text-align: left; }
    .text-right-l     { text-align: right; }
    .text-center-l    { text-align: center; }
  }
  @include over-xl {
    .text-left-xl      { text-align: left; }
    .text-right-xl     { text-align: right; }
    .text-center-xl    { text-align: center; }
  }


// vertical-align

  .align-baseline { vertical-align: baseline; }
  .align-top      { vertical-align: top; }
  .align-middle   { vertical-align: middle; }
  .align-bottom   { vertical-align: bottom; }


  
  // @include over-s {
  //   .align-baseline-s { vertical-align: baseline; }
  //   .align-top-s      { vertical-align: top; }
  //   .align-middle-s   { vertical-align: middle; }
  //   .align-bottom-s   { vertical-align: bottom; }
  // }
  // @include over-m {
  //   .align-baseline-m { vertical-align: baseline; }
  //   .align-top-m      { vertical-align: top; }
  //   .align-middle-m   { vertical-align: middle; }
  //   .align-bottom-m   { vertical-align: bottom; }
  // }
  // @include over-l {
  //   .align-baseline-l { vertical-align: baseline; }
  //   .align-top-l      { vertical-align: top; }
  //   .align-middle-l   { vertical-align: middle; }
  //   .align-bottom-l   { vertical-align: bottom; }
  // }
  // @include over-xl {
  //   .align-baseline-xl { vertical-align: baseline; }
  //   .align-top-xl      { vertical-align: top; }
  //   .align-middle-xl   { vertical-align: middle; }
  //   .align-bottom-xl   { vertical-align: bottom; }
  // }





  @include over-s {

  }
  @include over-m {

  }
  @include over-l {

  }
  @include over-xl {

  }


