
  .pl, // padding left
  .ph, // padding horizontal
  .pa, // padding all
  .gutters,
  .gutter-left,
  .container {
    padding-left:  $space-m;
    @include over-s {
      padding-left:  $space-m;
    }
    @include over-m {
      padding-left:  $space-l;
    }
    @include over-l {
      padding-left:  $space-xl;
    }
    @include over-xl {
      padding-left:  $space-xl;
    }
  }
  .ph, // padding horizontal
  .pr, // padding right
  .pa, // padding all
  .gutters,
  .gutter-right,
  .container {
    padding-right:  $space-m;
    @include over-s {
      padding-right:  $space-m;
    }
    @include over-m {
      padding-right:  $space-l;
    }
    @include over-l {
      padding-right:  $space-xl;
    }
    @include over-xl {
      padding-right:  $space-xl;
    }
  }
  .pv, // padding vertical
  .pt, // padding top
  .pa, // padding all
  .gutter-top {
    padding-top:  $space-m;
    @include over-s {
      padding-top:  $space-m;
    }
    @include over-m {
      padding-top:  $space-l;
    }
    @include over-l {
      padding-top:  $space-xl;
    }
    @include over-xl {
      padding-top:  $space-xl;
    }
  }
  .pv, // padding vertical
  .pb, // padding bottom
  .pa, // padding all
  .gutter-bottom {
    padding-bottom:  $space-m;
    @include over-s {
      padding-bottom:  $space-m;
    }
    @include over-m {
      padding-bottom:  $space-l;
    }
    @include over-l {
      padding-bottom:  $space-xl;
    }
    @include over-xl {
      padding-bottom:  $space-xl;
    }
  }

  .gutters__container {
    @include over-s {
      margin-left:  -#{$space-m};
      margin-right: -#{$space-m};
    }
    @include over-m {
      margin-left:  -#{$space-l};
      margin-right: -#{$space-l};
    }
    @include over-l {
      margin-left:  -#{$space-xl};
      margin-right: -#{$space-xl};
    }
    @include over-xl {
      margin-left:  -#{$space-xl};
      margin-right: -#{$space-xl};
    }
  }



 

  .ml
  .mh {
    margin-left:  $space-m;
    @include over-s {
      margin-left:  $space-m;
    }
    @include over-m {
      margin-left:  $space-l;
    }
    @include over-l {
      margin-left:  $space-xl;
    }
    @include over-xl {
      margin-left:  $space-xl;
    }
  }
  .mr,
  .mh {
    margin-right:  $space-m;
    @include over-s {
      margin-right:  $space-m;
    }
    @include over-m {
      margin-right:  $space-l;
    }
    @include over-l {
      margin-right:  $space-xl;
    }
    @include over-xl {
      margin-right:  $space-xl;
    }
  }
  .mt,
  .mv {
    margin-top:  $space-m;
    @include over-s {
      margin-top:  $space-m;
    }
    @include over-m {
      margin-top:  $space-l;
    }
    @include over-l {
      margin-top:  $space-xl;
    }
    @include over-xl {
      margin-top:  $space-xl;
    }
  }
  .mb,
  .mv {
    margin-bottom:  $space-m;
    @include over-s {
      margin-bottom:  $space-m;
    }
    @include over-m {
      margin-bottom:  $space-l;
    }
    @include over-l {
      margin-bottom:  $space-xl;
    }
    @include over-xl {
      margin-bottom:  $space-xl;
    }
  }







$spacing-increments: 0 1 2 3 4 5 6;

@each $spacing-increment in $spacing-increments {
  .pt#{$spacing-increment} { 
    padding-top: ($ssi * $spacing-increment) * 1px; 
  }
  .pl#{$spacing-increment} { 
    padding-left: ($ssi * $spacing-increment) * 1px; 
  }
  .pb#{$spacing-increment} { 
    padding-bottom: ($ssi * $spacing-increment) * 1px; 
  }
  .pr#{$spacing-increment} { 
    padding-right: ($ssi * $spacing-increment) * 1px; 
  }
  .pa#{$spacing-increment} { 
    @extend .pt#{$spacing-increment}; 
    @extend .pb#{$spacing-increment}; 
    @extend .pl#{$spacing-increment}; 
    @extend .pr#{$spacing-increment}; 
  }
  .pv#{$spacing-increment} { 
    @extend .pt#{$spacing-increment}; 
    @extend .pb#{$spacing-increment}; 
  }
  .ph#{$spacing-increment} { 
    @extend .pl#{$spacing-increment}; 
    @extend .pr#{$spacing-increment}; 
  }
}

@each $spacing-increment in $spacing-increments {
  .mt#{$spacing-increment} { 
    margin-top: ($ssi * $spacing-increment) * 1px; 
  }
  .ml#{$spacing-increment} { 
    margin-left: ($ssi * $spacing-increment) * 1px; 
  }
  .mb#{$spacing-increment} { 
    margin-bottom: ($ssi * $spacing-increment) * 1px; 
  }
  .mr#{$spacing-increment} { 
    margin-right: ($ssi * $spacing-increment) * 1px; 
  }
  .ma#{$spacing-increment} { 
    @extend .mt#{$spacing-increment}; 
    @extend .mb#{$spacing-increment}; 
    @extend .ml#{$spacing-increment}; 
    @extend .mr#{$spacing-increment}; 
  }
  .mv#{$spacing-increment} { 
    @extend .mt#{$spacing-increment}; 
    @extend .mb#{$spacing-increment}; 
  }
  .mh#{$spacing-increment} { 
    @extend .ml#{$spacing-increment}; 
    @extend .mr#{$spacing-increment}; 
  }
}