@charset "utf-8";
// ---


//    Z E R O   O U T P U T

  @import '0-zero-output/functions';
  @import '0-zero-output/mixins';
  @import '0-zero-output/easings';
  @import '0-zero-output/sizes-and-breakpoints';
  @import '0-zero-output/colour-vars';
  @import '0-zero-output/visual-other';
  @import '0-zero-output/typography-vars';
  @import '0-zero-output/forms';
  @import '0-zero-output/placeholders';



//    M A I N   S T Y L E S

  @import '1-elements/0-reset';
  @import '1-elements/1-base';
  @import '1-elements/2-typography';
  @import '1-elements/3-links';
  @import '1-elements/4-forms';
  @import '1-elements/5-tables';
  @import '1-elements/6-media'; 



  @import '2-components/hoverable-caption'; 
  @import '2-components/responsive-embeds'; 



  @import '3-layout/1-main-layout'; 
  @import '3-layout/2-masthead'; 
  @import '3-layout/3-misc'; 
  @import '3-layout/4-conference'; 
  @import '3-layout/5-jobs'; 


//    H E L P E R S


  //  Decorative

  @import "5-helpers/typographic";
  @import "5-helpers/colours";
  @import "5-helpers/decorative";

  //  Layout

  @import "5-helpers/display";
  @import "5-helpers/grids";
  @import "5-helpers/alignment";
  @import "5-helpers/spacing";
  @import "5-helpers/positioning";
  @import "5-helpers/wrap-fit-and-clear";
  
// hiding stuff

  @import "5-helpers/hidden-misc";
  @import "5-helpers/hidden-at-breakpoints";
  @import "5-helpers/hidden-but-accessible";

  // Print

  @import "5-helpers/print";



  // To be filed

.overlay-absolute {
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  margin: 0;
}

span.stamped {
  font-size: 10px;
  text-transform: uppercase;
  color: #e01650;
  display: inline-block;
  border: 2px solid;
  padding: 2px 3px 1px;
  -webkit-transform: rotate(5deg);
  transform: rotate(-5deg);
  position: absolute;
  top: 6px;
  left: 2px;
  line-height: 1;
}
