---
layout: basic  
title: Jobs
subtitle: "UX & Design jobs in London, Brighton and the South East"
published: true
description: "The best place to find UX, design and research jobs in Brighton, Sussex, London and the South East of England"
fullurl: https://uxbrighton.org.uk/jobs
---
<!-- image: "https://uxbrighton.org.uk/images/cards/___!!!!!____jobs.jpg"
header-image: "https://uxbrighton.org.uk/images/cards/___!!!!!____jobs.jpg" -->
<script>



  if (window.location.href.indexOf('cols') > 0) {
    root.className += ' cols-only';
  }


  if (window.location.href.indexOf('fancy') > 0) {
    root.className += ' is-fancy';
  }




  if ( (window.location.href.indexOf('#') > 0) && (window.location.href.indexOf('-info') < 1) ) {
    window.the_pos = 0;
    window.hashFragment = window.location.hash;
    setTimeout(function() {
      window.scrollTo(0, 0);
    }, 1);
  } else { 
    window.hashFragment = false;
    window.addEventListener("popstate", function(){
      $('.job-close').click();
      history.pushState(null, null, document.url);      
    }); 
  }


</script>

<style>
.grayscale-until-hover {
  filter: grayscale(100%);
  opacity: 0.4;
  transition: all 0.3s;
}
.grayscale-until-hover:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.h-col {
  fill: #bbb;
}


.cols-only .hist--low .h-col--1,
.cols-only .hist--low .h-col--2,
.cols-only .hist--low .h-col--3,
.cols-only .hist--low .h-col--4,


.cols-only .hist--low-mid .h-col--4,
.cols-only .hist--low-mid .h-col--5,
.cols-only .hist--low-mid .h-col--6,

.cols-only .hist--mid .h-col--5,
.cols-only .hist--mid .h-col--6,
.cols-only .hist--mid .h-col--7,

.cols-only .hist--high-mid .h-col--6,
.cols-only .hist--high-mid .h-col--7,
.cols-only .hist--high-mid .h-col--8,

.cols-only .hist--high .h-col--8,
.cols-only .hist--high .h-col--9,
.cols-only .hist--high .h-col--10,
.cols-only .hist--high .h-col--11 {
  fill: #C9003A;
}

.hist--low .h-ul--1,
.hist--low .h-ul--2,
.hist--low .h-ul--3,
.hist--low .h-ul--4,

.hist--low-mid .h-ul--3,
.hist--low-mid .h-ul--4,
.hist--low-mid .h-ul--5,

.hist--mid .h-ul--5,
.hist--mid .h-ul--6,
.hist--mid .h-ul--7,

.hist--high-mid .h-ul--7,
.hist--high-mid .h-ul--8,
.hist--high-mid .h-ul--9,

.hist--high .h-ul--8,
.hist--high .h-ul--9,
.hist--high .h-ul--10,
.hist--high .h-ul--11 {
  fill: #C9003A;
}

.job-close, .job-close:hover {
  text-decoration: none;
  right: 24px !important;
}

.unless-is-fancy {
  display: none;
}
.is-fancy .unless-is-fancy {
  display: block;
}

.job-desc-column {
  top: 0;
  width: 33%;
}

.job-bottom-apply-btn {
  display: none;
}
.job-top-apply-btn {
  display: inline-block;
}

@media only screen and (min-width: 851px) {
  .job-desc-column {
    width: 25%;
  }
}

@media only screen and (max-width: 951px) {
  @media only screen and (max-width: 650px) {
    .job-desc-column {
      width: 100%;
    }
    .job-text-extended {
      margin-top: 24px;
    }
    .job-bottom-apply-btn {
      display: inline-block;
    }
    .job-top-apply-btn {
      display: none;
    }
  }
  .job-desc-column {
    margin-right: 16px;
  }
}

  /*.h-ul--6,
  .h-ul--7,
  .h-ul--8 {
    fill: #1bab1b;
  }*/
h2 {
  margin: 1em 0 0.5em;
}
h2 + h3 {
  margin: 1em 0 0.5em;
}

.hist {
    position: relative;
    z-index: 2;
}
</style>




<div class="clearfix gutters__container">
  <div class="u3of4-over-m left-over-m gutters">
    <h2>Current vacancies</h2>
    {% assign i = 0 %}
    {% for job in site.data.jobs %}
      {% if job.publish == 'TRUE' %}
        {% assign rank = job.rank | plus: 0 %}
        {% if rank <= 0.2 %}
          {% assign range = 'low' %}
          {% assign hoverTextRange = 'low' %}
        {% elsif rank <= 0.4 %}
          {% assign range = 'low-mid' %}
          {% assign hoverTextRange = 'low/medium' %}
        {% elsif rank <= 0.6 %}
          {% assign range = 'mid' %}
          {% assign hoverTextRange = 'medium' %}
        {% elsif rank <= 0.8 %}
          {% assign range = 'high-mid' %}
          {% assign hoverTextRange = 'medium/high' %}
        {% elsif rank <= 1 %}
          {% assign range = 'high' %}
          {% assign hoverTextRange = 'high' %}
        {% endif %}
        <div id="{{ job.job-id }}" class="job" itemscope itemtype="http://schema.org/JobPosting">
          <a href="#{{ job.job-id }}" class="job-open drop rounded" onmouseover='showHoverText("{{job.job-id}}")' onmouseout='hideHoverText("{{job.job-id}}")' onclick='(ga("send", "event", "jobs", "view", "{{ job.job-id }}"), jobOpen("{{ job.job-id }}"))'></a>
          <!-- <span itemprop="datePosted">2011-10-31</span> -->
          <a href="#{{ job.job-id }}-info" class="job-close job-close-{{ i }}" onclick='jobClose("{{ job.job-id }}")'>&times;</a>
          <div id="{{ job.job-id }}-info" class="job-info pa3">
            <div class="container">
              <div class="job-desc-column sticky-body-column left-over-s">
                <div class="job-logo mr3" style="background-image: url({{ job.logo-link }});"></div>
                <div id="js-job-show-expanded-{{ job.job-id }}" style="display: none;">
                  <h3 id="js-job-title-{{ job.job-id }}" itemprop="title" class="job-title block-link__highlight color-blue mv0">{{ job.job-title }}</h3>
                  <p class="mv0 mt2" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization"><strong itemprop="name">{{ job.employer }}</strong></p>
                  <p class="mb1">
                    <span itemprop="employmentType">{{ job.work-pattern }}</span>   ·  
                    <span itemprop="addressLocality">{{ job.location }}</span>
                    {% if job.show-salary == 'TRUE' %}
                        ·  <span itemprop="baseSalary" class="js-salary-span">{{ job.money }}</span>
                    {% else %}
                      <span class="inline-block tooltip">
                        <svg xmlns="http://www.w3.org/2000/svg" class="hist hist--{{ range }}" width="45" height="25" viewBox="0 0 45 25"  aria-labelledby="title" style="vertical-align:text-bottom;cursor: help;">
                          {% comment %}<title id="svg-{{ job.job-id }}" lang="en">Pay rank: {{ hoverTextRange }} (among all jobs ever advertised here).</title>{% endcomment %}
                          <desc>Histogram, providing an abstract indication of salary range.</desc>
                          <g fill="none" fill-rule="evenodd">
                            <rect class="h-col h-col--1" width="3" height="2" x="1" y="19" fill="#D8D8D8"/>
                            <rect class="h-col h-col--2" width="3" height="3" x="5" y="18" fill="#D8D8D8"/>
                            <rect class="h-col h-col--3" width="3" height="6" x="9" y="15" fill="#D8D8D8"/>
                            <rect class="h-col h-col--4" width="3" height="11" x="13" y="10" fill="#D8D8D8"/>
                            <rect class="h-col h-col--5" width="3" height="16" x="17" y="5" fill="#D8D8D8"/>
                            <rect class="h-col h-col--6" width="3" height="19" x="21" y="2" fill="#D8D8D8"/>
                            <rect class="h-col h-col--7" width="3" height="16" x="25" y="5" fill="#D8D8D8"/>
                            <rect class="h-col h-col--8" width="3" height="11" x="29" y="10" fill="#D8D8D8"/>
                            <rect class="h-col h-col--9" width="3" height="6" x="33" y="15" fill="#D8D8D8"/>
                            <rect class="h-col h-col--10" width="3" height="3" x="37" y="18" fill="#D8D8D8"/>
                            <rect class="h-col h-col--11" width="3" height="2" x="41" y="19" fill="#D8D8D8"/>

                            <rect class="h-ul h-ul--1" width="5" height="2" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--2" width="5" height="2" x="4" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--3" width="5" height="2" x="8" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--4" width="5" height="2" x="12" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--5" width="5" height="2" x="16" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--6" width="5" height="2" x="20" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--7" width="5" height="2" x="24" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--8" width="5" height="2" x="28" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--9" width="5" height="2" x="32" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--10" width="5" height="2" x="36" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--11" width="5" height="2" x="40" y="23" fill="#FFF"/>
                          </g>
                        </svg>                        
                      </span>

                      <!-- &ndash; pay rank: {{ hoverTextRange }} (among all jobs ever advertised here). -->
                    {% endif %}
                  </p>
                  <a class="button button--green mt2 pa2 job-top-apply-btn" onclick='ga("send", "event", "jobs", "apply", "{{ job.job-id }}");' href="{{ job.apply-link }}">Apply for this job</a>
                </div>
              </div>
              <div class="job-text table">
                <div id="js-job-hide-expanded-{{ job.job-id }}">
                  <h3 id="js-job-title-{{ job.job-id }}" itemprop="title" class="job-title block-link__highlight color-blue mv0">{{ job.job-title }}</h3>
                  <p class="mv0" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization"><strong itemprop="name">{{ job.employer }}</strong></p>
                  <p class="mv0">
                    <span itemprop="employmentType">{{ job.work-pattern }}</span>   ·  
                    <span itemprop="addressLocality">{{ job.location }}</span>
                    {% if job.show-salary == 'TRUE' %}
                        ·  <span itemprop="baseSalary" class="js-salary-span">{{ job.money }}</span>
                    {% else %}
                      <span class="inline-block tooltip" title="Pay rank: {{ hoverTextRange }} (among all jobs ever advertised here).">
                        <svg xmlns="http://www.w3.org/2000/svg" class="hist hist--{{ range }}" width="45" height="25" viewBox="0 0 45 25"  aria-labelledby="title" style="vertical-align:text-bottom;cursor: help;">
                          {% comment %}<title id="svg-{{ job.job-id }}" lang="en">Pay rank: {{ hoverTextRange }} (among all jobs ever advertised here).</title>{% endcomment %}
                          <desc>Histogram, providing an abstract indication of salary range.</desc>
                          <g fill="none" fill-rule="evenodd">
                            <rect class="h-col h-col--1" width="3" height="2" x="1" y="19" fill="#D8D8D8"/>
                            <rect class="h-col h-col--2" width="3" height="3" x="5" y="18" fill="#D8D8D8"/>
                            <rect class="h-col h-col--3" width="3" height="6" x="9" y="15" fill="#D8D8D8"/>
                            <rect class="h-col h-col--4" width="3" height="11" x="13" y="10" fill="#D8D8D8"/>
                            <rect class="h-col h-col--5" width="3" height="16" x="17" y="5" fill="#D8D8D8"/>
                            <rect class="h-col h-col--6" width="3" height="19" x="21" y="2" fill="#D8D8D8"/>
                            <rect class="h-col h-col--7" width="3" height="16" x="25" y="5" fill="#D8D8D8"/>
                            <rect class="h-col h-col--8" width="3" height="11" x="29" y="10" fill="#D8D8D8"/>
                            <rect class="h-col h-col--9" width="3" height="6" x="33" y="15" fill="#D8D8D8"/>
                            <rect class="h-col h-col--10" width="3" height="3" x="37" y="18" fill="#D8D8D8"/>
                            <rect class="h-col h-col--11" width="3" height="2" x="41" y="19" fill="#D8D8D8"/>

                            <rect class="h-ul h-ul--1" width="5" height="2" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--2" width="5" height="2" x="4" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--3" width="5" height="2" x="8" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--4" width="5" height="2" x="12" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--5" width="5" height="2" x="16" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--6" width="5" height="2" x="20" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--7" width="5" height="2" x="24" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--8" width="5" height="2" x="28" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--9" width="5" height="2" x="32" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--10" width="5" height="2" x="36" y="23" fill="#FFF"/>
                            <rect class="h-ul h-ul--11" width="5" height="2" x="40" y="23" fill="#FFF"/>
                          </g>
                        </svg>
                      </span>
                    {% endif %}
                  </p>
                </div>
                <div class="job-text-extended hidden row mt6"  itemprop="description">
                  {{ job.extended-description | markdownify }}
                  <a class="button button--green mt2 pa2 job-bottom-apply-btn" onclick='ga("send", "event", "jobs", "apply", "{{ job.job-id }}");' href="{{ job.apply-link }}">Apply for this job</a>
                </div><!-- job-text-extended -->
              </div><!-- job-text -->        
            </div>
          </div><!-- job-info -->
        </div>
        {% assign i = i | plus:1 %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="sticky-body-column u1of4-over-m left-over-m gutters gutter-bottom-under-m">
    <h2>Post a job ad</h2>
    <p>
      The team are currently manually adding jobs to the site. If you’d like us to add a job for your company, the first thing to do is email us via
      <a href="mailto:jobs@uxbri.org?subject=Post a job on UX Brighton Jobs&amp;body=Hi there, Thanks for your interest in UX Brighton Jobs. The main things we need are your name and phone number, that way we can get in touch with you to chat about your job needs.%0D%0A%0D%0AYour name:%0D%0AYour phone number:%0D%0A%0D%0AIf the job is already advertised somewhere, can you give us a link to it, please?%0D%0A%0D%0ADescription link:%0D%0A%0D%0AWe’ll get back to you ASAP.%0D%0A" title="mailto link includes instructions about what to include">jobs@uxbri.org</a>, then we’ll arrange getting your job advert live.
    </p>
    <div class="unless-is-fancy">
      <h3 class="mt6 mb2 upcoming__container__heading fs-s track-loose uppercase regular border-bottom pb1">Supporting Employers</h3>
      <a href="/jobs/company/" class="grayscale-until-hover">
        <img src="/jobs/logo%402x.png" width="190">
      </a>      
    </div>

    <div class="inline-block">
      <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Get job notifications</h2>
      {% include mail-list-signup-form.html id=6 job_notifications=true %}
    </div>
  </div>
</div>

<script>
  function insertCommas(num) {
    for (var j = num.length - 3; j > 0; j-=3) {
      num = num.substring(0, j) + ',' + num.substring(j, num.length);
    }
    return num;
  }

  var salarySpan = document.getElementsByClassName('js-salary-span');

  for (var i = 0; i < salarySpan.length; i++) {
    salarySpan[i].innerHTML = salarySpan[i].innerHTML.replace(/[1-9]\d{3,}/g, insertCommas);
  }

  var isTouch = window['ontouchstart'] === null;
  if (isTouch) {
    var hoverTexts = document.getElementsByClassName('js-hover-text');
    for (var i = 0; i < hoverTexts.length; i++) {
      hoverTexts[i].style.display = null;
    }
  }

  function showHoverText(jobId) {
    if (isTouch) return;
    var isListView = document.getElementById('js-job-title-' + jobId).classList.contains('color-blue');
    var hoverText = document.getElementById('js-hover-text-' + jobId);
    if (isListView && hoverText) {
      hoverText.style.display = null;
    }
  }

  function hideHoverText(jobId) {
    if (isTouch) return;
    var isListView = document.getElementById('js-job-title-' + jobId).classList.contains('color-blue');
    var hoverText = document.getElementById('js-hover-text-' + jobId);
    if (isListView && hoverText) {
      hoverText.style.display = 'none';
    }
  }

  function jobOpen(jobId) {
    var jobShowExpanded = document.getElementById('js-job-show-expanded-' + jobId);
    if (jobShowExpanded) {
      jobShowExpanded.style.display = null;
    }
    var jobHideExpanded = document.getElementById('js-job-hide-expanded-' + jobId);
    if (jobHideExpanded) {
      jobHideExpanded.style.display = 'none';
    }
    var jobTitle = document.getElementById('js-job-title-' + jobId);
    if (jobTitle) {
      jobTitle.classList.remove('color-blue');
      jobTitle.classList.add('job-title-page-style');
      var hoverText = document.getElementById('js-hover-text-' + jobId);
      if (!isTouch && hoverText) {
        hoverText.style.display = null;
      }
    }
  }

  function jobClose(jobId) {
    var jobShowExpanded = document.getElementById('js-job-show-expanded-' + jobId);
    if (jobShowExpanded) {
      jobShowExpanded.style.display = 'none';
    }
    var jobHideExpanded = document.getElementById('js-job-hide-expanded-' + jobId);
    if (jobHideExpanded) {
      jobHideExpanded.style.display = null;
    }
    var jobTitle = document.getElementById('js-job-title-' + jobId);
    jobTitle.classList.add('color-blue');
    jobTitle.classList.remove('job-title-page-style');
    var hoverText = document.getElementById('js-hover-text-' + jobId);
    if (!isTouch && hoverText) {
      hoverText.style.display = 'none';
    }
  }

  if (window.hashFragment) {
    var jobId = window.location.hash.substring(1);
    jobOpen(jobId);
  }

  window.addEventListener('hashchange', function() {
    var body = document.getElementsByTagName('body')[0];

    if (body.classList.contains('job-open') && window.location.hash.length <= 1) {
      $('.job-close').trigger('click');
    }
  });
</script>
