---
layout: conference-2022/default
title: UX and Product Management - UX Brighton Conference 2022
description: Join us for our 🎂 10th annual one-day conference!
fullurl: https://uxbri.org/2022/
slug: conference-2022
hero:
  conference: UX Brighton 2022
  conference-theme: UX and Product Management
  conference-date: Friday 4 November
  conference-venue: Brighton Dome
  hero-image: /2022/images/header.jpg
  button:
    ticket-button: show
    ticket-button-text: Early Bird Ticket – 15% Off
    ticket-button-extra-text: Group Discount - buy 4 get 1 free
    ticket-button-url: https://www.tickettailor.com/events/uxbrighton/362453
overview:
  title: Join us for our 🎂 10th annual one-day conference!
  lede:
    - paragraph: Desirability, feasibility, and viability are the three components of
        a model for successful products — an integrated model that is often
        carried out by segregated teams.
  text:
    - paragraph: Join us for our 10th conference where people from product management,
        ux, research and design will gather to discover what we have to learn
        from one another.
    - paragraph: Learn new approaches and glean fresh insights that will bring solid
        benefits for you, your colleagues and your clients.
  testimonial:
    quote: Some of the smartest, most insightful and entertaining people I've met.
      And that was just the audience. The speakers were great, too.
    quotee: Mike Kuniavsky, Xerox PARC
events:
  event-promo-top-of-page: hide
  event-promo-footer: hide
pre-and-during-conf:
  travel-and-accommodation-blurb: hide
  pre-party: hide
  speakers: hide
  sponsors: show
  highlights: show
  workshops: hide
speakers-and-schedule:
  talk-times: hide
  registration: hide
  after-party: hide
masthead-color: dark
redirect_from:
  - /
post-conf:
  talk-slides: hide
  talk-videos: hide
image: https://uxbri.org/2022/images/cards/Early-bird.png
---



  <!-- Add this code to event page: -->
  <main class="">

    <section id="hero" class="overlay__outer pa0" style="background: url('{{ page.hero.hero-image }}') center center no-repeat #000; background-size: cover;">
      <div class="overlay__inner overflow-hidden">
        <div class="upcoming-events-outer">
          {% if page.events.event-promo-top-of-page == "show" %}
            {% include 2022-upcoming-mini.html %}
          {% endif %}
        </div>
        <div class="container color-white">
          <!-- 🦸 Change the URL below to change Hero Content -->
          {% include_relative conf-page-partials/hero-pre-conference-main.html %}
        </div>
      </div>
    </section>

    {% include_relative conf-page-partials/in-page-nav.html %}

    <section id="overview" class="relative">
      <div class="container" style="position: static;">

        <div class="row gutters__container mt0">
          <div class="u2of3-over-l left-over-l  gutters if-cta-is-stuck__adjacent-content">
            <h2 class="mb2 mt4">{{ page.overview.title }}</h2>
            <div class="if-cta-is-stuck__adjacent-content__text">
              {% for entry in page.overview.lede %}
                <p class="standfirst">{{ entry.paragraph}}</p>
              {% endfor %}
            <div>
              {% for entry in page.overview.text %}
                <p>{{ entry.paragraph }}</p>
              {% endfor %}
            </div>
            </div>
          </div><!-- u2of3-over-l -->
          <!-- sticky cta area -->
          <div class="u1of3-over-l right-over-l gutters gutter-top-under-m if-cta-is-stuck__cta">
            {% if page.hero.button.ticket-button == "show" %}
            <div class="if-cta-is-stuck__tickets mb4">
              <h2 class="mb2 mt2">Get tickets</h2>
              <a href="{{ page.hero.button.ticket-button-url }}" class="button button--large button--green bold standfirst">{{ page.hero.button.ticket-button-text }}</a>
              {% if page.hero.button.ticket-button-extra-text %}
                <p>{{ page.hero.button.ticket-button-extra-text }}</p>
              {% endif %}
            </div>
            {% endif %}<!--
            <h2 class="mb2 mt4">Stay updated</h2>
            <p>Join our newsletter for announcements and information about future events.</p> -->
            {% assign id = 2022 %}
            <h2 class="mb2 mt4">Stay updated</h2>
            {% include mail-list-signup-form.html change-on-overlay=true id=1 %}
          </div><!-- u1of3-over-l -->
        </div><!-- row -->

        <div class="testimonial clearfix">
          <div class="row padding-top-row border-top mt0">
            <blockquote class="standfirst">
              <div class="quote">
                <p>{{ page.overview.testimonial.quote }}</p>
              </div>
              <div class="quotee">{{ page.overview.testimonial.quotee }}</div>
            </blockquote>
          </div>
        </div>
        {% if page.pre-and-during-conf.travel-and-accommodation-blurb == "show" %}
          {% include_relative conf-page-partials/travel-and-accommodation.html %}
        {% endif %}
        {% if page.pre-and-during-conf.pre-party == "show" %}
          {% include_relative conf-page-partials/pre-party.html %}
        {% endif %}
      </div>
    </section>


    {% if page.pre-and-during-conf.speakers == "show" %}
      {% include_relative conf-page-partials/speakers.html %}
    {% endif %}


    {% if page.pre-and-during-conf.highlights == "show" %}
      {% include_relative conf-page-partials/highlights.html %}
    {% endif %}


    {% if page.pre-and-during-conf.sponsors == "show" %}
      {% include_relative conf-page-partials/sponsors.html %}
    {% endif %}


    {% if page.pre-and-during-conf.workshops == "show" %}
      {% include_relative conf-page-partials/workshop.html %}
    {% endif %}


  </main>