

// colours

  $color-black:                   #010F15;

  $color-grey-5:                  tint( $color-black, 95%);
  $color-grey-10:                 tint( $color-black, 90%);
  $color-grey-20:                 tint( $color-black, 80%);
  $color-grey-30:                 tint( $color-black, 70%);
  $color-grey-40:                 tint( $color-black, 60%);
  $color-grey-50:                 tint( $color-black, 50%);
  $color-grey-60:                 tint( $color-black, 40%);
  $color-grey-70:                 tint( $color-black, 30%);
  $color-grey-80:                 tint( $color-black, 20%);
  $color-grey-90:                 tint( $color-black, 10%);


  $color-black-5:                 rgba( $color-black, 0.05);
  $color-black-10:                rgba( $color-black, 0.1);
  $color-black-20:                rgba( $color-black, 0.2);
  $color-black-30:                rgba( $color-black, 0.3);
  $color-black-40:                rgba( $color-black, 0.4);
  $color-black-50:                rgba( $color-black, 0.5);
  $color-black-60:                rgba( $color-black, 0.6);
  $color-black-70:                rgba( $color-black, 0.7);
  $color-black-80:                rgba( $color-black, 0.8);
  $color-black-90:                rgba( $color-black, 0.9);


  $color-blue:                    #108BC1;


  $color-red:                     #C9003A;


  $color-orange:                  #FFA039;


  $color-green:                   #1bab1b;//#2CC62C;



// text
  $color-heading:                 $color-grey-90;
  $color-text:                    $color-grey-80;

  $color-info:                    $color-grey-50;
  $color-info-lighter:            $color-grey-40;
  $color-info-darker:             $color-grey-60;

// Link colors
  
  $color-link:                    $color-black;
  $color-link-hover:              $color-red;

// ui
  $color-bg:                      #f9f9f8;
  $color-ui-border:               $color-grey-10;
  $color-ui-border-lighter:       $color-grey-50;
  $color-ui-border-darker:        $color-grey-20;

  $color-striped-background:      tint($color-blue,95%);

  $form-inner-shadow-color:       transparentize($color-heading, 0.9); 