* {
margin: 0;
padding: 0;
}

body {
min-width: 960px;
background: white url(../images/bg.png) repeat-x top left;
color: #666;
font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6, #header p#header-date, #top-billing ul li p, #ticket #discount, p .event-name {
font-family:"Egyptienne URW Light", Rockwell, Cambria, Georgia, serif;
font-weight:200;
font-style:normal;
}

a {
color: #09f;
text-decoration: none;
}

a:visited {
color: #369;
}

a:hover, a:active {
color: red;
text-decoration: underline;
}

a img {
border: 0;
}

/* @group Danny's mods */

#top-billing a,
#top-billing a:hover, 
#top-billing a:active  {
	color: #fff !important;
}

#top-billing a:visited  {
	color: rgba(255,255,255,0.8) !important;
}



/* @end */

em {
	font-style:italic;
}
ul,ol,dl {
	margin:1em;
}
blockquote {
margin-bottom: 1em;
}
cite {
font-style: italic;
}
ol,ul,dl {
	margin-left:2em;
}
dl dd {
	margin-left:1em;
}
th,td {
	border: 1px solid white;
	padding: 5px;
}
th {
	font-weight:bold;
	text-align:left;
}
caption {
	margin-bottom:.5em;
	font-size: 125%;
	color: black;
	text-align:left;
}
table {
border-collapse: collapse;
border: none;
}
p,fieldset,table {
	margin-bottom:1em;
	line-height: 1.5em;
}
address {
font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
margin-bottom: 0.5em;
font-weight: normal;
color: black;
}

h1 {
font-size: 180%;
}

h2 {
font-size: 160%;
}

h3 {
font-size: 140%;
}

h4 {
font-size: 110%;
}

div {
position: relative;
text-align: left;
}

hr.divider {
clear: left;
visibility: hidden;
width: 100%;
height: 0;
border: none; 
}

#main {
float: left;
width: 65%;
}

#extra {
float: right;
width: 35%
}

#main-presentational {
padding: 0 20px 0 30px;
}

#extra-presentational {
padding: 0 50px 0 30px;
}

#header {
width: auto;
height: 167px;
}

	#header p#presents {
	padding: 27px 0 0 0;
	font-size: 80%;
	color: #999;
	}
	
	#header h1 {
	margin: 15px 0 0 0;	
	}
	
	#header h1 a {
	display: block;
	width: 479px;
	height: 58px;
	background: white url(../images/uxlogo.png) no-repeat top left;
	}

		#header h1 span {
		display: none;
		}
		
	#header p#header-date {
	color: #f60;
	font-size: 110%;
	}
	
#title {
width: 850px;
height: 90px;
}

	#title h2 {
	color: white;
	font-size: 42px;
	margin: 0;
	padding: 16px 0 0 0;
	text-shadow: 0 3px 5px #000;
	}
	
		#title h2 span {
		font-family: "Egyptienne URW Medium", Rockwell, Cambria, Georgia, serif; 
		font-size-adjust: 0.472;
		font-weight: bold;
		font-weight: 600; 
		font-style: normal;
		}
		
#top-billing {
float: left;
width: 100%;
height: auto;
}

#billing {
float: left;
width: 100%;
/*height: 200px;*/
}

#top-billing ul {
list-style-type: none;
width: 100%;
height: 331px;
margin: 0;
padding: 0;
}

	#top-billing ul li {
	margin: 1px 0 0 0;
	padding: 0;
	display: block;
	float: left;
	width: 50%;
	height: 328px;
	}
	
		#top-billing ul li p a {
		display: block;
		float: left;
		width: 100%;
		height: 68px;
		padding-top: 260px;
		}
	
		#top-billing ul li#sutherland {
		background: transparent url(../images/sutherland.jpg) no-repeat center top;
		}
		
		#top-billing ul li#reiss {
		background: transparent url(../images/reiss.jpg) no-repeat center top;
		}
		
		#top-billing ul li p span {
		display: block;
		padding: 10px 0;
		font-size: 200%;
		color: white;
		}
		
		#top-billing ul li#reiss p span {
		display: block;
		padding-left: 20px;
		}
		
#billing ul {
list-style-type: none;
width: 100%;
height: 179px;
margin: 0;
padding: 0;
}

	#billing ul li {
	margin: 10px 0 0 0;
	padding: 0;
	display: block;
	float: left;
	width: 115px;
	width: 14.285714286%;
	height: 169px;
	}

		#billing ul li p a {
		display: block;
		float: left;
		width: 100%;
		height: 45px;
		padding-top: 124px;
	font-size: 0.9em; }

	
	#billing ul li#speaker-3 {
        background: transparent url(../images/london_Claire.jpg) no-repeat center top;
	}
	
	#billing ul li#speaker-4 {
	background: transparent url(../images/jeroenvangeel.jpg) no-repeat center top;

	}
	
	#billing ul li#speaker-5 {
	background: transparent url(../images/Julian-Hirst.png) no-repeat center top;
	}
	
	#billing ul li#speaker-6 {
	background: transparent url(../images/sabrinajames.jpg) no-repeat center top;
	}
	
	#billing ul li#speaker-7 {
	background: transparent url(../images/Harry-125x125.png) no-repeat center top;
	}
	
	#billing ul li#speaker-8 {
	background: transparent url(../images/Graham-125x125.jpg) no-repeat center top;
	}
	
	#billing ul li#speaker-9 {
	background: transparent url(../images/Jon-Dodd-125x125.jpg) no-repeat center top;
	}
	
	#billing ul li p a span {
	display: block;
	color: black;
	padding: 10px 5px;
	}
	
#about {
float: left;
width: 50%;
/*padding-top: 20px;*/
padding-top: 50px;
}
	
#aims {
float: left;
width: 50%;
/*padding-top: 20px;*/
padding-top: 50px;;
}

	#aims h2, #aims h3, #aims p {
	margin-left: 20px;
	}

#ticket {
width: auto;
height: 167px;
}

	#ticket a {
	display: block;
	}

	#ticket h2 {
	font-weight: bold;
	color: #f60;
	font-size: 130%;
	margin: 0;
	margin-bottom: 0.5em;
	padding-top: 20px;
	}
	
		#ticket h2 span {
		display: block;
		color: #aaa; 
		font-size: 0.75em;
		}
	
	#ticket p {
	font-size: 80%;
	margin: 0 0 5px 0;
	}
	
	#ticket a#get {
	display: block;
	width: 240px;
	height: 40px;
	background: transparent url(../images/get.png) no-repeat top left;
	}

		#ticket a#get span {
		display: none;
		}

	#ticket #discount {
	font-weight: bold;
	font-size: 100%;
	margin-top: 5px;
	line-height: 1.3em;
	color: #f60;
	}
	
/*		#ticket #discount a {
		font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-weight: normal;
		font-size: 80%;
		}*/

#sponsors {
-webkit-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 5px;
-moz-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 5px;
box-shadow: 5px 0 5px #666;
 /* for crying out loud: 
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
*/
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;

}
		
#sponsors {
margin-top: 110px;
}

	#sponsors ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

		#sponsors ul li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: auto;
		}

			#sponsors ul li h3 {
			font-size: 100%;
			padding: 10px 20px;
			color: white;
			font-weight: bold;
			margin: 0;
			}
		
		#sponsors ul li#platinum h3 {
		background-color: #cc0606;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	border-top: 1px solid #ff6363;
}
		
		#sponsors ul li#gold h3 {
		background-color: #ff8f00;
	border-top: 1px solid rgba(255,255,0,0.66);
}
		
		#sponsors ul li#silver h3 {
		background-color: #a5a3a1;
		}
		
		#sponsors ul li#bronze h3 {
		background-color: #8c3500;
		}

			#sponsors ul li ul {
			background-color: white;
			padding: 5px 0;
			}
		
			#sponsors ul li ul li {
			text-align: center;
			margin: 0;
			padding: 5px 0;
			}

			#sponsors ul li#silver ul {
			-moz-border-radius-bottomleft: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-webkit-border-bottom-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			}

#sponsor-info {
background-color: white;
-webkit-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 5px;
-moz-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 5px;
box-shadow: 5px 0 5px #666;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
margin-top: 20px;
padding-bottom: 10px;
}

	#sponsor-info h2 {
	font-size: 100%;
	padding: 10px 20px;
	color: white;
	font-weight: bold;
	margin: 0;
	background-color: #cc0606;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	}
	
	#sponsor-info p {
	font-size: 80%;
	margin: 0.5em 20px;
	}
	
	#sponsor-info #table-presentational {
	margin: 0 20px;
	}
	
	#sponsor-info table {
	width: 100%;
	font-size: 75%;
	}
	
		#sponsor-info table th {
		width: 25%;
		background-color: #cc0606;
		color: white;
		}
	
		#sponsor-info table td {
		width: 25%;
		background-color: #efefef;
		}

#follow {
margin-top: 30px;
}

	#follow a {
	display: block;
	margin-left: 20px;
	padding: 10px 0 10px 45px;
	background: transparent url(../images/twitter.png) no-repeat left center;
	}

body#discount-page {
background: #0a2855 url(../images/discount-bg.png) repeat-x top left;
}

#discount-panel {
width: 60%;
margin: 50px auto;
background-color: white;
padding: 0 30px 30px 30px;
-webkit-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 25px;
-moz-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 25px;
box-shadow: 5px 0 25px #666;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

	#discount-panel ol li {
	margin-bottom: 1em;
	}
p .event-name {
	font-weight: bold;
	font-weight: 600;
	white-space: nowrap; }
	
	
#fontdeck {
width: 90%;
clear: both;
background: transparent url(../images/fontdeck.png) no-repeat right 0;
margin: 1em 0;
font-size: 80%;
text-align: right;
padding: 25px 85px 15px 0;
}

h4 {
	-webkit-transition: all ease-out 500ms;
}

h4:target {
	background: #000;
	color: #fff;
	
}
.time {
	font-weight: bold;
	background-color: rgba(42,87,134,0.15);
	padding: 0.125ex 0.5em;   }