{%- assign jobTitle = page.title.original -%}
{%- assign jobEmployer = page.hiringOrganization.name -%}
{%- assign metaDescription = page.title.textDescription -%}
{%- assign metaFullUrlPerm = page.permalink -%}
{%- assign metaFullUrlSlug = page.slug -%}
{%- assign metaSocialImage = page.social-image -%}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title>{{ jobTitle }} | {{ jobEmployer }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if metaDescription and metaDescription != '' %}<meta name="description" content="{{ metaDescription }}.">{% endif %}
  <meta name="robots" content="index, follow">

  <!-- Google Analytics -->
  {% include tracking-head.html %}

  <!-- Social media analytics -->
  {% include social-tracking-head.html %}

  <!-- facebook open graph tags -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://uxbri.org{% if metaFullUrlPerm and metaFullUrlPerm != '' %}{{ metaFullUrlPerm }}{% else %}/{{ metaFullUrlSlug }}/{% endif %}">
  <meta property="og:title" content="{{ jobTitle }} | {{ jobEmployer }}">
  {% if metaDescription and metaDescription != '' %}<meta property="og:description" content="{{ metaDescription }}.">{% endif %}
  {% if metaSocialImage and metaSocialImage != '' %}<meta property="og:image" content="https://uxbri.org{{ metaSocialImage }}">{% endif %}

  <!-- twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary_large_image">
  {%- if metaSocialImage and metaSocialImage != '' %}<meta name="twitter:image" content="https://uxbri.org{{ metaSocialImage }}">{% endif %}
  <meta name="twitter:domain" value="https://uxbri.org{% if metaFullUrlPerm and metaFullUrlPerm != '' %}{{ metaFullUrlPerm }}{% else %}/{{ metaFullUrlSlug }}/{% endif %}">
  <meta name="twitter:title" value="{{ jobTitle }} | {{ jobEmployer }}">
  {% if metaDescription and metaDescription != '' %}<meta name="twitter:description" value="{{ metaDescription }}.">{% endif %}
  <meta name="twitter:url" value="https://uxbri.org{% if metaFullUrlPerm and metaFullUrlPerm != '' %}{{ metaFullUrlPerm }}{% else %}/{{ metaFullUrlSlug }}/{% endif %}">

  <!-- Canonical -->
  <link rel="canonical" href="https://uxbri.org{% if metaFullUrlPerm and metaFullUrlPerm != '' %}{{ metaFullUrlPerm }}{% else %}/{{ metaFullUrlSlug }}/{% endif %}">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/stylesheets/fonts/museo/sans/font.css">
  <link rel="stylesheet" href="/stylesheets/css/styles.css">

    {% if page.art-direction and page.art-direction != '' %}
    <!-- Page-specific "art direction" styles -->
      <style>
        {{ page.art-direction }}
      </style>
      {% endif %}

    <style>
      h2 + h3 + p,
      h2 + p,
      h2 + ul {
        margin-top: 0.66em;
      }

      h2,h3 {
        margin: 1em 0 0.5em;
        line-height: 1.2;
      }

      .event-overview h2:first-of-type {
        margin-top: 0;
      }

      hr {
        margin: 2em 0;
      }
    </style>

    <!-- Job page-specific styles -->
    <style>
      .job-meta:not(:first-child):before {
        content: " · "
      }

      h2 {
        margin: 1em 0 0.5em;
      }

      h2 + h3 {
        margin: 1em 0 0.5em;
      }
    </style>

    <!-- Pre dom-ready scripts -->
    <script>
      var root = document.documentElement; root.className = 'js'; // for just-in-case no-js styles
      window.q=[]; window.$=function(f){q.push(f);}; // Make a queue for $
    </script>
</head>

<body id="top" class="relative {% if page.slug %}page-{{ page.slug }}{% endif %}{% if page.body-classes %} {{ page.body-classes }} {% endif %}">

  <!-- Google Analytics -->
  {% include tracking-body.html %}

  {% include header.html %}

	<main class="content-main-detail" role="main">

    <section id="hero" class="overlay__outer pa0 bg-grey-90">

      <div class="overlay__inner overflow-hidden bg-trans">

        <div class="container color-white">
          <h1 class="fs-xxxl leading-solid mb1">{{ jobTitle }}</h1>
          <h2 class="mt0 fs-l regular track-normal mb2">{{ jobEmployer }}</h2>
          <!-- Locality -->
          {% assign jobLocation = page.jobLocation.original %}
          {% if jobLocation and jobLocation != '' and jobLocation != 'undefined'%}
            <span class="font-museo track-normal" style="font-weight: 500;">{{ jobLocation }}</span>
          {% endif %}
          <!-- Salary -->
          {% assign salary = page.salary.original %}
          {% if salary and salary != '' and salary != 'undefined'%}
            <span class="font-museo track-normal" style="font-weight: 500;"> &#183; {{ salary }}</span>
          {% endif %}
        </div>

      </div>

    </section>

    <section id="overview" class="bg-white">
      <div class="container" style="min-height: 50vh">
        <div class="row pt pb mt3">
          {% comment %} Sidebar content {% endcomment %}
        	<div class="job-sticky-body-column u1of3-over-l right-over-l gutter-left ph0-under-l pt2">
						<aside class="job-detail_meta">
              <div class="job-logo" style="background-image: url({{ page.hiringOrganization.logo }});"></div>
              <!-- Apply button -->
              <a class="button button--green job-apply-btn mt2 pa2" href="{{ page.applicationUri }}">Apply for this job</a>
						</aside>
        	</div>
          {% comment %} Main content area {% endcomment %}
        	<div class="job-overview u2of3-over-l left-over-l gutter-right ph0-under-l pt5">
        		{{ content }}
            <div class="flex justify-center hidden-over-l">
              <!-- Apply button -->
              <a class="button button--green job-apply-btn mt2 mb2 pa2" href="{{ page.applicationUri }}">Apply for this job</a>
            </div>
        	</div>
				</div><!-- row -->
      </div><!-- container -->
    </section><!-- overview -->

    <!-- JobPosting page-specific Schema Data Structure -->
    {% comment %} <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "JobPosting",
        "title": "{{ page.title.original }}",
        "description": "{{ page.title.textDescription }}.",
        "datePosted": "{{ page.postedDate }}",
        "validThrough": "{{ page.closedDate }}",
        "employmentType": "{{ page.employmentType.original }}",
        "hiringOrganization": {
          "@type": "Organization",
          "name": "{{ page.hiringOrganization.name }}",
          "logo": "https:{{ page.hiringOrganization.logo }}"
        },
        "jobLocation": {
          "@type": "Place",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "{{ page.jobLocation.original }}",
            "addressCountry": "{{ page.jobLocation.locations[0].countryCode }}"
          }
        }
        {%- assign salary = page.salary %}
        {%- if salary %},
        "baseSalary": {
          "@type": "MonetaryAmount",
          "currency": "{{ page.salary.currencyCode }}"
          {%- assign minValue = page.salary.minValue %}
          {%- if minValue and minValue != '' %},
          "minValue": "{{ page.salary.currencySymbol }}{{ minValue }}"
          {%- endif %}
          {%- assign maxValue = page.salary.maxValue %}
          {%- if maxValue and maxValue != '' %},
          "maxValue": "{{ page.salary.currencySymbol }}{{ maxValue }}"
          {%- endif %}
        }
        {%- endif %}
      }
    </script> {% endcomment %}

    <script type="application/ld+json">
      fetch('/netlify/functions/fetchData')
        .then(response => response.json())
        .then(data => {
          const script = document.createElement('script');
          script.type = 'application/ld+json';
          script.innerHTML = JSON.stringify(data);
          document.head.appendChild(script);
        })
        .catch(error => console.error('Error fetching data:', error));
    </script>

	</main>

  {% include footer.html %}

  <!-- Social media analytics -->
  {% include social-tracking-body.html %}

</body>
</html>
