@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-100.woff') format('woff');
    font-weight:100;
    font-style:normal;
}
@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-300.woff') format('woff');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-500.woff') format('woff');
    font-weight:500;
    font-style:normal;
}
@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-700.woff') format('woff');
    font-weight:700;
    font-style:normal;
}
@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-900.woff') format('woff');
    font-weight:900;
    font-style:normal;
}


@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-100-italic.woff') format('woff');
    font-weight:100;
    font-style:italic;
}
@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-300-italic.woff') format('woff');
    font-weight:300;
    font-style:italic;
}
@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-500-italic.woff') format('woff');
    font-weight:500;
    font-style:italic;
}
@font-face {
    font-family:'museo-sans';
    src: url('museo-sans-700-italic.woff') format('woff');
    font-weight:700;
    font-style:italic;
}
