---
layout: basic
title: Jobs
subtitle: "UX & Design jobs in London, Brighton and the South East"
published: true
description: "The best place to find UX, design and research jobs in Brighton, Sussex, London and the South East of England"
permalink: /jobs2/index.html
---
<!-- image: "https://uxbrighton.org.uk/images/cards/___!!!!!____jobs.jpg"
header-image: "https://uxbrighton.org.uk/images/cards/___!!!!!____jobs.jpg" -->


<style>
  .grayscale-until-hover {
    filter: grayscale(100%);
    opacity: 0.4;
    transition: all 0.3s;
  }
  .grayscale-until-hover:hover {
    filter: grayscale(0%);
    opacity: 1;
  }

  .h-col {
    fill: #bbb;
  }


  .cols-only .hist--low .h-col--1,
  .cols-only .hist--low .h-col--2,
  .cols-only .hist--low .h-col--3,
  .cols-only .hist--low .h-col--4,


  .cols-only .hist--low-mid .h-col--4,
  .cols-only .hist--low-mid .h-col--5,
  .cols-only .hist--low-mid .h-col--6,

  .cols-only .hist--mid .h-col--5,
  .cols-only .hist--mid .h-col--6,
  .cols-only .hist--mid .h-col--7,

  .cols-only .hist--high-mid .h-col--6,
  .cols-only .hist--high-mid .h-col--7,
  .cols-only .hist--high-mid .h-col--8,

  .cols-only .hist--high .h-col--8,
  .cols-only .hist--high .h-col--9,
  .cols-only .hist--high .h-col--10,
  .cols-only .hist--high .h-col--11 {
    fill: #C9003A;
  }

  .hist--low .h-ul--1,
  .hist--low .h-ul--2,
  .hist--low .h-ul--3,
  .hist--low .h-ul--4,

  .hist--low-mid .h-ul--3,
  .hist--low-mid .h-ul--4,
  .hist--low-mid .h-ul--5,

  .hist--mid .h-ul--5,
  .hist--mid .h-ul--6,
  .hist--mid .h-ul--7,

  .hist--high-mid .h-ul--7,
  .hist--high-mid .h-ul--8,
  .hist--high-mid .h-ul--9,

  .hist--high .h-ul--8,
  .hist--high .h-ul--9,
  .hist--high .h-ul--10,
  .hist--high .h-ul--11 {
    fill: #C9003A;
  }

  .job-close, .job-close:hover {
    text-decoration: none;
    right: 24px !important;
  }

  .unless-is-fancy {
    display: none;
  }
  .is-fancy .unless-is-fancy {
    display: block;
  }

  .job-desc-column {
    top: 0;
    width: 33%;
  }

  .job-bottom-apply-btn {
    display: none;
  }
  .job-top-apply-btn {
    display: inline-block;
  }

  @media only screen and (min-width: 851px) {
    .job-desc-column {
      width: 25%;
    }
  }

  @media only screen and (max-width: 951px) {
    @media only screen and (max-width: 650px) {
      .job-desc-column {
        width: 100%;
      }
      .job-text-extended {
        margin-top: 24px;
      }
      .job-bottom-apply-btn {
        display: inline-block;
      }
      .job-top-apply-btn {
        display: none;
      }
    }
    .job-desc-column {
      margin-right: 16px;
    }
  }

    /*.h-ul--6,
    .h-ul--7,
    .h-ul--8 {
      fill: #1bab1b;
    }*/
  h2 {
    margin: 1em 0 0.5em;
  }
  h2 + h3 {
    margin: 1em 0 0.5em;
  }

  hr {
    margin: 2em 0;
  }

  .hist {
      position: relative;
      z-index: 2;
  }
  .job-meta::before {
    content:  "  ·  "
  }
  .job-meta:first-child::before {
    content:  ""
  }
  .job-target .job-show-expanded {
    display: block !important;
  }

  .js-sort-list__trigger {
    border: 0 none;
    padding: 13px 0 0;
    background: transparent;
    color: #80878a;
    font-weight: 300;
    margin-right: 3px;
    outline: none !important;
  }
  .js-sort-list__trigger span {
  }
  .js-sort-list__trigger span:hover {
    color: #C9003A;
    text-decoration: underline;
  }
  .no-js .js-sort-list__trigger,
  .js-sort-list__trigger__label--oldest,
  .js-sort-list__trigger__label--newest {
    display: none;
  }
  .js-sorted-newest-first .js-sort-list__trigger__label--newest,
  .js-sorted-oldest-first .js-sort-list__trigger__label--oldest {
    display: inline;
  }
</style>

<div class="clearfix gutters__container">

  <div class="gutters">
    {% include email-subscriptions/email-subscription-jobs.html %}
  </div>

  <div class="sticky-body-column u1of4-over-m right-over-m gutters gutter-bottom-under-m">
    <h2>Post a job ad?</h2>
    <p>
      Get in touch with us to post a vacancy for your company – email us via
      <a href="mailto:jobs@uxbri.org?subject=Post a job on UX Brighton Jobs&amp;body=Hi there, Thanks for your interest in UX Brighton Jobs. The main things we need are your name and phone number, that way we can get in touch with you to chat about your job needs.%0D%0A%0D%0AYour name:%0D%0AYour phone number:%0D%0A%0D%0AIf the job is already advertised somewhere, can you give us a link to it, please?%0D%0A%0D%0ADescription link:%0D%0A%0D%0AWe’ll get back to you ASAP.%0D%0A" title="mailto link includes instructions about what to include">jobs@uxbri.org</a>, then we’ll arrange getting your job advert live.
    </p>
    <div class="unless-is-fancy">
      <h3 class="mt6 mb2 upcoming__container__heading fs-s track-loose uppercase regular border-bottom pb1">Supporting Employers</h3>
      <a href="/jobs/company/" class="grayscale-until-hover">
        <img src="/jobs/logo%402x.png" width="190">
      </a>
    </div>
  </div>

  <div class="u3of4-over-m left-over-m gutters js-sort-list">
    <h2>Current vacancies</h2>

    <ul class="job_list no-list">
      {% comment %} Loop through `jobPosts` collection {% endcomment %}
      {% for job in site.jobPosts %}
        <li class="job_item">
          <a href="{{ job.url }}" class="drop rounded">
            <div class="job-info pa3">
              <div class="container">
                <div class="job-desc-column sticky-body-column left-over-s">
                  <div class="job-logo mr3" style="background-image: url({{ job.hiringOrganization.logo }});"></div>
                </div>
                <div class="job-text table">
                  <h3 class="job-title block-link__highlight color-blue mv0">{{ job.title.original }}</h3>
                  <p class="mv0"><strong>{{ job.hiringOrganization.name }}</strong></p>
                  <p class="mv0"><span class="job-meta">{{ job.jobLocation.original }}</span></p>
                </div>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>
