{%- comment %} ORIGINAL jobs cookie set to store data {% endcomment %}
{% if page.url contains "/jobs/" %}
  <link rel="stylesheet" type="text/css" href="/js/tooltipster-master/dist/css/tooltipster.bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="/js/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" />
  <script type="text/javascript" src="/js/tooltipster-master/dist/js/tooltipster.bundle.min.js"></script>
  <script>
    $(function() {
      $('.tooltip').tooltipster({
        animation: 'fade',
        delay: 1,
        theme: 'tooltipster-shadow'
      });
    });

    var jobs_stored  = [{% for job in site.data.jobs %}{% if job.publish == 'TRUE' %}'{{ job.job-id }}',{% endif %}{% endfor %}
    ];
    var json_str = JSON.stringify(jobs_stored);
    setCookie('jobs_stored', json_str);
  </script>
{% endif %}

{%- comment %} ORIGINAL jobs un-viewed indicator using stored cookie data to determine amount {% endcomment %}
<script>
  (function() {
    var jobs_current = [
      {% for job in site.data.jobs %}{% if job.publish == 'TRUE' %}'{{ job.job-id }}',{% endif %}{% endfor %}
    ];
    var jobs_stored = getCookie('jobs_stored');
    jobs_stored = JSON.parse(jobs_stored);
    var jobs_diff  = $(jobs_current).not(jobs_stored).get().length;
    var unviewed_number = "unviewed--single";
    if (jobs_diff > 0) {
      if (jobs_diff > 9) { jobs_diff = "9+";unviewed_number = "unviewed--double"; }
      $('.masthead__link--jobs').addClass(unviewed_number).append('<span class="unviewed">'+jobs_diff+'</span>');
    };
  })();
</script>
