{%- comment %} Jobs cookie set to store data {% endcomment %}
{% if page.url contains "/jobs" %}
<script>
  (function() {
    let jobs_stored  = [
      {% for job in site.jobPosts %}
        {% if job.status == 'LIVE' %}'{{ job.shortId }}',{% endif %}
      {% endfor %}
    ];
    let json_str = JSON.stringify(jobs_stored);
    setCookie('jobs_stored', json_str);
  })();
</script>
{% endif %}

{%- comment %} Jobs un-viewed indicator using stored cookie data to determine amount {% endcomment %}
<script>
  (function() {
    let jobs_current = [
      {% for job in site.jobPosts %}
        {% if job.status == 'LIVE' %}'{{ job.shortId }}',{% endif %}
      {% endfor %}
    ];
    let jobs_stored = getCookie('jobs_stored');
    jobs_stored = JSON.parse(jobs_stored);
    let jobs_diff  = $(jobs_current).not(jobs_stored).get().length;
    let unviewed_number = "unviewed--single";
    if (jobs_diff > 0) {
      if (jobs_diff > 9) {
        jobs_diff = '9+';
        unviewed_number = 'unviewed--double';
      }
      $('.masthead__link--jobs').addClass(unviewed_number).append('<span class="unviewed">'+jobs_diff+'</span>');
    };
  })();
</script>
