---
layout: default
title: About us and getting in touch
---

<main class="content-main-detail">
	<div class="event-detail">
		<h1>Who is UX Brighton aimed at?</h1>

		<p>You don’t need to be a "UX designer" to attend UX Brighton. We aim our events at designers, developers, project managers, entrepreneurs, copywriters and basically anyone who thinks that listening to users makes them better at their job.</p>

		<h1>About UX Brighton</h1>

		<p>UX Brighton is a community group disseminating knowledge in all aspects of user experience.</p>
		<p>Founded in 2008 by Danny Hope.</p>
		<p>We run regular meet-ups (these are always on the 2nd Tuesday of the month in central Brighton.</p>
		<p>We also run an annual conference, usually in November.</p>
		<p>We are experimenting with running special in-depth workshops.</p>

		<h1>Organisers</h1>

		<div class="content-main-about">
			<article class="organiser-blurb" id="danny">
				<header>
					<img alt="Photo of Danny" src="/images/team/danny.jpg">
					<h2><a href="http://twitter.com/yandle">Danny Hope</a>Founder</h2>
				</header>
				<p>Danny is a User Experience consultant and the founder of UX Brighton. He curates the annual UX Brighton conference. Danny is also the cofounder of <a href="http://jsbin.com">JS Bin</a>, a tool for experimenting with web languages.</p>
			</article>
			<article class="organiser-blurb" id="emm">
				<header>
				<img alt="Photo of Emm" src="/images/team/emm.jpg">
				<h2><a href="http://www.twitter.com/emm">Emmeline Caines-Gooby</a>Event Manager</h2>
				</header>
				<p>Emm has been the conference organiser since 2011, pulling together the myriad strands (and nagging Danny) to ensure the conference runs like clockwork. She also manages the monthly evening events and workshops. Emm loves lists and spreadsheets. And notebooks (the paper kind).</p>
			</article>
			<article class="organiser-blurb" id="luke">
				<header>
				<img alt="Photo of Luke" src="/images/team/luke.jpg">
				<h2><a href="http://www.twitter.com/hayluke">Luke Hay</a>Organiser</h2>
				</header>
				<p>Luke is a Senior Conversion Strategist at Fresh Egg and a freelance UX and Analytics consultant and trainer. He's been involved with UX Brighton for a couple of years and is also a co-organiser of UX Camp Brighton.</p>
			</article>
			<article class="organiser-blurb" id="alex">
				<header>
				<img alt="Photo of Alex" src="/images/team/alex.jpg">
				<h2><a href="http://www.twitter.com/alexandtheweb">Alex Goluszko</a>Organiser</h2>
				</header>
				<p>Alex is a designer and user experience practitioner with a keen interest in novel UIs and a passion for diversity in technology and design. She's been curating UX Brighton events since 2012, covering mobile user testing, healthcare UX and the Internet of Things.</p> 
			</article>
			<article class="organiser-blurb" id="patrick">
				<header>
				<img alt="Photo of Patrick" src="/images/team/patrick.jpg">
				<h2><a href="http://twitter.com/Patrick_Sansom">Patrick Sansom</a>Organiser</h2>
				</header>
				<p>Patrick founded UX Camp Brighton in 2011 and has run the event for the last three years. Currently working as a Digital Consultant at <a href="http://brilliantnoise.com/">Brilliant Noise</a>, focusing on UX strategy and delivery.</p>
			</article>
			<article class="organiser-blurb" id="tom">
				<header>
				<img alt="Photo of Tom" src="/images/team/tom.jpg">
				<h2><a href="http://www.twitter.com/tomprior">Tom Prior</a>Organiser and Volunteer</h2>
				</header>
				<p>Tom is the Creative Lead at Makemedia, and has been designing professionally since graduating in 2005. Tom collaborates closely with UX and development teams to develop the creative direction of projects from discovery workshops through to front-end fruition.</p>
			</article>
			<article class="organiser-blurb" id="tim">
				<header>
				<img alt="Photo of Tim" src="/images/team/tim.jpg">
				<h2><a href="http://www.twitter.com/timminor">Tim Minor</a>Organiser and Volunteer</h2>
				</header>
				<p>Tim has been discussing, scoping, wireframing, designing and occasionally developing the front-ends of websites since 1999, focusing on user experience and accessibility. Tim is an independent user experience consultant.</p>
			</article>
			<article class="organiser-blurb" id="harry">
				<header>
				<img alt="Photo of Harry" src="/images/team/harry.png">
				<h2><a href="http://www.twitter.com/harrybr">Harry Brignull</a>Organiser</h2>
				</header>
				<p>Harry is an independent user experience consultant who blogs at <a href="90percentofeverything.com ">90percentofeverything.com</a> and curates <a href="Darkpatterns.org">Darkpatterns.org</a> — a site dedicated to understanding deceptive user interfaces, with the aim of stamping them out and improving the web for everyone.</p>
			</article>
			<article class="organiser-blurb" id="paul">
				<header>
				<img alt="Photo of Paul" src="/images/team/paul.jpg">
				<h2><a href="http://www.twitter.com/paullferguson">Paul Ferguson</a>Volunteer</h2>
				</header>
				<p>Paul asked to be described as an inquisitive frontend developer with a bike addiction. Also a great and helpful guy!</p>
			</article>
		</div>

		<h1 id="curate">Curate an event</h1>

		<p>Got an idea for a UX Brighton event you'd like to see? We'd love it if you wanted to curate an evening and put some speakers together! We have done this loads of times and can help you at every step.</p>
		<p>We have a checklist to guide you through finding speakers, promoting the evening and running it on the night. We have a number of venues that we regularly use and can book for you. Drop <a href="mailto:emmeline@uxbrighton.org.uk">us a line</a>, join our <a href="https://slofile.com/slack/uxbri">Slack</a> or send us a <a href="http://twitter.com/uxbri">tweet</a> and we'll get you started...</p>
		
<!-- 
		<p>A good example of a public how to page: sciencehackday.org/howto</p>
 -->
	</div>
</main>
{% include nav.html %} 


