---
layout: default
---

	{% include header.html %}	
	<div class="container">
	{% for category in site.categories %}
 		{% if category contains 'archive' %}
			<h2 class="event-list-header">Past events</h2>
			<nav class="event-list-header-group">
				<ul class="filter-group">
				    <li class="filter" data-filter="event-year-2014">2014</li>
				    <li class="filter" data-filter="event-year-2013">2013</li>
				    <li class="filter" data-filter="event-year-2012">2012</li>
				    <li class="filter" data-filter="event-year-2011">2011</li>
				    <li class="filter" data-filter="event-year-2010">2010</li>
				    <li class="filter" data-filter="event-year-2009">2009</li>
				    <li class="filter" data-filter="event-year-2008">2008</li>
				</ul>
			</nav>
			<ul id="eventList" class="event-list">
			{% for posts in category %}
				{% for post in posts %}
				<li class="mix event-year-{{ post.date | date: "%Y" }} event-list-item{% if post.conference %} event-list-item-conference{% endif %}
					{% for speaker in post.speakers %}{% if speaker.talk.video %} event-list-item-video{% endif %}{% endfor %}">
					<article class="event-list-item_inner">
						<h3><a href="{{ site.url }}{{post.url}}">{{ post.title }}</a></h3>
						<p><strong>{{ post.date | date: "%d %B, %Y" }}</strong></p>
						<p>Speakers: {% for speaker in post.speakers %} {{speaker.name}}, {% endfor %}</p>
					</article>
				</li>
			  {% endfor %}
			{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
	</div>	
