<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UX Brighton - {{ page.title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
	{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

	<meta name="description" content="UX Brighton - a community group dedicated to sharing knowledge on user experience and psychology">
	<script type="text/javascript" src="http://use.typekit.com/ioj2ggz.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>	

	<link rel="stylesheet" media="all"		href="{{ relative }}2014/style/logo.css">
	<link rel="stylesheet" media="all"		href="{{ relative }}2014/style/global.css">
	<link rel="stylesheet" media="all"		href="{{ relative }}2014/style/common.css">
	<link rel="stylesheet" media="all"		href="{{ relative }}2014/style/holding-page.css">

	<link rel="apple-touch-icon" href="/images/icon.png">
	<link rel="icon" href="/images/favicon.png">	
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	 <!--[if lt IE 9]>  
	      <script src="js/html5shiv.js"></script>
	  <![endif]--> 	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-7759112-2', 'uxbrighton.org.uk');
  ga('send', 'pageview');
</script>
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> 
<script>!window.jQuery && document.write('<script src="/2014/js/jquery-1.8.0.min.js"><\/script>')</script>
</head>
<body>
<!-- {% include header-mini.html %} -->
	<header>
		<h1>
			<div class="uxbrighton2013-logo fifty-px banner-logo">
				<span class="uxbrighton2013-logo-ux">U<span class="uxbrighton2013-logo-x">X</span></span>
				<span class="uxbrighton2013-logo-brighton">Brighton</span>
				<span class="uxbrighton2013-logo-year">2014</span>
			</div>
			<div id="title">Practical Philosophy</div>
		</h1>
	</header>

	<section id="calendar">
		<div>
			<span>14th of November</span>
			<div>
				<h2>Add to calendar</h2>
				<ul id="calMenu">
					<li><a href="UX-Brighton-2014.ics">iCal or Outlook</a></li>
					<li><a href="https://www.google.com/calendar/render?action=TEMPLATE&text=UX+Brighton+2014&dates=20141114T090000Z/20141114T180000Z&details=Details:+http://uxbrighton.org.uk&location=The+Corn+Exchange+-+Brighton+Dome+-+Church+Street+-+BN1+1UG+Brighton+-+United+Kingdom&pli=1&sf=true&output=xml" target="_blank">Google Calendar</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section id="email">
		<div> <p>Early Bird tickets available now!</p>
		     <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.co.uk/tickets-external?eid=4255321782&ref=etckt" frameborder="0" height="247" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://uxbrighton2014.eventbrite.co.uk/?ref=etckt">UX Brighton 2014 - Practical Philosophy</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt">Eventbrite</a></div></div>
		       
		</div>
	</section>

	<section id="twitter">
		<div>
			<p>Follow <a href="http://twitter.com/uxbri/" title="@uxbri">@uxbri</a> on Twitter
		</div>
	</section>

<!-- 	<section class="previous-conferences">
		<div>
			<p><a href="http://2012.uxbrighton.org.uk/#schedule">Videos from UX Brighton 2012</a></p>
		</div>
	</section> -->

	<a href="https://plus.google.com/103231332974856165497" rel="publisher" style="display: none;">Google+</a>
	
	<iframe src="/2014/docs.google.com.html" hidden  width="0" height="0" tabindex="-1" title="empty"></iframe>

<script>
var heading = document.querySelector('h2'),
    container = heading.parentNode,
    items = [].slice.call(container.getElementsByTagName('a'));

function removeHover() {
  var i = items.length;
  while (i--) {
    items[i].className = '';
  }
}

heading.onmousedown = function (e) {
  e.preventDefault();
  var className = container.className;
  container.className = className === 'open' ? '' : 'open';
};

container.onmouseup = function (e) {
  if (e.target.nodeName === 'A') {
    window.location = e.target.href;
  } 
  return false;
};

document.documentElement.onmouseup = function (e) {
  if (e.target !== heading) {
    removeHover();
    container.className = '';     
  }
};

container.onmousemove = function (e) {
  removeHover();
  if (e.target.nodeName == 'A') {
    e.target.className = 'hover'; 
  }
};

$(function(){

  // grab their email address, put it into the google doc email
  // form element and subit the form in the iframe
  $('#email input[type=email]').keyup(function(){    
    
    var submitButton = $('#email input[type=submit]').attr('disabled', false);
    
    // minimal validation - just look for @  
    if ($(this).val().match(/@/)) {
      submitButton.attr('disabled', false);
    } else {
      submitButton.attr('disabled', true);
    }
  });
  
  $('#email form').submit(function(e){
    
    e.preventDefault();
    // copy email address
    $('#entry_0', window.top.frames[0].document).val($('#email input[type=email]').val()); 
    
    // submit the form
    $('#email-form input[type=submit]', window.top.frames[0].document).click();

    // we'll just assume that it got posted
    $('#email input').hide();
    $('#email .thanks').fadeIn();
  });
  
});
</script>
