---
layout: default
---
<main class="content-main-detail" role="main">
		<div class="event-detail_desc">
			<!-- Pagination links -->
			<nav class="pagination">
			  {% if page.previous.url %} 
			    <a class="prev" href="{{page.previous.url}}"><span class="sr-only">{{page.previous.title}}</span><i class="ion-chevron-left"></i></a>{% endif %}{% if page.next.url and page.next.stub == null %}<!----><a class="next" href="{{page.next.url}}"><span class="sr-only">{{page.next.title}}</span><i class="ion-chevron-right"></i></a> 
			  {% endif %}  
		</nav>	
		</div>
		<div class="conference-iframe">
			<iframe src="http://uxbrighton.org.uk/2013/" scrolling="no" frameborder="0">
			</iframe>
		</div>
</main>
{% include nav.html %} 