<!DOCTYPE html>
<html>
<head>
	<title>UX Brighton 2014 – Practical Philosophy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
	{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

	<script src="{{ relative }}2014/legacy-assets/js/modernizr.js"></script> 
	<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> 
	<script>!window.jQuery && document.write('<script src="js/jquery-1.8.0.min.js"><\/script>')</script>
	<script type="text/javascript" src="http://use.typekit.com/ioj2ggz.js"></script>
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	<link rel="stylesheet" media="all"	href="{{ relative }}2014/legacy-assets/styles/global.css">
	<link rel="stylesheet" media="all"	href="{{ relative }}2014/style/common.css">
	<link rel="stylesheet" media="all"	href="{{ relative }}2014/style/full.css">
	<link rel="stylesheet" 							href="{{ relative }}2014/legacy-assets/styles/leaflet.css" />
	<link rel="stylesheet" 							href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<!-- [if lte IE 8]>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" />
	<![endif] -->

	<!-- Icons -->
	<link rel="apple-touch-icon"				href="{{ relative }}2014/images/icon.png">
	<link rel="icon" 							href="{{ relative }}2014/images/favicon.png">
	<!--[if IE]><link rel="shortcut icon"		href="images/favicon.ico"><![endif]-->
	<!-- or, set /favicon.ico for IE10 win -->
	<!-- <meta name="msapplication-TileColor"	content="#000">-->
	<meta name="msapplication-TileImage"		content="{{ relative }}2014/images/icon.png">
</head>
<body>
{% include header-mini.html %}
<div class="photos">
	<div id="speakertiles">
		<div class="chunk1">
			<a href="#bensauer" id="speaker2">
				<img src="{{ relative }}2014/portraits/ben-sauer.jpg" alt="Ben Sauer" class="speakerphoto">
			</a>
			<a href="#andy-clarke-profile" id="speaker1">
				<img src="{{ relative }}2014/portraits/andy-clarke.jpg" alt="Andy Clarke" class="speakerphoto">
			</a>
		</div>
		<div class="chunk2">
			<a href="#anna-cox-profile" id="speaker5">
				<img src="{{ relative }}2014/portraits/anna-cox.jpg" alt="Anna Cox" class="speakerphoto">
			</a>
			<div id="speaker34">
				<a href="#andy-dennis-profile" id="speaker3">
					<img src="{{ relative }}2014/portraits/andy-dennis.jpg" alt="Andy Dennis" class="speakerphoto">
				</a>
				<a href="#sjors-timmer-profile" id="speaker4">
					<img src="{{ relative }}2014/portraits/sjors-timmer.jpg" alt="Sjors Timmer" class="speakerphoto">
				</a>
			</div>
		</div>
		<div class="chunk3">
		<div id="speaker78">
				<a href="#martinlangham" id="speaker7">
					<img src="{{ relative }}2014/portraits/martin-langham.jpg" alt="Martin Langham" class="speakerphoto" title="Martin’s face is blurred because the sensitive nature of his work means he’s obliged to not be photographed! Intriguing huh?">
				</a>
				<a href="#marianne-talbot-profile" id="speaker8">
					<img src="{{ relative }}2014/portraits/marianne-talbot.jpg" alt="Marianne Talbot" class="speakerphoto">
				</a>
			</div>
			<div id="speaker6">
				<a href="#david-helman-profile">
					<img src="{{ relative }}2014/portraits/david-helman.jpg" alt="David Helman" class="speakerphoto">
				</a>
				<!-- style should be 'stuck' when this gets scrolled to top, and viewport is 768px or greater -->
			<div class="tickets unstuck">
				<a href="http://uxbrighton2014.eventbrite.co.uk/">
					<div>
						<span class="label">Tickets only</span>
						<span class="price">£149</span>
					</div>
				</a>
			</div>
			</div>
		</div>
	</div>
</div>
<header>
	<h1>
		<div id="logo"><span><img src="{{ relative }}2014/logos/blue-and-red-on-transparent-landscape-2014.svg" alt="UX Brighton 2014"></span></div>
		<p class="datevenue"><time datetime="2014-11-14">14th November<!-- 9am–6pm --></time> <a href="#location">at The Corn Exchange, Brighton, <abbr title="United Kingdom">UK</abbr></a></p>
		<div id="title">Practical Philosophy</div>
	</h1>
</header>

<div class="description">
	<p class="intro">Unlike many conferences we gather together a mix of academic and commercial experts and curate outr talks along a very strong <em>theme</em>. This year’s theme is Practical Philosophy. You might think philosophy is esoteric but we’re going to show that it’s something you can use every day in your approach to your work.</p>
	<p class="intro">Eight thought provoking speakers have been carefully chosen to talk about how theory and research influences the way we create websites. UX Brighton 2014 blends the worlds of the practical, the theoretical, the commercial and the academic to create new connections and highlight the foundations of designing for User Experience.</p>
	<!-- 	<p><a href="https://www.youtube.com/watch?v=p7Gg2gynRnY">Watch a video of last year’s event</a></p>
	 -->
	<!-- 	<p class="intro">UX Brighton 2014 blends the worlds of both the practical and the theoretical to create new connections and highlight the foundations of designing the User Experience.</p>
	 -->	<p class="intro">Follow <a href="http://twitter.com/uxbri" rel="me">@uxbri on Twitter</a><span style="display: none;"> – <a href="https://twitter.com/#!/uxbri/speakers2012/">2012 Speakers&rsquo; tweets</a></span></p>
</div>

<div class="schedule speaker" id="video">
	<h2>Why philosophy?</h2>
	<ol>
		<li class="speaker">
			<div class="identifiers">
				<p class="speakerphoto ticket-price">
					<!-- <img src="{{ relative }}2014/images/philosophy-video.jpg"><br> -->
					<!-- <img src="{{ relative }}2014/images/taste-of-uxbrighton-video.jpg" style="margin-top: 1rem;"> -->
				</p>
			</div>
			<!-- <p>
				<iframe width="560" height="315" src="//www.youtube.com/embed/p7Gg2gynRnY" frameborder="0" allowfullscreen></iframe>
			</p> -->
			<p class="embed-container hd">
				<iframe width="560" height="315" src="//www.youtube.com/embed/7kWg4te3WeM" frameborder="0" allowfullscreen></iframe>
			</p>
		</li>
	</ol>
</div>

<div class="schedule" id="tickets">
	<h2>Tickets</h2>
	<ol>
		<li class="speaker">
			<div class="identifiers">
				<p class="speakerphoto ticket-price">
					<img src="{{ relative }}2014/images/129.png">
				</p>
			</div>
			<p>
				<iframe  src="//eventbrite.co.uk/tickets-external?eid=4255321782&ref=etckt" frameborder="0" height="347" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
				<p><a href="/2014/faq.html">Answers to ticket-related questions</a></p>
				<p><a href="/2014/why" rel="me">How to convince your boss to buy you a ticket</a></p>
			</p>
		</li>
	</ol>
</div>

<div class="testimonial">
	<!--	<blockquote><p>I thought the event was an excellent one day overview of the UX world today. A good range of subjects were covered by some really engaging speakers. The Facebook friend algorithm seminar was leading edge and I don&rsquo;t know of any other conference that delivered such insight in this area. It was an essential conference for me as a Digital Specialist.</p>
		<cite>Paul Nickerson, KCom, Delegate at UX Brighton 2011</cite>
		</blockquote>-->
		<!-- <blockquote><p>To be absolutely frank, if marketers had a proper sense of proportion, they would spend a third of their time learning about usability and customer experience. But if, as is more likely, you only have a day to spare, then there are few better places to study the subject than&nbsp;here.</p>
		<cite>Rory Sutherland, Vice-Chairman, Ogilvy &amp; Mather UK</cite></blockquote> -->
		<!-- <blockquote><p>Probably THE most exciting meeting I have been to in a long&nbsp;time</p>
		<cite>Robin Dunbar, Professor of Evolutionary Psychology and head of the Social Neuroscience Group, University&#160;of&#160;Oxford</cite></blockquote> -->
		<blockquote>Very interesting broad range of speakers. A great day that's given me a lot to think about, thanks!</blockquote>
		<cite>Steve Rowling, Delegate 2013</cite>
		<blockquote>It was the first UX conference I’ve attended. I enjoyed the speakers and got invaluable insights on how we behave, think and react in certain ways for everyday decision making. The coverage of UX problems using various case studies, such as engineering, interaction and psychology were excellent for understanding the bigger picture.</blockquote>
		<cite>Ayse Kongur, Delegate 2013</cite>
</div>

<div class="schedule" id="schedule">
	<h2>Schedule</h2>
	<ol>
		<!-- <li class="admin">
			<div class="identifiers">
				<time datetime="2014-11-14">9:00</time>
			</div>
			<h3>Registration</h3>
		</li> -->
		<!-- <li class="admin">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
			</div>
			<h3>Break</h3>
		</li> -->
		<li class="speaker" id="andy-dennis-profile">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
				<p class="speakerphoto"><img src="{{ relative }}2014/portraits/andy-dennis.jpg" alt="Andy Dennis"></p>
			</div>
			<h3><a href="#andy-dennis-profile">Andy Dennis</a></h3>
			<span>
				<h4>Reasonable Progress</h4>
				<p><strong>From the draughtsman’s table to the boardroom, the role of design has been moving from decoration to the delivery of strategic advantage.</strong></p>

				<p><strong>This shift can be described with concepts from the world of philosophy and the history of natural sciences, particularly the three models of reasoning: deduction, induction and abduction.</strong></p>

				<p><strong>Andy will discuss how we can help organisations become more resilient and sustainable; to help them not just to survive but thrive in increasingly complex situations.</strong></p>

			</span>
			<p>Andy helps people design and build digital products, services and organisations. Nowadays this mostly involves asking silly questions, sketching (with a pen or in code) and acting as a translator between business people, designers and technologists.</p>
			<p><a href="http://twitter.com/dennisimo">@dennisimo</a></p>
		</li>
		<li class="speaker" id="martinlangham">
			<div class="identifiers">
				<time datetime="2014-11-01"></time>
				<p class="speakerphoto">
					<img src="{{ relative }}2014/portraits/martin-langham.jpg" alt="Martin Langham">
				</p>
			</div>
			<h3><a href="#martinlangham">Martin Langham</a></h3>
			<span>
				<h4>War Stories: How war affects the ethics of user research</h4>
				<p><strong>User Experience professionals come from a diverse range of occupations and have very different life experiences. Those with a background in psychology come with a perhaps unique skill set. These skills will include memories of experimental design, statistics and ethics classes. This talk will discuss why international protocols exist in this domain that control when, where, and how you use the phrase – “could you test this for me?”, and you subsequently collect opinions, views, and performance data about that person’s experience.</strong></p>
				<p><strong>The talk will use examples from psychological research into safety and security products and systems. The aim is for UX people to understand their roles and responsibilities in dealing with those that participate in experiments and what 'informed consent' truly might be, and how you should protect the psychological wellbeing of the person telling you – “I love your product”.</strong></p>
			</span>
			<p><strong>Why the blurry portrait?</strong> The sensitive nature of Martin’s work means we aren’t allowed to show his face! Intrigued? Read on&hellip;</p>
			<p>Martin is a psychologist and engineer who specialises in the investigation and prevention of human error.</p>
			<p>He founded the human factors group at the University of Sussex, which successfully transferred into the science park, 10 years ago, to become User Perspective Ltd. Now the UK’s leading human factors group for transport and security.</p>			
			<p>User Perspective has completed almost 500 projects and investigations to date. Notable work has included: time in Paris for Lord Steven’s Operation Paget, where the team investigated driver error and eye witness reliability; the creation (for HM Government) of guides, training and assessment tools for security control rooms; for international organisations and friendly governments, the enhancement of security screening methods at airports.</p>
			<p>The group works across many government departments and FTSE100 companies. Work encompasses rail, marine, road, and aviation markets</p>
			<p>Martin maintains his knowledge by acting as a government auditor for research funding bodies, lecturing at several universities – including The Royal College of Art, and is ethics and technical advisor / reviewer to many organisations and scientific journals.</p>
			<p>His other business interests now extend to work investigating medical device design, human error in emergency medicine, and retained instruments during elective surgery.</p>
		</li>
		<!-- <li class="admin">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
			</div>
			<h3>Lunch</h3>
		</li> -->
		<li class="speaker" id="bensauer">
			<div class="identifiers">
				<!-- <time	 datetime="2014-11-14">14:00</time> -->
				<p class="speakerphoto"><img src="{{ relative }}2014/portraits/ben-sauer.jpg" alt="Ben Sauer"></p>
			</div>
			<h3><a href="#bensauer">Ben Sauer</a></h3>
			<span>
				<h4>Design is a Statement of Value: From Hume to Home</h4>
				<p><strong>Like many things we take for granted, the concepts of evidence and science emerged before our time. But where do these ideas come from? What came before? What does it mean to be empirical, and what can designers learn from one of its founding fathers, the radical sceptic David Hume?</strong></p> 
			</span>
			<p>After graduating with an English degree, Ben busied himself in the world of web development. It turns out that the collision of humanities and engineering is a great foundation for a career in UX design.</p>
			<p>He works at <a href="http://clearleft.com">Clearleft</a>, helping organisations such as the <strong>BBC</strong>, <strong>UNICEF</strong>, and the <strong>Wellcome Trust</strong>.</p>
			<p><a href="http://twitter.com/bensauer">@bensauer</a></p>
		</li>
		<li class="speaker" id="marianne-talbot-profile">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
				<p class="speakerphoto"><img src="{{ relative }}2014/portraits/marianne-talbot.jpg" alt="Marianne Talbot"></p>
			</div>
			<h3><a href="#marianne-talbot-profile">Marianne Talbot</a></h3>
			<span>
				<h4>Logic &amp; Argument: The Methodology of Philosophy</h4>
				<p><strong>Marianne’s talk will examine the distinction between inductive and deductive reasoning, and how they interact in our everyday thinking.  We shall consider how to recognise, analyse and evaluate arguments, and what it is that makes rationality so important, not least in the process of design.</strong></p>
			</span>
			<p>At 15, Marianne was thrown out of school for truancy and disruption. She had no qualifications whatsoever. At 26, having discovered philosophy during an arts foundation course with the Open University, she got herself into London University. In 1985 she took First Class Honours. She came to Oxford to do graduate work at Corpus Christi College, and she has been there ever since. Marianne started lecturing in 1987, first at Pembroke College (’87-’90), then at Brasenose (’90-2000). Since 2001 she has been Director of Studies in Philosophy at Oxford’s <a href="https://www.conted.ox.ac.uk">Department of Continuing Education</a>.</p>

			<p>Marianne’s <a href="http://mariannetalbot.co.uk/about/podcasts/">philosophy podcasts</a> have been downloaded millions of times. For the last six years she has hardly been out of the iTunesU top ten, several times taking global number one. On May 11th 2011 her podcasts simultaneously held every single one of the top ten download positions on iTunesU.</p>
			<p><a href="https://twitter.com/OxPhil_Marianne">@OxPhil_Marianne</a></p>
			<p><a href="http://mariannetalbot.co.uk">mariannetalbot.co.uk</a></p>
			<p>Facebook: <a href="https://www.facebook.com/mariannetalbotphilosophy">Marianne Talbot Philosophy</a></p>
		</li>
		<li class="speaker" id="sjors-timmer-profile">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
				<p class="speakerphoto"><img src="{{ relative }}2014/portraits/sjors-timmer.jpg" alt="Sjors Timmer"></p>
			</div>
			<h3><a href="#sjors-timmer-profile">Sjors Timmer</a></h3>
			<span>
				<h4>Design Beyond Business</h4>

				<p><strong>With the rise of lean everything and the obsession with neuroscience and behavioural psychology, it’s good to do a few steps back and remind ourselves that design is not about providing artefacts for a mass psychological experiment to extract money from users. Design is a contributor to a rich mix of history and society, of hopes, desires and inspirations. When done well, it creates the tools that enable us to express and shape who we are.</strong></p>

				<p><strong>The life, work and writings of architect Louis Kahn – a contemporary of Le Corbusier and van der Rohe and currently celebrated with an exhibition in London’s Design Museum–  form an engaging story of someone who managed to combine a philosophy of design and a deep understanding of history and culture into a body of work that won him the nickname of the architect’s philosopher.</strong></p>

				<p><strong>In his talk Sjors will show how his philosophical and practical framework can challenge our current notion of design and open a new way of thinking about the role of design in the digital era. We can use it to find a place for design beyond the narrow focus of business and to start asking questions about its cultural and social role.</strong></p>
			</span>
			<p>Sjors Timmer is a freelance Interaction Designer interested in exploring and stretching the boundaries of design. He currently works for the Ministry of Justice, and has worked for agencies and start-ups in the past. He is actively involved in the design community, where he co-organised UX Camp London and UXDO, a series of practical workshops for designers. He has given a number of presentations on a broad range of design subjects for diverse audiences of professionals, including a presentation on designing with time in mind at EuroIA and the design process of Rem Koolhaas at LondonIA. He has written for well-known blogs and has been featured in .Net magazine. He holds an MA in Digital Media from Goldsmiths, University of London.</p>
			<p><a href="https://twitter.com/sjors">@sjors</a></p>
		</li>
		<!-- <li class="admin">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
			</div>
			<h3>Break</h3>
		</li> -->
		<li class="speaker" id="david-helman-profile">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
				<p class="speakerphoto"><img src="{{ relative }}2014/portraits/david-helman.jpg" alt="David Helman"></p>
			</div>
			<h3><a href="#david-helman-profile">David Helman</a></h3>
			<span>
				<h4>How to Generate Software Designs from Philosophical Ideas</h4>
				<p><strong>A familiar situation for designers is where the task is to produce or augment a software system that is used within a work environment. A central characteristic of these systems is that they support industry specific processes. Dr. Helman considers three important problems for workplace software design: How can we build mechanisms in the design phase to help ensure that the software can be supported over time?</strong></p>
				<p><strong>How can we incorporate the needs and objectives of particular locations and not merely impose a single work process in contexts where it is not efficient? How can the time management elements of the software recognise the value of employees and their work product? Dr. Helman will show how ideas in the philosophy of language, the philosophy of knowledge, and political philosophy provide some deeply helpful approaches to these three problems.</strong></p>
				<p><strong>The talk will suggest particular design approaches, but its overall goal is to show generally how philosophical thinking can provide valuable insights for software design. The talk achieves its goal if after going over the examples software designers can apply philosophical ideas to their own software designs in a systematic way that aligns with the needs and the culture of the client industry.</strong></p>
			</span>
			<p>Dr. Helman has a Ph.D. in Philosophy from Harvard and an M.S. in Computer Science and Engineering. His publications are in Philosophy, Management Information Systems, Artificial Intelligence, Systems Engineering and Computer Science. For the last twenty years, he has worked as a programmer and consultant, primarily in the area of Business Intelligence.</p>
			<p><a href="https://twitter.com/davidhhelman">@davidhhelman</a></p>
		</li>
		<li class="speaker" id="anna-cox-profile">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
				<p class="speakerphoto"><img src="{{ relative }}2014/portraits/anna-cox.jpg" alt="Anna Cox"></p>
			</div>
			<h3><a href="#anna-cox-profile">Anna Cox</a></h3>
			<span>
				<h4>When Science Can Help</h4>
				<!-- <p><strong>Talk description to follow</strong></p> -->
			</span>
			<p>Anna Cox is Deputy Director of the UCL Interaction Centre and a Reader in HCI. Her research uses scientific methods to understand the interaction between people and computers. Much of her current research falls in the broad area of HCI for Health & Wellbeing: this includes work on reducing human error in the use of medical devices and exploring the influence of digital practices on wellbeing. In addition she is interested in the HCI aspects of human computation exploring areas such as citizen science, serious games and teleworking.</p>
			<p><a href="https://twitter.com/DrAnnaLCox">@DrAnnaLCox</a></p>
		</li>
		<li class="speaker" id="andy-clarke-profile">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
				<p class="speakerphoto"><img src="{{ relative }}2014//portraits/andy-clarke.jpg" alt="Andy Clarke"></p>
			</div>
			<h3><a href="#andy-clarke-profile">Andy Clarke</a></h3>
			<span>
				<h4>When Science Can’t Help</h4>
				<!-- <p><strong>Talk description to follow</strong></p> -->
			</span>	
			<p>Andrew Clarke is a designer at <a href="http://stuffandnonsense.co.uk">Stuff and Nonsense</a>, author and speaker who’s known for his design work, books, conference presentations, and contributions to the internet community. Jeffrey Zeldman (the Godfather of web standards) once called him a “triple talented bastard.” If you know of Jeffrey, you’ll know how happy that made him. Over the last sixteen years, he has made designs for amazing clients and written two books, <a href="http://stuffandnonsense.co.uk/buy/transcendingcss">Transcending CSS</a> and <a href="http://stuffandnonsense.co.uk/buy/hardboiledwebdesign">Hardboiled Web Design</a>. Andrew has given over 50 conference presentations and hosted workshops and training events for other web professionals all over the world.</p>
			<p><a href="https://twitter.com/Malarkey">@Malarkey</a></p>
		</li>
		<!-- <li class="admin">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
			</div>
			<h3>Party</h3>
			<p><a href="https://www.google.co.uk/maps/preview#!data=!1m4!1m3!1d4490!2d-0.1351313!3d50.8199789!4m12!2m11!1m10!1s0x0%3A0x977e6283f4a88c7c!3m8!1m3!1d40315!2d-0.1061897!3d50.837418!3m2!1i1024!2i768!4f13.1"><strong>Above Audio</strong>, 10 Marine Parade, Brighton BN2 1TL</a></p>
		</li> -->
		<!-- <li class="speaker" id="party">
			<div class="identifiers">
				<time datetime="2014-11-14"></time>
				<p class="speakerphoto"><img src="{{ relative }}2014/legacy-assets/latestbar.jpg" alt="Latest Music Bar"></p>
			</div>
			<h3><a href="#party">Party</a></h3>
			
			<p>The after party will be at the Latest Music Bar<br />
			14-17 Manchester Street<br />
			Brighton<br />
			East Sussex<br />
			BN2 1TF</p>
		</li> -->
	</ol>
</div>

<div class="schedule" id="tickets">
	<h2>Tickets</h2>
	<ol>
		<li class="speaker">
			<div class="identifiers">
				<p class="speakerphoto ticket-price">
					<img src="{{ relative }}2014/images/129.png">
				</p>
			</div>
			<p>
				<iframe  src="//eventbrite.co.uk/tickets-external?eid=4255321782&ref=etckt" frameborder="0" height="347" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
			</p>
		</li>
	</ol>
</div>

<div class="sponsors">
	<h2>Sponsors</h2>
	<!-- <div class="alpha">
		<h3>Alpha sponsors</h3>
		<div class="sponsor-logo">
			
		</div>
	</div> -->
	<div class="alpha">
		<h3>Alpha sponsors</h3>
		<div class="sponsor-logo">
			<a href="https://tesco.com/">
				<img src="{{ relative }}2014/logos/tesco-logo.png" class="sponsor-tesco" />
			</a>
		</div>
	</div>
	<div class="beta">
		<h3>Beta sponsors</h3>
		<div class="sponsor-logo">
			<a href="http://fireflysolutions.co.uk/">
				<img src="{{ relative }}2014/logos/firefly-logo-wide-rgb-colour.png" class="sponsor-firefly" />
				<a href="http://badoo.com/"><img src="{{ relative }}2014/logos/badoo-logo-color.png" class="sponsor-badoo" /></a>
			</a>
		</div>
	</div>
	<div class="gamma">
		<h3>Gamma Sponsors</h3>
		<div class="sponsor-logo">
			
			<a href="http://balsamiq.com/"><img src="{{ relative }}2014/logos/balsamiq-logo-color.png" class="sponsor-balsamiq" /></a>
		</div>
	</div>
	<div class="supporters" id="supporters">
		<h3>Supporters</h3>
		<div class="sponsor-logo">
			<!-- <a href="http://www.loop11.com/"><img src="{{ relative }}2014/logos/loop11-logo-black-transparent-400x178.png" class="sponsor-loop11" style="margin-right: 20px;"/></a>
			<a href="http://uxbristol.org.uk/"><img src="{{ relative }}2014/logos/UX-Bristol-logo.png" class="sponsor-uxbristol" style="margin-right: 20px;" /></a> -->
			<a href="http://www.interaction-design.org/"><img src="{{ relative }}2014/logos/interaction-design-foundation-logo-wide.jpg" class="sponsor-interaction-design-foundation" style="width: 270px;"/></a>


		</div>
	</div>
	<!-- <div class="supporters microsponsors" id="microsponsors">
		<h3>Microsponsors</h3>
		<div class="sponsor-logo">
			<a href="http://www.noporkpies.com/"><img src="{{ relative }}2014/sponsor/microsponsors/NoPorkPiesLogo.png"></a>
			<a href="http://purkiss.com/"><img src="{{ relative }}2014/sponsor/microsponsors/purkisslogo.png"></a>
			<a href="http://www.perfect-layout.com/"><img src="{{ relative }}2014/sponsor/microsponsors/perfectlayoutlogo.png"></a>
			<a href="http://www.testninjas.com/"><img src="{{ relative }}2014/sponsor/microsponsors/testninjaslogo.png"></a>
			<a href="http://www.pragmatic-web.co.uk/"><img src="{{ relative }}2014/sponsor/microsponsors/pragmatic logo.png"></a>
			<a href="http://www.nldaccountancy.com/"><img src="{{ relative }}2014/sponsor/microsponsors/NLDlogoCMYK.png"></a>
			<a href="http://www.madgex.com/"><img src="{{ relative }}2014/sponsor/microsponsors/madgexlogo.png"></a>
			<a href="http://earthapp.com/"><img src="{{ relative }}2014/sponsor/microsponsors/myearthappmoocardwithtext.png"></a>
			<a href="http://commsintelligence.co.uk/"><img src="{{ relative }}2014/sponsor/microsponsors/CommsIntelligenceLogo.png"></a>
			<a href="http://www.brightonfarm.com/"><img src="{{ relative }}2014/sponsor/microsponsors/farm.png"></a>
			<a href="http://www.electricputty.co.uk/"><img src="{{ relative }}2014/sponsor/microsponsors/ep.png"></a>
			<a href="http://dannyhope.co.uk/"><img src="{{ relative }}2014/sponsor/microsponsors/dhl logo.png"></a>
		</div>
	</div>	 -->
	<div class="sponsor-pack">
		<h3>Be a sponsor</h3>
		<p>
			<a href="{{ relative }}2014/UX-Brighton-2014-sponsor-pack.pdf">Download the sponsor pack</a>
			<br>
			Then <a href="mailto:emmeline@uxbrighton.org.uk">email Emmeline</a> to say that you’d like to sponsor
		</p>
	</div>
</div>

<!--<div class="about">
	<h2>About UX Brighton</h2>
	<p>Now in its fifth year as a growing and thriving community, the UX Brighton group regularly meet to mull over topical issues, have healthy debates and investigate User Experience in many different forms. We put on regular events which cover a wide range of topics from looking at human behavioural patterns to reviewing UX books.</p>
	<p>Danny is a User Experience Consultant and the founder of UX Brighton. He&rsquo;s worked with award-winning gallery and museum sites, content management systems and regularly gets his hands dirty working on cutting edge apps with start ups. Find him at <a href="http://twitter.com/yandle">@yandle</a>.</p>
</div>-->

<div class="location" id="location">
	<h2>About the Venue</h2>
	<div id="map"></div>
	<div id="venue-shots">
		<img src="{{ relative }}2014/images/corn-exchange-1.jpg" alt="Corn Exchange - auditorium" class="venue-shot-1" />
		<img src="{{ relative }}2014/images/corn-exchange-2.jpg" alt-"Corn Exchange - coffee and stands area" class="venue-shot-2" />
	</div>
<p class="blurb">Originally the Prince Regent&rsquo;s riding house, the Corn Exchange is a beautiful building in the heart of Brighton. You&rsquo;ll find plenty of great places to eat, sleep and shop all within close proximity.</p>
	<p>The Corn Exchange is accessible to delegates who are wheelchair users. It is also fitted with Infrared Hearing Assistance and traditional T Loops for those with hearing impairment. Please contact the venue to advance book units on&nbsp;<a href="tel:01273261587">01273&nbsp;261587</a>.</p>
</div>

<div class="legal">
	<p><a href="http://dannyhope.co.uk">&copy; Danny Hope 2014</a></p>
</div>
<i class="scripts">
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluur2h6ynl%2Crl%3Do5-9wan9a"></script>
	<script>
	// smooth scrolling
	$(function(){function filterPath(string){return string.replace(/^\//,'').replace(/(index|default).[a-zA-Z]{3,4}$/,'').replace(/\/$/,'');}
	var locationPath=filterPath(location.pathname);var scrollElem=scrollableElement('html','body');$('a[href*=#]').each(function(){var thisPath=filterPath(this.pathname)||locationPath;if(locationPath==thisPath&&(location.hostname==this.hostname||!this.hostname)&&this.hash.replace(/#/,'')){var $target=$(this.hash),target=this.hash;if(target){var targetOffset=$target.offset().top;$(this).click(function(event){event.preventDefault();$(scrollElem).animate({scrollTop:targetOffset},200,function(){location.hash=target;});});}}});function scrollableElement(els){for(var i=0,argLength=arguments.length;i<argLength;i++){var el=arguments[i],$scrollElement=$(el);if($scrollElement.scrollTop()>0){return el;}else{$scrollElement.scrollTop(1);var isScrollable=$scrollElement.scrollTop()>0;$scrollElement.scrollTop(0);if(isScrollable){return el;}}}
	return[];}});

	var tickets = $('.tickets a'),
	    ticketsTop = tickets.offset().top,
	    ticketsBottom = ticketsTop + tickets.height() - 40,
	    curtainOn = false,
	    curtain = null,
	    timer = null,
	    curtainHeight = 65; // 4rem ...sigh

	$(window).on('resize', function () {
	  clearTimeout(timer);
	  timer = setTimeout(function () {
	    ticketsTop = tickets.offset().top;
	    ticketsBottom = ticketsTop + tickets.height() - 40;
	    applyCurtain();
	  }, 200);
	}).on('scroll', applyCurtain);

	function applyCurtain() {
	  var y = scrollY,
	      delta = y - ticketsBottom,
	      opacity = 100 / curtainHeight * delta / 100;

	  if (innerWidth < 768) {
	    curtain && curtain.hide();
	  } else {
	    curtain && curtain.show();
	    if (y > ticketsBottom) {
	      if (!curtainOn) {
	        curtainOn = true;
	        curtain = tickets.parent().clone();
	        curtain.addClass('curtain').css({'top': '-' + curtainHeight + 'px', opacity: opacity }).appendTo('body');
	        curtain.removeClass('unstuck').addClass('stuck');
	      }

	      if (delta < curtainHeight) {
	        curtain.css({'margin-top': delta, opacity: opacity });
	      } else {
	        curtain.css({'margin-top': curtainHeight, opacity: 1 });
	      }
	    } else {
	      if (curtainOn) {
	        curtainOn = false;
	        if (curtain) {
	          curtain.remove();
	        }
	      }
	    }    
	  }
	}

	// the map
	var map = new L.Map('map', {scrollWheelZoom:false, 
														  layers: MQ.mapLayer(),
															center: [ 50.823871, -0.138574 ],
            									zoom: 16});
	
	var marker = new L.Marker(new L.LatLng(50.823871, -0.138574));
	map.addLayer(marker);
	
	marker.bindPopup('<a href="http://goo.gl/maps/cCk2x" style="text-decoration: none;">Corn Exchange<br />Church Street<br />Brighton<br />BN1 1UE</a>').openPopup();

	</script>

	<!-- Google Analytics -->
	<script>var _gaq=[['_setAccount','UA-7759112-2'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>

</i>						

</body>
</html>
