<!DOCTYPE html>
<html>
<head>
<title>UX Brighton 2012</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="apple-touch-icon" href="images/X.png">
<link rel="icon" href="favicon.ico">
<script src="js/modernizr.js"></script> 
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> 
<script>!window.jQuery && document.write('<script src="js/jquery-1.8.0.min.js"><\/script>')</script>
<script src="js/widowtamer-min.js"></script>
<script type="text/javascript" src="http://use.typekit.com/ioj2ggz.js"></script>
<script type="text/javascript">try{Typekit.load({
	active: function() {
  
		wt.fix({
			elements : 'p',
			method : 'nbsp',
			event : 'resize'
		});
  
	}

});}catch(e){}
</script>
<link rel="stylesheet" media="all" href="styles/global.css">
<link rel="stylesheet" href="styles/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="styles/leaflet.ie.css" />
 <![endif]-->
</head>
<body>
{% include header-mini.html %}	
<div class="photos">
	<div id="speakertiles">
		<div class="chunk1">
			<a href="#alex-wright-profile" id="speaker2">
				<img src="images/alex-wright.jpg" alt="Alex Wright" class="speakerphoto">
			</a>
			<a href="#ben-bashford-profile" id="speaker1">
				<img src="images/ben-bashford.jpg" alt="Ben Bashford" class="speakerphoto">
			</a>
		</div>
		<div class="chunk2">
			<a href="#mike-kuniavsky-profile" id="speaker5">
				<img src="images/Mike-Kuniavsky-large-brightened-square.jpg" alt="Mike Kuniavsky" class="speakerphoto">
			</a>
			<div id="speaker34">
				<a href="#karl-fast-profile" id="speaker3">
					<img src="images/karl-fast.jpg" alt="Karl Fast" class="speakerphoto">
				</a>
				<a href="#sriram-subramanian-profile" id="speaker4">
					<img src="images/sriram-subramanian.jpg" alt="Sriram Subramanian" class="speakerphoto">
				</a>
			</div>
		</div>
		<div class="chunk3">
		<div id="speaker78">
				<a href="#guy-smith-ferrier-profile" id="speaker7">
					<img src="images/GuySmithFerrier2.jpg" alt="Guy Smith-Ferrier" class="speakerphoto">
				</a>
				<a href="#mark-backler-profile" id="speaker8">
					<img src="images/MarkBackler.jpg" alt="Mark Backler" class="speakerphoto">
				</a>
			</div>
			<div id="speaker6">
				<a href="#jim-kalbach-profile">
					<img src="images/jim-kalbach.jpg" alt="Jim Kalbach" class="speakerphoto">
				</a>
				<!-- style should be 'stuck' when this gets scrolled to top, and viewport is 768px or greater -->
			<div class="tickets unstuck">
				<a href="http://uxbrighton2012.eventbrite.co.uk/">
					<div>
						<span class="label">Tickets only</span>
						<span class="price">£149</span>
					</div>
				</a>
			</div>
			</div>
		</div>
	</div>

</div>

<header>
	<h1>
		<div id="logo"><span><img src="images/logo-740x112.svg" alt="UX Brighton 2012"></span></div>
		<p class="datevenue"><time datetime="2012-11-02T09:00+00:00">2nd November 9am–6pm</time> <a href="#location">at The Corn Exchange, Brighton, <abbr title="United Kingdom" style="border-bottom: none;">UK</abbr></a></p>
		<div id="title">Past &amp; Future Interactions</div>
	</h1>
</header>

<div class="description">
<!--	<p class="intro">
		The UX Brighton team are proud to be presenting a User Experience Conference at Brighton Dome&rsquo;s Corn Exchange.
	</p>-->
	<p class="intro">
		A mix of practical and theoretical, commercial and academic – the point of this year&rsquo;s theme is that knowledge of the past informs us to create better products for the&nbsp;future.
	</p>
	<p class="intro">Follow <a href="http://twitter.com/uxbri" rel="me">@uxbri on Twitter</a><span style="display: none;"> – <a href="https://twitter.com/#!/uxbri/speakers2012/">2012 Speakers&rsquo; tweets</a></span></p>
<!--	<p>
		Whether you&rsquo;re new to the field or you&rsquo;re a design industry professional, UX Brighton 2012 is a great opportunity to absorb, learn, cogitate and debate User Experience.
	</p>
	<p>
		Blending provocative thinkers and seasoned professionals from the UK and Europe with speakers from Brighton&rsquo;s renowned UX community, we&rsquo;re here to look at how User Experience design is changing with the times.
	</p>-->
<!--	<p>
		This is our third event, after last year&rsquo;s success at UX Brighton 2011.
	</p>-->
</div>

<div class="testimonial">
<!--	<blockquote><p>I thought the event was an excellent one day overview of the UX world today. A good range of subjects were covered by some really engaging speakers. The Facebook friend algorithm seminar was leading edge and I don&rsquo;t know of any other conference that delivered such insight in this area. It was an essential conference for me as a Digital Specialist.</p>
	<cite>Paul Nickerson, KCom, Delegate at UX Brighton 2011</cite>
	</blockquote>-->
	<blockquote><p>To be absolutely frank, if marketers had a proper sense of proportion, they would spend a third of their time learning about usability and customer experience. But if, as is more likely, you only have a day to spare, then there are few better places to study the subject than&nbsp;here.</p>
	<cite>Rory Sutherland, Vice-Chairman, Ogilvy &amp; Mather UK</cite></blockquote>
	<blockquote><p>Probably THE most exciting meeting I have been to in a long&nbsp;time</p>
	<cite>Robin Dunbar, Professor of Evolutionary Psychology and head of the Social Neuroscience Group, University&#160;of&#160;Oxford</cite></blockquote>
</div>

<div class="schedule" id="schedule">

	<h2>Speakers</h2>
	
	<ol>
		<li class="speaker" id="alex-wright-profile">
			<div class="identifiers">
				<time	 datetime="2012-11-02T10:05">10:05</time>
				<p class="speakerphoto"><img src="images/alex-wright.jpg" alt="Alex Wright"></p>
			</div>
			<h3><a href="#alex-wright-profile">Alex Wright</a></h3>
			<h4>The Web That Wasn&rsquo;t: Forgotten Forebears of the Internet</h4>
			
			<iframe class="embedded-video" src="//www.youtube.com/embed/FwO4kJhfG8U?list=PL8cptV3Wr_XeocnLxunbGTMdu-_ZjOVT5" frameborder="0" allowfullscreen></iframe>

			<p>For most of us who work on the Internet, it&rsquo;s almost impossible to imagine a world without Web browsers, <abbr title="uniform resource locator">URL</abbr>s and <abbr title="hypertext transfer protocol">HTTP</abbr>. But in the years leading up to Tim Berners-Lee&rsquo;s world-changing invention, a few visionary information scientists were exploring alternative systems that often bore little resemblance to the Web as we know it today. While we might tend to think of the Web as a recent historical phenomenon, the heritage of hypertext actually stretches much further back than most of us might imagine, with conceptual roots in the so-called Second Industrial Revolution of the late nineteenth&nbsp;century.</p>
			<p>The modern high-tech industry tends to deprecate earlier technologies. This is hardly surprising, when profits are predicated on a model of planned obsolescence. But if we take a close look at some of these earlier technologies, we can find plenty of provocative concepts that have yet to be fully realised. Some of these ideas may have life in them yet, especially as Internet-based software starts to evolve beyond the browser. Today, designers and developers are exploring all kinds of new interaction models beyond the traditional Web page metaphor: browser-less apps, gestural interfaces, and even mind-reading computers. As we enter this new era, what lessons might we learn from these alternative technological&nbsp;visions?</p>
			<p>The presentation will focus on the pioneering work of early information scientists like Paul Otlet, Vannevar Bush, and Doug Engelbart, as well as later hypertext pioneers of the 1960s, 70s and 80s. In this presentation, Alex Wright will explore the heritage of these almost-forgotten systems, in search of promising ideas left by the historical&nbsp;wayside.</p>
			
			<p>Alex Wright is the Director of User Experience and Product Research at <span class="company">The New York Times</span> and the author of <a href="http://www.amazon.co.uk/Glut-History-Information-Science-Mastering/dp/0309102383">Glut: Mastering Information Through the Ages</a>, hailed by the Los Angeles Times as &ldquo;a penetrating and highly entertaining meditation on our information age and its historical&nbsp;roots.&rdquo;</p>
			<p>Alex has also led research and design projects for <abbr>IBM</abbr>, Microsoft, The Long Now Foundation, Harvard University, the Internet Archive, and Yahoo!, among others. His work has won numerous industry awards, including a Webby, Cool Site of the Year, the <abbr>PRSA</abbr> Silver Anvil and an American Graphic Design Award. He is currently a faculty member at the School of Visual Arts <abbr>MFA</abbr> program in Interaction&nbsp;Design.</p>
		</li>
		<li class="admin">
			<div class="identifiers">
				<time datetime="2012-11-02T11:25+11:05">11:05</time>
			</div>
			<h3>Break</h3>
		</li>
		<li class="speaker" id="mark-backler-profile">
			<div class="identifiers">
				<time datetime="2012-11-02T11:25">11:25</time>
				<p class="speakerphoto"><img src="images/MarkBackler.jpg" alt="Mark Backler"></p>
			</div>
			<h3><a href="#mark-backler-profile">Mark Backler</a></h3>
			<h4>Designing for Natural User Interfaces</h4>

			<iframe class="embedded-video" src="//www.youtube.com/embed/S2NZLyXWd1I?list=PL8cptV3Wr_XeocnLxunbGTMdu-_ZjOVT5" frameborder="0" allowfullscreen></iframe>

			<p>Mark will examine what designers should consider when designing for very new user interfaces. He will draw on his experiences from working with the Kinect on Lionhead&rsquo;s latest title, Fable: The Journey.</p>
			<p>Mark Backler is a game designer at <a href="http://lionhead.com/">Lionhead Studios</a> who has just finished working on Fable: The Journey. He has been in the games industry for 6 years and has also worked at Kuju and <abbr>EA</abbr>. Other games he has worked on include Harry Potter and the Order of the Phoenix, and Milo &amp; Kate.</p>
			<p><a href="https://twitter.com/markbackler">@markbackler</a></p>
		</li>
		<li class="speaker" id="guy-smith-ferrier-profile">
			<div class="identifiers">
				<time datetime="2012-11-02T11:55">11:55</time>
				<p class="speakerphoto"><img src="images/GuySmithFerrier2.jpg" alt="Guy Smith-Ferrier"></p>
			</div>
			<h3><a href="#guy-smith-ferrier-profile">Guy Smith-Ferrier</a></h3>
			<h4>Mind Control Your Computer</h4>

			<iframe class="embedded-video" src="//www.youtube.com/embed/YUyf2j2y25w?list=PL8cptV3Wr_XeocnLxunbGTMdu-_ZjOVT5" frameborder="0" allowfullscreen></iframe>

			<p>Neuroscience has changed over the last 5 years. Neuroheadsets (headsets that read brainwaves) became affordable and accessible. No longer confined the realm of professors with huge research budgets, <strong>neuroscience is accessible to everyone</strong>. In this session Guy will live demo a neuroheadset that reads brain waves and uses an <abbr title="application programming interface">API</abbr> to allow recognition of facial expressions, emotions and cognitive thought – that is, the headset can read basic, deliberate conscious thought. Although the device is aimed at the gaming market, the potential for the physically impaired is considerable. Come and see the potential of today&rsquo;s Brain Computer Interfaces.</p>
			<p>Guy is an <abbr>ASP</abbr> Insider and an <abbr>MVP</abbr> in <abbr>ASP</abbr>.<abbr>NET</abbr>. He is the author of ".<abbr>NET</abbr> Internationalization" published by Addison-Wesley. He is a Microsoft Certified Professional developer, author, trainer and speaker, has spoken at many European and <abbr>US</abbr> conferences and is an <abbr>INETA</abbr> Speaker. He runs the .<abbr>NET</abbr> Developer Network, a free <abbr>.NET</abbr> user group in the South West of England. He co-organises <abbr>DDD</abbr> South West, a free one day technical event in the South West of England. He has written over 50 magazine articles and has co-authored an application development book. You can read his blog at <a href="http://www.guysmithferrier.com/" title="Guy Smith-Ferrier">guysmithferrier.com</a>.</p>
			<p><a href="https://twitter.com/guysmithferrier">@guysmithferrier</a></p>
		</li>
		<li class="admin">
			<div class="identifiers">
				<time datetime="2012-11-02T12:25">12:25</time>
			</div>
			<h3>Lunch</h3>
		</li>
		<li class="speaker" id="ben-bashford-profile">
			<div class="identifiers">
				<time datetime="2012-11-02T13:40">13:40</time>
				<p class="speakerphoto"><img src="images/ben-bashford.jpg" alt="Ben Bashford"></p>
			</div>
			<h3><a href="#ben-bashford-profile">Ben Bashford</a></h3>
			<h4>All is Full of Love</h4>

			<iframe class="embedded-video" src="//www.youtube.com/embed/O5EYAlzvyq8?list=PL8cptV3Wr_XeocnLxunbGTMdu-_ZjOVT5" frameborder="0" allowfullscreen></iframe>

			<p>It&rsquo;s clear that an amazing new category of product is emerging. Connected devices are already changing our lives but are they ready to be domesticated? Ben&rsquo;s talk will explore a near future where our homes are shared with objects and devices that communicate and collaborate to enhance and enrich our lives and asks the question &lsquo;Is Design enough?&rsquo;.
			</p>
			<p>Ben Bashford has a background in fine art, graphics and electronic music and has been designing and building stuff for the internet in some form or another since it was subculture. His focus is on the open, pervasive and social Internet - crafting products and services that combine networked technology with physical stuff.</p>
			<p><a href="https://twitter.com/bashford">@bashford</a></p>
		</li>
		<li class="speaker" id="sriram-subramanian-profile">
			<div class="identifiers">
				<time datetime="2012-11-02T14:10">14:10</time>
				<p class="speakerphoto"><img src="images/sriram-subramanian.jpg" alt="Sriram Subramanian"></p>
			</div>
			<h3><a href="#sriram-subramanian-profile">Sriram Subramanian</a></h3>
			<h4>Beyond Multitouch: Ultrahaptics &amp; Multi-view Displays</h4>

			<iframe class="embedded-video" src="//www.youtube.com/embed/e2UcPLUPokM?list=PL8cptV3Wr_XeocnLxunbGTMdu-_ZjOVT5" frameborder="0" allowfullscreen></iframe>

			<p>Although Multi-touch devices have become common in the consumer world, users have sacrificed the tactile feedback afforded by physical buttons. The Bristol Interaction and Graphics group has been exploring various technical solutions to create the next generation of touch interfaces that support multi-point haptic feedback as well as dynamic allocation of views to different users. For example <abbr title="Bristol Interaction &amp; Graphics">BIG</abbr> recently presented a tabletop system where users can come together and view shared content or by leaning forward can get personalised views that are only visible from that particular view-point. This talk will present our recent research endeavours in this direction and present some design challenges.</p>
			
			<p>Dr Sriram Subramanian is a Professor in the Computer Science department of the University of Bristol where he co-directs the interaction and graphics group. Prior to moving to Bristol he has worked in Canada for the University of Saskatchewan and in Netherlands for Philips research labs. His primary research interest is in Human-Computer Interaction with a particularly on emphasis on novel input devices and techniques. His research involves combining hardware electronics with design to create novel and engaging end-users experiences with computer mediated systems.</p>
			<p>His most recent interests are in the design, implementation and evaluation of novel multi-view displays and multi-point haptic systems. More information is available at <a href="http://big.cs.bris.ac.uk/" title="Bristol Interaction and Graphics">Bristol Interaction &amp; Graphics</a></p>
			<p><a href="https://twitter.com/sssram">@sssram</a></p>
		</li>
		<li class="speaker" id="jim-kalbach-profile">
			<div class="identifiers">
				<time datetime="2012-11-02T14:40">14:40</time>
				<p class="speakerphoto"><img src="images/jim-kalbach.jpg" alt="Jim Kalbach"></p>
			</div>
			<h3><a href="#jim-kalbach-profile">Jim Kalbach</a></h3>
			<h4>Human Factors in Innovation: Designing for Adoption</h4>

			<iframe class="embedded-video" src="//www.youtube.com/embed/YJP6ZO476-k?list=PL8cptV3Wr_XeocnLxunbGTMdu-_ZjOVT5" frameborder="0" allowfullscreen></iframe>

			<p>The ultimate goal of innovation is user adoption: we want people to actually use the things we create in a way that impacts their lives.
			But building the better mouse trap guarantees nothing. In fact, history shows it's not the whiz-bang of technology but rather human factors that matter in the end.</p>
			
			<p>This is where <abbr title="user experience">UX</abbr> designers come in. Through empathy and understanding of people's needs and perceptions, we can increase the rate of adoption. In this talk, Jim will look at some specific design-related
			considerations in successful innovation.</p>
			
			<p>Jim Kalbach is Principal <abbr>UX</abbr> Designer with <a href="http://www.citrixonline.com/" title="Citrix Online">Citrix Online.</a> He holds a degree in library and information science from Rutgers University, as well as a Master&rsquo;s degree in music theory and composition.</p>
			<p>Jim is an active speaker and instructor on user experience, usability, and information architecture. He helped found local <abbr>UX</abbr> groups in Hamburg, as well as organize conferences in Germany and Europe. Jim is the author of the book Designing Web Navigation (O&rsquo;Reilly, August 2007). He blogs at <a href="http://www.experiencinginformation.com" title="Experiencing Information">experiencinginformation.com</a>.</p>
			<p><a href="https://twitter.com/jameskalbach">@jameskalbach</a></p>
		</li>
		<li class="admin">
			<div class="identifiers">
				<time datetime="2012-11-02T11:25">15:40</time>
			</div>
			<h3>Break</h3>
		</li>
		<li class="speaker" id="mike-kuniavsky-profile">
			<div class="identifiers">
				<time datetime="2012-11-02T16:00">16:00</time>
				<p class="speakerphoto"><img src="images/Mike-Kuniavsky-large-brightened-square.jpg" alt="Mike Kuniavsky"></p>
			</div>
			<h3><a href="#mike-kuniavsky-profile">Mike Kuniavsky</a></h3>
			<h4>How designers will reinvent manufacturing</h4>

			<iframe class="embedded-video" src="//www.youtube.com/embed/IGr8g7NrV_o?list=PL8cptV3Wr_XeocnLxunbGTMdu-_ZjOVT5" frameborder="0" allowfullscreen></iframe>

			<p>Picture a world where Amazon.com is a factory. Products are made as needed, based on direct input from users to designers and developers. Consumption directly drives production, and data informs design. If we weren't talking about physical products, this would sound a lot like Web/app interaction design, but the worlds of making atoms and bits are quickly colliding, and the implications are profound. By mapping what we have learned creating analytics-driven digital design to the physical world, we can change how everything is made, for the better.</p>
			<p>As a consultant, designer, researcher, author, and entrepreneur focused on people&rsquo;s relationship to digital tech, Mike has been involved in a wide variety of technology design and research projects since 1986.</p>
			<p>In 2001, following his role as Senior Researcher at Wired Digital, Mike co-founded Adaptive Path. He is currently leading all design efforts at <a href="http://thingm.com/" title="ThingM">ThingM</a>, a company he co-founded in 2006. Mike has worked with some of the most innovative and dynamic organisations in the world.</p>
			<p><a href="https://twitter.com/mikekuniavsky">@mikekuniavsky</a></p>
		</li>
		<li class="speaker" id="karl-fast-profile">
			<div class="identifiers">
				<time datetime="2012-11-02T17:00">17:00</time>
				<p class="speakerphoto"><img src="images/karl-fast.jpg" alt="Karl Fast"></p>
			</div>
			<h3><a href="#karl-fast-profile">Karl Fast</a></h3>
			<h4>Deep Interaction</h4>

			<iframe class="embedded-video" src="//www.youtube.com/embed/Isja8AcgHzw?list=PL8cptV3Wr_XeocnLxunbGTMdu-_ZjOVT5" frameborder="0" allowfullscreen></iframe>
			
			<p>What is the relationship between interaction and thought? Consider how you would bake a cake. You&rsquo;re in the kitchen and have the recipe on your iPad. You can read it without scrolling or even squinting. So why do you point at the screen? Why do you mutter that you need three cups of flour? Why do you arrange the ingredients on the table in a certain way? All the information you need is visible. All the ingredients are ready to hand. So why all these superfluous interactions? More importantly, why do we see these things in everything from baking a cake to playing Tetris to analysing data on sticky notes?</p>
			
			<p>Deep interaction is the idea that how we interact with the world is tightly coupled to how we think. We interact to make meaning, develop understanding, and create insight. This does not happen just in our heads. We do not simply look at the world and think. Karl call&rsquo;s this deep interaction because it involves a complex connection between mind, body, and world. Interaction is more than clicking pixels.</p>
			
			<p>Karl will explore the contours of deep interaction and examine its implications as we move from a world of keyboards and mice to a world of touch, gesture, and beyond.</p>
			
			<p>Karl Fast is a professor of User Experience Design at Kent State University. He studies how people interact with information as they try to make sense of their world. Especially in a digital world, where information is an abundant resource, and our interactive technologies are becoming more powerful and more nuanced. He studies how we think by interacting with our environment and what this means for designing the digital future.</p>
			<p>Karl is a <strong>founding member of the <a href="http://iainstitute.org" title="Information Architecture Institute">Information Architecture Institute</a></strong>.</p>
			<p><a href="https://twitter.com/karlfast">@karlfast</a></p>
		</li>
		<li class="speaker" id="party">
			<div class="identifiers">
				<time datetime="2012-11-02T18:00">18:00</time>
				<p class="speakerphoto"><img src="images/latestbar.jpg" alt="Latest Music Bar"></p>
			</div>
			<h3><a href="#party">Party</a></h3>
			
			<p>The after party will be at the Latest Music Bar<br />
			14-17 Manchester Street<br />
			Brighton<br />
			East Sussex<br />
			BN2 1TF</p>
		</li>
	</ol>

</div>

<div class="sponsors">

	<h2>Sponsorship</h2>
	
		<div class="gold">
			<h3>Gold</h3>
			<div class="sponsor-logo">
				<a href="http://www.freeagent.com/"><img src="images/freeagent_logo_grey_bg.png" class="sponsor-freeagent" /></a>
				<a href="http://brandwatch.com"><img src="images/Brandwatch-500x500.png" class="sponsor-brandwatch"></a>
			</div>
		</div>
		<div class="bronze">
			<h3>Bronze</h3>
			<div class="sponsor-logo">
				<a href="http://balsamiq.com/"><img src="images/balsamiq-logo-629x157.png" class="sponsor-balsamiq" /></a>
			</div>
		</div>
		<div class="supporters" id="supporters">
			<h3>Supporters</h3>
			<div class="sponsor-logo">
				<a href="http://aegir.me/"><img src="images/Aegir-logo.png" class="sponsor-aegir" /></a>
				<a href="http://interaction-design.org/"><img src="images/interaction-design-foundation.png" class="sponsor-interactiondesign" /></a>
				<a href="http://axure.com"><img src="images/axure-logo-grey-bg.png" alt="Axure" class="sponsor-axure" /></a> 
				<a href="http://facemediagroup.co.uk"><img src="images/Face-Media-Group.png" alt="Face Media Group" class="sponsor-face-media-group" /></a>
			</div>
		</div>
	<div class="sponsor-pack">
		<h3>Sponsor pack</h3>
		<p>We have several sponsorship levels to suit every budget.<br />Download our <a href="UX Brighton 2012 Sponsor Pack.pdf">sponsor&nbsp;pack</a> or contact <a href="mailto:emmeline@gmail.com">Emmeline</a></p>
	</div>
</div>

<!--<div class="about">
	<h2>About UX Brighton</h2>
	<p>Now in its fourth year as a growing and thriving community, the UX Brighton group regularly meet to mull over topical issues, have healthy debates and investigate User Experience in many different forms. We put on regular events which cover a wide range of topics from looking at human behavioural patterns to reviewing UX books.</p>
	<p>Danny is a User Experience Consultant and the founder of the UX Brighton community. He&rsquo;s worked with award-winning gallery and museum sites, content management systems and regularly gets his hands dirty working with complex applications for big name brands. Find him at <a href="http://twitter.com/yandle">@yandle</a>.</p>
</div>-->

<div class="location" id="location">
	<h2>About the Venue</h2>
	<div id="map"></div>
	<div id="venue-shots">
		<img src="images/corn-exchange-1.jpg" alt="Corn Exchange - auditorium" class="venue-shot-1" />
		<img src="images/corn-exchange-2.jpg" alt-"Corn Exchange - coffee and stands area" class="venue-shot-2" />
	</div>
<p class="blurb">Originally the Prince Regent&rsquo;s riding house, the Corn Exchange is a beautiful building in the heart of Brighton. You&rsquo;ll find plenty of great places to eat, sleep and shop all within close proximity.</p>
	<p>The Corn Exchange is accessible to delegates who are wheelchair users. It is also fitted with Infrared Hearing Assistance and traditional T Loops for those with hearing impairment. Please contact the venue to advance book units on <a href="tel:01273261587">01273 261587</a>.</p>
</div>

<div class="legal">
	<p>
	Mike Kuniavsky photo &ndash; <a href="http://flickr.com/photos/cassidy/55512424">Cassidy Curtis</a>
	<br />
	&copy; UX Brighton 2012
	</p>

</div>

<script src="js/leaflet.js"></script>
<script>
// smooth scrolling
$(function(){function filterPath(string){return string.replace(/^\//,'').replace(/(index|default).[a-zA-Z]{3,4}$/,'').replace(/\/$/,'');}
var locationPath=filterPath(location.pathname);var scrollElem=scrollableElement('html','body');$('a[href*=#]').each(function(){var thisPath=filterPath(this.pathname)||locationPath;if(locationPath==thisPath&&(location.hostname==this.hostname||!this.hostname)&&this.hash.replace(/#/,'')){var $target=$(this.hash),target=this.hash;if(target){var targetOffset=$target.offset().top;$(this).click(function(event){event.preventDefault();$(scrollElem).animate({scrollTop:targetOffset},200,function(){location.hash=target;});});}}});function scrollableElement(els){for(var i=0,argLength=arguments.length;i<argLength;i++){var el=arguments[i],$scrollElement=$(el);if($scrollElement.scrollTop()>0){return el;}else{$scrollElement.scrollTop(1);var isScrollable=$scrollElement.scrollTop()>0;$scrollElement.scrollTop(0);if(isScrollable){return el;}}}
return[];}});

var tickets = $('.tickets a'),
    ticketsTop = tickets.offset().top,
    ticketsBottom = ticketsTop + tickets.height() - 40,
    curtainOn = false,
    curtain = null,
    timer = null,
    curtainHeight = 65; // 4rem ...sigh

$(window).on('resize', function () {
  clearTimeout(timer);
  timer = setTimeout(function () {
    ticketsTop = tickets.offset().top;
    ticketsBottom = ticketsTop + tickets.height() - 40;
    applyCurtain();
  }, 200);
}).on('scroll', applyCurtain);

function applyCurtain() {
  var y = scrollY,
      delta = y - ticketsBottom,
      opacity = 100 / curtainHeight * delta / 100;

  if (innerWidth < 768) {
    curtain && curtain.hide();
  } else {
    curtain && curtain.show();
    if (y > ticketsBottom) {
      if (!curtainOn) {
        curtainOn = true;
        curtain = tickets.parent().clone();
        curtain.addClass('curtain').css({'top': '-' + curtainHeight + 'px', opacity: opacity }).appendTo('body');
        curtain.removeClass('unstuck').addClass('stuck');
      }

      if (delta < curtainHeight) {
        curtain.css({'margin-top': delta, opacity: opacity });
      } else {
        curtain.css({'margin-top': curtainHeight, opacity: 1 });
      }
    } else {
      if (curtainOn) {
        curtainOn = false;
        if (curtain) {
          curtain.remove();
        }
      }
    }    
  }
}

// the map
	var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
		cloudmadeAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
		cloudmade = new L.TileLayer(cloudmadeUrl, {attribution: cloudmadeAttribution});

	var map = new L.Map('map', {scrollWheelZoom:false});
	map.setView(new L.LatLng(50.822936, -0.138574), 15).addLayer(cloudmade);

	var marker = new L.Marker(new L.LatLng(50.823871, -0.138574));
	map.addLayer(marker);

	marker.bindPopup('<a href="http://goo.gl/maps/cCk2x" style="text-decoration: none;">Corn Exchange<br />Church Street<br />Brighton<br />BN1 1UE</a>').openPopup();

</script>

<!-- Google tracking stuff -->

<script>var _gaq=[['_setAccount','UA-7759112-2'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
</body>
</html>