<!DOCTYPE html>
<html iclass="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}UX Brighton</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Taken from current website -->
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ ""}}{% endif %}" >

    <!-- facebook open graph tags -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="{% if page.fullurl %}{{ page.fullurl }}{% else %}{{"https://uxbri.org/"}}{% endif %}">
      <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{"UX Brighton"}}{% endif %}" >
      <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ "UX Brighton - a community group dedicated to sharing knowledge on user experience and psychology."}}{% endif %}" >
      <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{"https://uxbri.org/images/cards/default.jpg"}}{% endif %}" >


    <!-- twitter card tags additive with the og: tags -->
      <meta name="twitter:card" content="summary_large_image" >
      <meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{"https://uxbri.org/images/cards/default.jpg"}}{% endif %}" >
      <meta name="twitter:domain" value="https://uxbri.org" ><!--test-->
      <meta name="twitter:title" value="{% if page.title %}{{ page.title }}{% else %}{{"UX Brighton"}}{% endif %}" >
      <meta name="twitter:description" value="{% if page.description %}{{ page.description }}{% else %}{{ "UX Brighton - a community group dedicated to sharing knowledge on user experience and psychology."}}{% endif %}" >
      <meta name="twitter:url" value="https://uxbri.org/{{ page.url }}" >


  <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

  <!-- Stylesheets -->
    <link rel="stylesheet" href="/2018/fonts/museo/sans/font.css">
    <link rel="stylesheet" href="/2018/stylesheets/css/styles.css?v=2019">


  <!-- Pre dom-ready scripts -->
    <script>
      var root = document.documentElement;
      root.className = 'js';
      if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) {
        root.className += ' js-touch';
      }
      // Make a queue for $
      window.q=[]; window.$=function(f){q.push(f);};
    </script>
  <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7759112-2', 'auto');
      ga('require', 'linker');
      ga(function(tracker) {
        // we need to get the _ga cross-domain value and replace it with
        // Eventbrite's _eboga requirement
        // https://www.eventbrite.com/support/articles/en_US/Troubleshooting/how-to-enable-cross-domain-and-ecommerce-tracking-with-google-universal-analytics#j_id0:HelpCenterSiteTemplate:j_id2:j_id131:articleStepsComponent:j_id132:1:j_id152
        var xdomain = tracker.get('linkerParam');
        var links = document.getElementsByTagName('a');
        Array.prototype.forEach.call(links, function(a){
          var href = a.href;
          if (href.match(/eventbrite\.co\.uk/i)) {
            var splitURL = href.split('#');
            var hash = splitURL[1];
            splitURL[0] += "?&" + xdomain.replace(/_ga/, '_eboga');
            a.href = hash == null ? splitURL[0] : splitURL[0] + '#' + hash;
          }
        });

      });
      ga('send', 'pageview');
    </script>

</head>
<body id="top" class="relative {% if page.slug %}page-{{ page.slug }}{% endif %}">

  {% include header.html %}

  {{content}}

  {% include footer.html %}

  {% include nav.html %}

</body>
</html>
