---
layout: default
---
<main class="content-main-detail" role="main">
	<section class="event-detail">
		<div class="event-detail_desc">
			<h1 class="event-title">{{page.title}}</h1>
		{% if page.upcoming %}
			<section class="event-meta">
			<ul>
				<li>
					{{page.date | date: "%d %B, %Y"}} 
					{% if page.start %}
					at {{page.start}}
					{% endif %}
				</li>
				<li>
					{% include venues.html %}
				</li>
				<li>
				{% if page.lanyrd-url %}
				Track or say you're attending on 
				<a href="{{ page.lanyrd-url }}" target="_blank">Lanyrd</a>
				{% endif %}	
				</li>
			</ul>
			<a href="{{page.url}}" title="Add to Calendar" class="addthisevent">
			    Add to Calendar
			    <span class="_start">{{page.date | date: "%d %B, %Y"}}  {{page.start}}</span>
			    <span class="_end">{{page.date | date: "%d %B, %Y"}} {{page.end}}</span>
			    <span class="_zonecode">36</span>
			    <span class="_summary">{{page.title}}</span>
			    <span class="_description"></span>
			    <span class="_location">{% if page.venue == "Fabrica" %}Fabrica, 40 Duke Street, Brighton, East Sussex, BN1 1AG{% elsif page.venue == "Lighthouse" %}Lighthouse, 28 Kensington Street, Brighton, BN1 4AJ{% else %}The venue for this event will be announced soon.{% endif %}
				</span>
			    <span class="_organizer"></span>
			    <span class="_facebook_event"></span>
			    <span class="_date_format">DD/MM/YYYY</span>
			</a>
			</section>
		{% else %}	
			This event took place on the {{page.date | date: "%d %B, %Y"}} {% if page.venue%} at {{page.venue}} {% endif %}
		{% endif %}	
			
		{{ content }}

		{% if page.conference == null %}
			{% if page.upcoming %}


			<!-- Spread the word and ticket rules - only show when event is upcoming -->
			<section class="ticket-rules">
				<h3>Ticket deposit</h3>

				<p>There is a £5 deposit for each ticket. If you would like your deposit returned, we will issue a refund as long as you attended the event and then email us a refund request within 3 days after the event.  The proceeds go towards paying for the beer and venue hire, and helping fund future evening events.

				<h3>Cancelling your ticket</h3>

				<p>Ticket cancellations before the event must be requested by noon Friday before the event. If you can no longer make it, let us know on <a href="http://www.twitter.com/uxbri">Twitter</a> or contact the event organiser/s.</p>
			{% endif %}
			</section>

			<section class="contribute-content">
				<h3>Can you contribute content to this page - or any of our <a href="/archive">event</a> pages?</h3>
				<p>If you know of slides, videos or photos from the event - or if you'd like to, let us know on GitHub.</p>
			</section>
		{% endif %}		

		</div>
		<aside class="event-detail_meta">
		{% include organisers.html %}			 
		</aside>						
	</section>	
</main>
{% include nav.html %}

