---
layout: default
---
<main class="content-main-detail" role="main">
	<section class="event-detail">
		<div class="event-detail_desc">
			<h1 class="event-title">{{page.title}}</h1>
		{% if page.upcoming %}
			<section class="event-meta">
				{% include venues.html %}
				<a href="{{page.url}}" title="Add to Calendar" class="addthisevent">
			    {{page.date | date: "%d %b"}}
				{% if page.start %}
					at {{page.start}}
				{% endif %}
				    <span class="_start">{{page.date | date: "%d %B, %Y"}}  {{page.start}}</span>
				    <span class="_end">{{page.date | date: "%d %B, %Y"}} {{page.end}}</span>
				    <span class="_zonecode">36</span>
				    <span class="_summary">{{page.title}}</span>
				    <span class="_description"></span>
				    <span class="_location">{% if page.venue == "Fabrica" %}Fabrica, 40 Duke Street, Brighton, BN1 1AG{% elsif page.venue == "Lighthouse" %}Lighthouse, 28 Kensington Street, Brighton, BN1 4AJ{% else %}Venue: <abbr title="to be announced">TBA</abbr>{% endif %}
					</span>
				    <span class="_organizer"></span>
				    <span class="_facebook_event"></span>
				    <span class="_date_format">DD/MM/YYYY</span>
				</a>
				<a href="{{page.ticket-link}}?ref=ebtn" class="ticket-button" title="{{page.title}} tickets on Eventbrite">Get your ticket</a>
<!-- 				<ul>
					<li>
						{% if page.lanyrd-url %}
							Track or say you're attending on 
							<a href="{{ page.lanyrd-url }}" target="_blank">Lanyrd</a>
						{% endif %}	
					</li>
				</ul> -->		
			</section>

			<!-- 
			{% if page.upcoming %}
			<article class="ticket-rules">
				<p>If you attend, you can email us (within a week after the event) to reclaim the cost of your ticket. Unclaimed deposits fund future&nbsp;events. If you can’t attend, you can reclaim the fee by <a href="https://twitter.com/uxbri">tweeting us</a> a week before the event.<p>
			</article>
			{% endif %} -->
		{% else %}	
			This event took place on the {{page.date | date: "%d %B, %Y"}} {% if page.venue%} at {{page.venue}} {% endif %}
		{% endif %}	
			
		{{ content }}

		{% if page.conference == null %}
			<aside class="event-detail_meta">
			{% include organisers.html %}			 
			</aside>	

			<aside class="contribute-content">
				<p><strong>Help us make this site better</strong>: <a href="mailto:feedback@uxbrighton.org.uk">Email us about missing content</a> or <a href="https://github.com/dannyhope/uxbrighton/issues/new">Submit a bug via Github</a></p>
				<!-- <p><a href="https://github.com/dannyhope/uxbrighton/tree/gh-pages/_posts">edit this page</a></p>/ -->
			</aside>
		{% endif %}		

		</div>					
	</section>	
</main>
{% include nav.html %} 

