---
layout: default
---

	{% include header.html %}	

	<div class="container">
	{{ content }}

	{% for category in site.categories %}
			<h2 class="event-list-header">Past events</h2>
			<ul id="eventList" class="event-list">
			{% for posts in category %}
				{% for post in posts %}
				<li>
					<article class="event-list-item_inner">
						<h3><a href="{{ site.url }}{{post.url}}">{{ post.title }}</a></h3>
						<p><strong>{{ post.date | date: "%d %B, %Y" }}</strong></p>
					</article>
				</li>
			  {% endfor %}
			{% endfor %}
			</ul>
	{% endfor %}
	</div>	
