---
layout: default
ishomepage: true
---
	<main class="content-main-detail" role="main">
		<header class="event-list-heading">
			<h1>What's on</h1>
		</header>
		{% for post in site.posts reversed %}
				{% if post.homepage and post.upcoming %}
					<section class="event-detail">
						<div class="event-detail_desc">
							<h1 class="event-title"><a href="{{post.url}}">{{post.title}}</a></h1>
							<ul>
								<li>
									{{post.date | date: "%d %B, %Y"}} 
									{% if post.start %}
									at {{post.start}}
									{% endif %}
								</li>
								<li>
									{% include venues.html %}
								</li>
								<li>
								{% if post.lanyrd-url %}
								Track or say you're attending on 
								<a href="{{ post.lanyrd-url }}" target="_blank">Lanyrd</a>
								{% endif %}	
								</li>
							</ul>			
							<a href="{{post.url}}" title="Add to Calendar" class="addthisevent">
							    Add to Calendar
							    <span class="_start">{{post.date | date: "%d %B, %Y"}}  {{post.start}}</span>
							    <span class="_end">{{post.date | date: "%d %B, %Y"}} {{post.end}}</span>
							    <span class="_zonecode">36</span>
							    <span class="_summary">{{post.title}}</span>
							    <span class="_description"></span>
							    <span class="_location">{% if post.venue == "Fabrica" %}Fabrica, 40 Duke Street, Brighton, East Sussex, BN1 1AG{% elsif post.venue == "Lighthouse" %}Lighthouse, 28 Kensington Street, Brighton, BN1 4AJ{% else %}The venue for this event will be announced soon.{% endif %}
								</span>
							    <span class="_organizer"></span>
							    <span class="_facebook_event"></span>
							    <span class="_date_format">DD/MM/YYYY</span>
							</a>
						</div>
						<aside class="event-detail_meta">
 						{% include organisers.html %}	
						</aside>						
					</section>	
			{% endif %}
	{% endfor %}	
	</main>	
	{% include nav.html %}	
	


