---
layout: default
ishomepage: true
---
<main class="content-main-detail" role="main">
		{% for page in site.posts reversed %}
			{% if page.homepage %}
	<section class="event-detail">
		<div class="event-detail_desc">
			<h1 class="event-title">{{page.title}}</h1>

		<!-- Ticket box -->
		{% if page.ticket-link %}
			<section class="event-meta">
				<a href="{{page.ticket-link}}?ref=ebtn" class="ticket-button" title="{{page.title}} tickets on Eventbrite">Get your ticket <span>{% if page.price %}{{page.price}}{% else %}£5 + VAT{% endif %}</span></a><!-- --><a href="{{page.url}}" title="Add to Calendar" class="addthisevent">
			    {{page.date | date: "%d %b"}}
				{% if page.start %}
					<span class="event-time">{{page.start}}</span>
				{% endif %}
				    <span class="_start">{{page.date | date: "%d %B, %Y"}}  {{page.start}}</span>
				    <span class="_end">{{page.date | date: "%d %B, %Y"}} {{page.end}}</span>
				    <span class="_zonecode">36</span>
				    <span class="_summary">{{page.title}}</span>
				    <span class="_description"></span>
				    <span class="_location">{% if page.venue == "Fabrica" %}Fabrica, 40 Duke Street, Brighton, BN1 1AG{% elsif page.venue == "Lighthouse" %}Lighthouse, 28 Kensington Street, Brighton, BN1 4AJ{% elsif page.venue == "Hotel Du Vin" %}2-7 Ship Street, Brighton, Sussex BN1 1AD{% else %}Venue: <abbr title="to be announced">TBA</abbr>{% endif %}
					</span>
				    <span class="_organizer"></span>
				    <span class="_facebook_event"></span>
				    <span class="_date_format">DD/MM/YYYY</span>
				</a>
				{% include venues.html %}
<!-- 				<ul>
					<li>
						{% if page.lanyrd-url %}
							Track or say you're attending on 
							<a href="{{ page.lanyrd-url }}" target="_blank">Lanyrd</a>
						{% endif %}	
					</li>
				</ul> -->		
			</section>		

		{% else %}
			{% if page.upcoming == true %}
				Details about this event will be posted soon.

			{% else %}	

				This event took place on the 
				{% capture pageyear %}{{page..date | date: "%Y"}}{% endcapture %}
				{% capture currentyear %}{{site.time | date: "%Y"}}{% endcapture %}
				
				{% if pageyear >= currentyear %}						
					{{ page..date | date: "%-d %B" }}
					{% else %}
					{{ page..date | date: "%-d %B %Y" }}
		 		{% endif %}			

				{% if page.venue%} at {{page.venue}} {% endif %}

			{% endif %}			

		{% endif %}	
			
		{{ page.content }}

			<aside class="event-detail_meta">
			{% include organisers.html %}			 
			</aside>
			
			{% include supporters.html %}

		</div>
	</section>

			{% endif %}

	{% endfor %}	
</main>	
{% include nav.html %}	
	


