<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UX Brighton - {{ page.title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
	{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

	<meta name="description" content="UX Brighton - a community group dedicated to sharing knowledge on user experience and psychology">
	<script type="text/javascript" src="http://use.typekit.com/ioj2ggz.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="{{ relative }}/css/styles.css">
	<link rel="apple-touch-icon" href="/images/icon.png">
	<link rel="icon" href="/images/favicon.png">
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	 <!--[if lt IE 9]>
	      <script src="js/html5shiv.js"></script>
	  <![endif]-->
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7759112-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-7759112-2');
	</script>

<!-- Hotjar Tracking Code for uxbrighton.org.uk -->
<script>
    (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:29589, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-29589.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c);
    })(window,document);
</script>

{% if page.art-direction %}
	<style media="screen">
		{{page.art-direction}}
	</style>
{% endif %}

</head>
<body style="padding: 2rem;">
	{{ content }}
</body>
</html>
