---
layout: default
---

<main class="content-main-organisers" role="main">

<h1>About us</h1>

<article class="organiser-blurb">
	<h2><a href="http://twitter.com/yandle">Danny Hope - Founder</a></h2>
	<img alt="Photo of Danny" src="/images/team/danny.jpg">
	<p>Danny is an user experience consultant and the founder of UX Brighton. He curates the annual UX Brighton conference. Danny is also the co-found of <a href="http://jsbin.com">JS Bin</a>, a tool for experimenting with web languages.</p>
</article>


<article class="organiser-blurb">
<h2><a href="http://www.twitter.com/hayluke">Luke Hay</a></h2>
<img alt="Photo of Luke" src="/images/team/luke.jpg">
<p>Luke is the UX Director at No Pork Pies where his main responsibility is to give clients insight into what users are doing on their websites. His primary focus is on user behaviour and how people interact with sites and apps.</p>
</article>

<article class="organiser-blurb">
<h2><a href="http://www.twitter.com/alexandtheweb">Alex Goluszko</a></h2>
<img alt="Photo of Alex" src="/images/team/alex.jpg">
Alex is a designer and user experience practitioner with a keen interest in novel UIs and a passion for diversity in technology and design. She's been curating UX Brighton events since 2012, covering mobile user testing, healthcare UX and the Internet of Things. </article>


<article class="organiser-blurb"><h2><a href="http://twitter.com/Patrick_Sansom">Patrick Sansom</a></h2>
<img alt="Photo of Patrick" src="/images/team/patrick.jpg">
Patrick founded UX Camp Brighton in 2011 and has run the event for the last three years. Currently working as a Digital Consultant at <a href="http://brilliantnoise.com/">Brilliant Noise</a>, focusing on UX strategy and delivery.</p></article>

<article class="organiser-blurb"><h2><a href="http://www.twitter.com/tomprior">Tom Prior</a></h2>
<img alt="Photo of Tom" src="/images/team/tom.jpg">
<p>Tom is the Creative Lead at Makemedia, and has been designing professionally since graduating in 2005. Tom collaborates closely with UX and development teams to develop the creative direction of projects from discovery workshops through to front-end fruition.</p></article>

<article class="organiser-blurb"><h2><a href="http://www.twitter.com/timminor">Tim Minor</a></h2>
<img alt="Photo of Tim" src="/images/team/tim.jpg">
<p>Tim has been discussing, scoping, wireframing, designing and occasionally developing the front-ends of websites and user experiences since 1999 focusing on user experience and accessibility. Tim is a Conversion Consultant at Propellernet.</p></article>

<article class="organiser-blurb">
<h2><a href="http://www.twitter.com/harrybr">Harry Brignull</a></h2>
<img alt="Photo of Harry" src="/images/team/harry.png">
Harry is an independent user experience consultant who blogs at <a href="90percentofeverything.com ">90percentofeverything.com</a> and curates <a href="Darkpatterns.org">Darkpatterns.org</a> — a site dedicated to understanding deceptive user interfaces, with the aim of stamping them out and improving the web for everyone.</article>

</main>





