
{%- assign datetime = homepage.hero.global.date-time -%}
{%- assign date_only = datetime | date: "%Y-%m-%d" %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ homepage.title }}",
  {%- if homepage.description %}
  "description": "{{ homepage.description }}",
  {%- endif %}
  "startDate": "{{ date_only }}",
  "endDate": "{{ date_only }}",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "location": {
    "@type": "Place",
    "name": "{{ homepage.hero.global.venue }}"
  },
  "organizer": {
    "@type": "Organization",
    "name": "UX Brighton",
    "url": "https://uxbri.org"
  }
}
</script>
