
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ page.title }}",
  {%- if page.description %}
  "description": "{{ page.description }}",
  {%- endif %}
  "startDate": "{{ page.event-date }}",
  "endDate": "{{ page.event-date }}",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "location": {
    "@type": "Place",
    "name": "{{ page.venue }}"
  },
  "organizer": {
    "@type": "Organization",
    "name": "UX Brighton",
    "url": "https://uxbri.org"
  }
}
</script>
