  <!-- <section id="styleguide"></section> -->
  <style>
    [type="checkbox"] {
      margin: 5px 5px 0 0;
    }
  </style>
  <div class="overlay-active-underlay full-screen-overlay hidden" onclick="$('body').attr('data-overlay-active','false');"></div>
  <footer class="bg-grey-90 color-grey-10 pv5">
    <div class="container pt1 pb3">
      <div class="row">
        <div class="u1of2-over-m left-over-m gutter-right mb5"  id="newletter-signup">
          <div class="inline-block center-under-m">
            <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Sign up for updates</h2>
            <script>

              // function to write the current options into a data attribute which is in turn passed to analytics
              function newsOption(returnValue,returnOption) {

                var newsletterType = returnValue.split("-")[0];
                var currentOptions = $('[data-news-options]').first().attr('data-news-options');
                var replacementSubString;
                var revisedOptions;

                if (returnOption == "include") {
                  replacementSubString = newsletterType;
                  $('[type="checkbox"][id^='+newsletterType+']').prop('checked', true);
                } else {
                  replacementSubString = "no";
                  $('[type="checkbox"][id^='+newsletterType+']').prop('checked', false);
                }

                if (newsletterType == "conference") {
                  revisedOptions = replacementSubString + "-" + currentOptions.split("-")[1] + "-" + currentOptions.split("-")[2];
                } else if (newsletterType == "newsletter")  {
                  revisedOptions = currentOptions.split("-")[0] + "-" + replacementSubString + "-" + currentOptions.split("-")[2];
                } else {
                  revisedOptions = currentOptions.split("-")[0] + "-" + currentOptions.split("-")[1] + "-" + replacementSubString;
                }



                $('[data-news-options]').attr('data-news-options', revisedOptions);
              }

              // send the current options to google analytics
              function newsletterAnalytics (event) {
                var newsletterOptions = $(this).attr('data-news-options');
                if (newsletterOptions == "no-no-no") {
                  event.preventDefault();
                  $(this).closest('.js-email-signup').find('.js-email-no-choice').slideDown()
                }
                ga("send", "event", "newsletter", "signup", newsletterOptions);
              }

              $(function() {

                // click handler for newsOption function
                $('.js-email-signup input[type="checkbox"]').change(function() {
                  var returnVal = $(this).attr('id');
                  if(this.checked) {
                    newsOption(returnVal,"include");
                  } else {
                    newsOption(returnVal,"exclude");
                  }
                });

              }); // dom ready

            </script>
            <form action="https://sendy.uxbrighton.org.uk/msubscribe" method="POST" accept-charset="utf-8" class="newletter-signup js-email-signup">
              <label class="screen-reader-text" for="fieldEmail">Email</label>
              <div class="input-group mt1 mb1">
                <input id="fieldEmail" name="email" type="email" required="" placeholder="Your email" class="input-group__field border--none rounded-left" onfocus="document.getElementById('newsletter-options').className = 'show'">
                <input onclick="newsletterAnalytics.call(this,event);" data-news-options="conference-newsletter-evening" type="submit" value="Sign up" name="subscribe" id="subscribe" class="button input-group__button button--green rounded-right js-mailinglist-submit">
              </div><!-- input-group -->
              <div id="newsletter-options" class="hidden">
                <h3 class="bold pb0 block regular screen-reader-text">
                  Which topics are of interest to you?
                </h3>
                <div class="js-email-no-choice hidden color-black mv1"><strong>👇 Please select at least one option</strong></div>
                <div style="padding-top: 4px;">
                  <input id="conference-mailinglist" name="list[]" value="tE7kdODDq3zHNYJKOkdOAA" type="checkbox" checked class="left">
                  <label class="table" for="conference-mailinglist" class="">Conference news and workshops</label>
                </div>
                <div style="padding-top: 4px;">
                  <input id="newsletter-mailinglist" name="list[]" value="cbdLJAjiH5csEhKZFWEtJQ" type="checkbox" checked class="left">
                  <label class="table" for="newsletter-mailinglist" class="">Link Digest: interesting links picked by the UX Brighton team</label>
                </div>
                <div style="padding-top: 4px;">
                  <input id="evening-events-mailinglist" name="list[]" value="G6t21K8OuZVMD429r6RZ0g" type="checkbox" checked class="left">
                  <label class="table" for="evening-events-mailinglist" class="">Evening events</label>
                </div>
              </div>
              <div style="display:none;">
                <label for="hp">HP</label><br/>
                <input type="text" name="hp" id="hp"/>
              </div>

            </form>
            <div class="js-signup-confirmation button--green" style="padding: 1rem; display: none;">
              <strong>Thanks!</strong> Please look out for the sign up email that we've just sent you.
            </div>
          </div>
        </div><!-- u1of2-over-s -->
        <div class="u1of2-over-m left-over-m gutter-left pb3">
          <div class="inline-block right-over-m center-under-m">
            <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Follow us</h2>
            <nav class="social-icons icons-currentColor pt1 clearfix">
              <a class="social-icons__link social-icons__link--slack" href="http://slack.uxbrighton.org.uk" onclick='ga("send", "event", "slack", "signup", "slackgroup");'>
                <span class="screen-reader-text">slack</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#slack"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--linkedin" href="https://www.linkedin.com/company/ux-brighton">
                <span class="screen-reader-text">linkedin</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#linkedin"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--youtube" href="https://www.youtube.com/channel/UC9hOYRFJn2NgV406gr9jajw">
                <span class="screen-reader-text">youtube</span>
                <svg viewBox="0 0 579 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#youtube"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--twitter" href="https://twitter.com/uxbri">
                <span class="screen-reader-text">twitter</span>
                <svg viewBox="0 0 493 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#twitter"></use>
                </svg>
              </a>
              <a class="social-icons__link social-icons__link--facebook" href="https://www.facebook.com/uxbrighton/" style="width:30px;">
                <span class="screen-reader-text">facebook</span>
                <svg viewBox="0 0 409 409">
                  <use xlink:href="/2018/images/icons/social-sprite.svg#icon-facebook2"></use>
                </svg>
              </a>
            </nav>
          </div>

        </div><!-- u1of2-over-s -->
      </div><!-- row -->

      <div class="row text-center pt3">
       <a class="bold inline-block" href="/2019/about">About UX Brighton</a> &nbsp;&middot;&nbsp; <a class="bold inline-block" href="http://dannyhope.co.uk/">A Danny Hope Production</a>
      </div>


      <form id="slack-signup" class="hidden form-inline bg-white z4 triangle-top-right mr2" action="https://slofile.com/slack/uxbri/invite" accept-charset="UTF-8" method="post" target="slackFrame">
        <div class="pa3">
          <h2 class="mb1" style="font-size: 21px; letter-spacing: -0.02em;">Your Email Address</h2>
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="authenticity_token" value="PWn79CzsqJB996ucMtB+K9FMPe+7eYsWJx9s8RI82qpKZdztqM46BM3PH7EiTiWVYgzuSOodP5eud36luQeT9Q==">
          <div class="input-group mt1 mb1">
            <label class="screen-reader-text" for="email">Email</label>
            <input type="email" name="email" id="email" value="" placeholder="Email Address" class="input-group__field border--none rounded-left">
            <input type="submit" name="commit" value="Join" class="button input-group__button button--green rounded-right">
          </div>
        </div>
      </form>

    </div><!-- container -->
  </footer>

<!-- <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script> -->
    <!-- uncompressed -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
 <!-- compressed -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
  <!-- slim & compressed  https://blog.jquery.com/2016/06/09/jquery-3-0-final-released/ -->
  <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/2.0.0/jquery.mobile-events.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>
    // pop the queue for dollar created in the header
    try { $.each(q,function(i,f){$(f)});} catch(e) {}

    $(function() {
      var options = { valueNames: [ 'post-excerpt'] };
      var userList = new List('js-archive-nav', options);
    });
  </script>
  <script src="/2018/javascripts/scripts-min.js?v=feb"></script>
