.abstract {
	display: none;
}
#party {
	display: none;
}
div.alpha,
div.beta {
	display: none;
}

.sponsors .supporters.microsponsors div.sponsor-logo img {
 height: 1.8rem;
 margin: 0 20px 20px 0;
}

/* @group Top photos */

a#speaker1 img {
	background-color: #c8d8e1; mc-schraefel
}
a#speaker2 img {
	background-color: #f9f0e6; nathalie nahai
}
a#speaker34 img {
	background-color: #502946; maggie-boden
}
a#speaker4 img {
	background-color: #af936e; patrick-w-jordan
}
a#speaker5 img {
	background-color: #82b6e3; yvonne-rogers
}
a#speaker6 img {
	background-color: #d3c2b2; susan-weinschenk
}
a#speaker7 img {
	background-color: #cbba98; blay-whitby
}
a#speaker8 img {
	background-color: #fbfbf5; simon-norris
}

/* @end */
nav.notice a {
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.25);
	background-color: rgb(11,138,193);
	text-align: center;
	padding: 0.5rem;
	color: white;
	}
	nav.notice a:hover {
		background-color: rgb(199,10,60);
		}
div.photos {
	top: 3rem !important;
	}