<style>
  .video-box a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 190px;
    color: #e6e7e8;
    text-decoration: none;
    background: right center / contain no-repeat, #000 50%;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1em;
  }

  .video-box a::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    content: '\2023';
    font-size: 6em;
    line-height: 0;
  }

  .video-box h3,
  .video-box p {
    text-wrap: balance;
    /* color | offset-x | offset-y | blur-radius */
    text-shadow: #000 5px 1px 5px;
    line-height: 1;
    max-width: 90%;
    margin: 0;
  }

  .video-box h3 {
    font-size: 2.2rem;
    letter-spacing: 1px;
    word-break: keep-all;
    margin-block-end: 0.5rem;
  }

  .video-box p {
    font-size: 1.2rem;
  }
</style>

{% if homepage.highlights.visibility == true %}
<section id="highlights" class="bg-grey-5">
  <div class="container">
    <h2 class="mb2 gutter-top">{{ homepage.highlights.title }}</h2>
    <div class="row mt0">
      <div class="u2of3-over-l left-over-l pr0-under-l">
        <div class="clearfix">
          {% for entry in homepage.highlights.video %}
            <div class="video-box u1of2-over-m left-over-m">
              <a href="{{ entry.url }}" style="background-image: url('{{ entry.thumbnail }}')">
                <h3>{{ entry.title }}</h3>
                <p>{{ entry.speaker }}</p>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="u1of3-over-l right-over-l gutter-left pb3 pt3-under-s pt1">
        <blockquote>
          <div class="quote">
            <p>{{ homepage.highlights.testimonial.quote }}</p>
          </div>
          <div class="quotee">{{ homepage.highlights.testimonial.quotee }}</div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
{% endif %}
